/* KapitalBoost */
.logo {
	width: 20rem !important;
}

.head-bg {
    background-image: url('https://kapitalboost.com/assets/images/landImage.jpg');
}

.signup-box.box {
    padding: 6% !important;
}

h3 {
	margin: 0 0 0.5rem !important;
}

.color-charcoal {
    color: #212325 !important;
}

.field-wrapper label:not(.checkbox-label):not(.radio-label) {
    opacity: 0.8 !important;
}

.hero-5-2 .media-column {
    background-image: none !important;
}

.font35 {
	font-size: 3.5rem !important;
    font-weight: 600 !important;
}

.tms-overlay {
	background-color: rgba(33, 35, 37, 0.5) !important;
}

h1 {
    font-size: 4rem !important;
}

.form-element, textarea {
    background-color: #E7E7E7 !important;
}

.g-recaptcha {
	background-color: #fff !important;
	border : 0px !important;
}

iframe {
	background-color: #fff !important;
}
.tms-overlay {
    opacity: 0.5!important;
}

