/* KapitalBoost */
.logo {
	width: 20rem !important;
}

.head-bg {
    /*background-image: url('https://kapitalboost.com/assets/images/landImage.jpg');*/
    background-image: url('./../images/hd-gambar.jpg');
}
.head-bg-2 {
    /*background-image: url('https://kapitalboost.com/assets/images/landImage.jpg');*/
    background-image: url('./../images/gambar.jpg');
}

.signup-box.box {
    padding: 3% 6% !important;
}

h3 {
	margin: 0 0 0.5rem !important;
}

.color-charcoal {
    color: #212325 !important;
}

.field-wrapper label:not(.checkbox-label):not(.radio-label) {
    opacity: 0.8 !important;
}

.hero-5-2 .media-column {
    background-image: none !important;
}

.font35 {
	font-size: 3.5rem !important;
    font-weight: 600 !important;
}

.tms-overlay {
	background-color: rgba(33, 35, 37, 0.5) !important;
}

h1 {
    font-size: 4rem !important;
}

h1.smallest {
	font-size: 3.7rem !important;
}

.form-element, textarea {
    background-color: #E7E7E7 !important;
}

.g-recaptcha {
	background-color: transparent !important;
	border : 0px !important;
}

iframe {
	background-color: #fff !important;
}
.tms-overlay {
    opacity: 0.5!important;
}

/* Update Styling */
#home .caption {
	padding-right: 80px;
}
.home-page .header {
	position: absolute !important;
	background: transparent;
}
.home-page .header .header-inner {
	background: transparent;
	border: none;
}

@media(max-width: 992px) {
	.home-page .header {
		position: absolute !important;
		background: transparent;
	}
	.home-page .header .header-inner {
		background: transparent;
		border: none;
	}
}

.wrapper .content {
	background: transparent;
}

.section-block h1 {
	font-family: 'Ubuntu', sans-serif;
}
.section-block h1 > b {
	font-size: 5rem;
	display: block;
}
.section-block p {
	font-family: 'Ubuntu', sans-serif;
}

[data-section="what-we-do"].bkg-blue {
	background-color: rgba(66, 96, 145, .3);
}

[data-section="what-we-do"] p {
	text-align: justify;
	margin-bottom: 2rem;
}

.register-form .form-submit {
	margin-top: 0px;
	display: block;
	width: 100%;
	background-color: rgb(244, 130, 32);
	border-color: rgb(244, 130, 32);
	font-weight: 500;
  font-size: 1.8rem !important;
}

.register-form .form-submit:hover {
	background-color: rgb(218, 116, 29);
	border-color: rgb(218, 116, 29);
}

.parallax-window {
	top: 0;
	left: 0;
	position: absolute;
	min-height: 570px;
	width: 100%;
	background: transparent;
	z-index: -1;
}

@media(max-width: 992px) {
	[data-section="what-we-do"] {
		padding: 5rem 0;
	}

	.parallax-window {
		min-height: 800px;
		width: 130%;
	}
}

.form-element::-webkit-input-placeholder {
	color: rgba(70,70,70,.3);
}
.form-element:not(.g-recaptcha) {
	background: #f5f5f5 !important;
  font-family: 'Open Sans';
  font-weight: 300;
  border-radius: 0 !important;
  border-color: rgba(70,70,70,.3);
}

@media(max-width: 620px) {
	.parallax-window {
		min-height: 1000px;
		width: 130%;
	}
	.form-element.medium.g-recaptcha {
		padding: 0;
	}
	.form-element {
		padding: 5px;
	}
	#home {
		padding: 9.5rem 0 5rem;
	}
	#home .bkg-white {
		background: rgba(255, 255, 255, .8);
		border: none;
	}
	.form-element.medium {
		padding: .7rem 1.5rem;
		margin-bottom: 1rem;
	}
	#home h1 {
		font-size: 2.8rem!important;
	}
	#home h1 b {
		font-size: 3rem;
	}
	#home .lead {
		font-size: 1.5rem;
	}
	#home .caption {
		padding-right: 0;
	}
}

[data-section="why-us"] .boxes {
	margin-top: 80px;
}

[data-section="why-us"] .boxes .horizon {
	margin-bottom: 30px;
}

.media {
	display: block;
	margin-top: 50px;
}

.media .img {
	float: left;
	width: 60px;
	margin-right: 20px;
}
.media .img > img {
	position: relative;
	top: -15px;
}

.media .content {
	float: left;
	width: calc(100% - 80px);
}

.media .content > h4 {
	margin-bottom: 5px;
}

@media (max-width: 840px) {
	[data-section="action"] .lead {
		text-align: center;
		display: block;
		width: 100%;
	}

	[data-section="action"] .action-button {
		display: inline-block;
		width: 50%;
		margin: auto;
	}
}

[data-section="recognition"] .item > img {
	width: auto;
	height: 100px !important;
	margin-bottom: 20px;
}

[data-section="recognition"] .item > h2 {
	font-weight: 500;
	font-size: 26px;
	color: rgba(50, 50, 50, 1);
	margin-bottom: 5px;
}

[data-section="recognition"] .item > p {
	font-weight: 300;
	font-size: 18px;
	color: rgba(50, 50, 50, .7);
	margin-bottom: 0;
	line-height: normal;
}

[data-section="compliance"] .item > img {
	position: relative;
	top: -10px;
}
[data-section="compliance"] .item > p {
	text-align: left;
	font-size: 18px;
	line-height: 26px;
}

[data-section="testimonial"].bkg-grey-ultralight {
	background-color: #dfe6e9;
}

[data-section="testimonial"] .testi {
	width: 60%;
	margin: auto;
}

[data-section="testimonial"] .testi .caption {
	font-size: 18px;
}

[data-section="testimonial"] .testi h5 {
	font-size: 20px;
	font-weight: 500;
}

[data-section="testimonial"] .round {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
	padding: 3px;
	background: #fff;
}

[data-section="testimonial"] .slick-prev:before,
[data-section="testimonial"] .slick-next:before {
	color: #6b6767;
}

@media(max-width: 640px) {
	.head-bg,
	.head-bg-2 {
		background-position: 40% !important;
	}

	[data-section="compliance"] .item {
		text-align: center !important;
	}

	[data-section="compliance"] .item > p {
		text-align: center !important;
	}
}

.action-button .bkg-blue {
	background: rgb(244, 130, 32);
	border-color: rgb(244, 130, 32);
}

.action-button .bkg-blue:hover {
	background: rgb(218, 116, 29);
	border-color: rgb(218, 116, 29);
}
