.logokb{
	max-width: 200px;
	margin-left: 20%;
}

.pad30{
	padding: 30px 30px 0px;
}

.fullwidth{
	min-width: 100%;
}

.slide-home1{
	min-height: 650px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(../assets/images/Slide1.jpg);
    background-size: cover;
}
.slide-home2{
	min-height: 650px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(../assets/images/Slide2.jpg);
    background-size: cover;
}
.slide-home3{
	min-height: 650px;
	background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(../assets/images/Slide3.jpg);
    background-size: cover;
}

.padding-0 {
	padding: 0px !important;
}
.margin-0 {
	margin: 0px !important;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 60px;
    left: 15%;
    z-index: 10; 
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption h3 {
	font-size: 35px;
	font-weight: 600;
}
.carousel-caption p {
	font-size: 23px;
	font-weight: 300;
}

.menu-kb {
	padding: 20px 12px;
	font-size: 13px;
	font-weight: 400;
	color: #3E4651;
	cursor: pointer;
	height: 100%;
	letter-spacing: 1px;
	border-top: 3px solid transparent;
}

.menu-kb:hover {
	color: #3FA5EA;
	border-top-color: #3FA5EA;
}

.center-text {
	text-align: center 
}

.campaign-title{
	font-weight:500;
}

.campaign-detail {
	font-weight:500;
	font-size: 17px;
}

.border1 {
    border: 1px solid #E7E7E7;
}

.card-hover-shadow:hover {
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,0.3);
    box-shadow: 0 0 35px rgba(0,0,0,0.3);
}

.section-title {
    margin-top: 55px;
    font-weight: 500;
}

.separator-line{
    width: 150px;
    display: table !important;
    margin: 0 auto !important;
    height: 2px;
    background-color: #48b0f7 ;
}

.margin-top50 {
    margin-top: 45px;
}

.background-white {
    background-color: #fff;
}

.what-we-do{
    padding: 5px 60px;
    font-size: 16px;
}

.section-wwd {
    font-weight: 500;
}

.margin-bottom30{
    margin-bottom: 60px;
}

.full-width {
    width: 100%;
    height: 100%;
}
.video-what-we-do{
    padding: 25px 60px;
    font-size: 16px;
}
.background-blue {
    background-color: #3FA5EA;
}

.white {
    color: #fff;
}

.separator-line-white{
    width: 150px;
    display: table !important;
    margin: 0 auto !important;
    height: 2px;
    background-color: #fff;
}

.div-center {
    margin: 0 auto !important;
    background-color: #395B99;
    border-radius: 50%;
    width: 90px;
    text-align: center;
    height: 90px; 
    box-shadow: 0 0 0 5pt #fff;
}

.middle-content {
    vertical-align: middle;
    display: table-cell;
}

.icon-dash {
    margin-left: auto;
    margin-right: auto;
}

.outer {
    display: table;
    margin: 0 auto !important;
}

.color-white {
    color: #fff !important;
}

.wwd-title {
    font-weight: 500;
}

.width70 {
    width: 70%;
    margin: 0 auto;
}