/* start default */
input,
button,
select,
option,
textarea {
       outline: none;
       border: none;
}
input:focus,
button:focus,
select:focus,
option:focus,
textarea:focus {
       outline: none;
}
textarea {
       overflow: none;
}
a:hover {
       text-decoration: none;
}
/* end default */



/* start xfers balance */
.xfersBalance {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 70px 0 0 0;
       background: #f2f2f2;
}
.XBInner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 60%;
       padding: 165px 0;
       margin: 48px 0 55px 0;
       background: white;
}
.XBInner::before {
       content: '';
       display: inline-block;
       position: absolute;
       bottom: -13px;
       left: 0;
       height: 13px;
       width: 100%;
       background: #00b0fd;
}
.XBLogo,
.XBTitle,
.XBYourBalance,
.XBButton {
       display: inline-block;
       position: relative;
       height: auto;
       width: 81%;
       padding: 0;
       margin: 0;
}
.XBTitle > p {
       font-size: 24px;
       color: #305e8e;
       font-weight: bold;
       margin: 19px 0 23px 0;
}
.XBYourBalance > div {
       display: inline-block;
       position: relative;
       height: auto;
       padding: 0;
       margin: 0;
       float: left;
}
.XBYourBalance > div:first-child {
       width: 100%;
}
.XBYourBalance > div:last-child {
       width: 20%;
}
.XBYourBalance > div:first-child > span {
       font-size: 16px;
       color: #8e8e8e;
}
.XBYourBalance > div:first-child > p {
       font-size: 24px;
       color: #00b1f9;
       font-weight: bold;
       margin: 5px 0;
}
.XBYourBalance > div:last-child > span {
       font-size: 24px;
       color: #305e8e;
       margin: 7px 0 2px 0;
}
.XBYourBalance > div:last-child > p {
       font-size: 12px;
       color: #305e8e;
       font-weight: bold;
}
.XBButton {
       padding: 23px 0 0 0;
}
.XBButton > div {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 0;
}
.XBButton > div > form > button {
       height: 44px;
       width: 249px;
       border-radius: 10px;
       -o-border-radius: 10px;
       -ms-border-radius: 10px;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       font-size: 16px;
       color: white;
       font-weight: bold;
}
.XBButton > div:first-child > form > button {
       background: #00b0fd;
}
.XBButton > div:last-child > form > button {
       background: #909090;
}
/* end xfers balance */



/* start xfers otp */
.xfersOtp {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 70px 0 0 0;
       background: #f2f2f2;
}
.XOInner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 52%;
       padding: 165px 0;
       margin: 48px 0 55px 0;
       background: white;
}
.XOInner::before {
       content: '';
       display: inline-block;
       position: absolute;
       bottom: -13px;
       left: 0;
       height: 13px;
       width: 100%;
       background: #00b0fd;
}
.XOLogo,
.XOVerif,
.XOForm {
       display: inline-block;
       position: relative;
       height: auto;
       width: 81%;
       padding: 0;
       margin: 0;
}
.XOTitle > p {
       font-size: 24px;
       color: #305e8e;
       font-weight: bold;
       margin: 15px 0;
}
.XOForm > form > input {
       display: block;
       border: 2px solid #f2f2f2;
       height: 37px;
       width: 64%;
       padding: 0 15px;
       margin: 0 0 21px 0;
       border-radius: 25px;
       font-size: 16px;
       text-align: center;
}
.XOForm > form > button {
       display: block;
       height: 44px;
       width: 249px;
       border-radius: 10px;
       -o-border-radius: 10px;
       -ms-border-radius: 10px;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       background: #00b0fd;
       font-size: 16px;
       color: white;
       font-weight: bold;
}
/* end xfers otp */



/* start xfers transferinfo */
.xfersTransferinfo {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 70px 0 0 0;
       background: #f2f2f2;
}
.XTInner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 60%;
       padding: 46px 0;
       margin: 48px 0 55px 0;
       background: white;
}
.XTInner::before {
       content: '';
       display: inline-block;
       position: absolute;
       bottom: -13px;
       left: 0;
       height: 13px;
       width: 100%;
       background: #00b0fd;
}
.XTLogo,
.XTTitle,
.XTText,
.XTInfo,
.XTText2,
.XTNote,
.XTButton {
       display: inline-block;
       position: relative;
       height: auto;
       width: 81%;
       padding: 0;
       margin: 0;
}
.XTTitle > p {
       font-size: 24px;
       color: #305e8e;
       font-weight: bold;
       margin: 15px 0;
}
.XTText > p {
       font-size: 14px;
       color: #404040;
       line-height: 1.5em;
       margin: 0 0 30px 0;
}
.XTInfo {
       list-style: none;
       text-align: left;
}
.XTInfo > li {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 0;
}
.XTInfo > li > div {
       display: inline-block;
       position: relative;
       height: auto;
       padding: 0;
       margin: 0;
       float: left;
}
.XTInfo > li > div:nth-child(1) {
       width: 33%;
}
.XTInfo > li > div:nth-child(2) {
       width: 2%;
}
.XTInfo > li > div:nth-child(3) {
       width: 65%;
}
.XTInfo > li > div > p {
       font-size: 16px;
       color: #305e8e;
       margin: 0 0 16px 0;
}
.XTInfo > li > div:first-child > p {
       font-weight: bold;
}
.XTText2 > p {
       font-size: 12px;
       color: #404040;
       text-align: center;
       margin: 0 0 0 0;
}
.XTNote {
       background: #f3f3f3;
       margin: 21px 0 18px 0;
}
.XTNote > p {
       font-size: 12px;
       color: #404040;
       padding: 0 1%;
}
.XTButton > form > button {
       height: 44px;
       width: 249px;
       border-radius: 10px;
       -o-border-radius: 10px;
       -ms-border-radius: 10px;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       background: #00b0fd;
       font-size: 16px;
       color: white;
       font-weight: bold;
}
/* end xfers transferinfo */



/* start xfers thank you */
.xfersThankYou {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 70px 0 0 0;
       background: #f2f2f2;
}
.XTYInner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 68%;
       padding: 68px 0;
       margin: 48px 0 55px 0;
       background: white;
}
.XTYInner::before {
       content: '';
       display: inline-block;
       position: absolute;
       bottom: -13px;
       left: 0;
       height: 13px;
       width: 100%;
       background: #00b0fd;
}
.XTYText,
.XTYText2,
.XTYText3,
.XTYText4,
.XTYLink {
       display: inline-block;
       position: relative;
       height: auto;
       width: 90%;
       padding: 0;
       margin: 0;
}
.XTYText > p {
       font-size: 24px;
       color: #305e8e;
}
.XTYText2 > p {
       font-size: 16px;
       color: #363636;
       margin: 15px 0 20px 0;
}
.XTYText2 > p > span {
       color: #305e8e;
}
.XTYText3 > p {
       font-size: 16px;
       color: #363636;
}
.XTYText4 {
       margin: 25px 0 0 0;
       border-top: 2px solid #ebebeb;
}
.XTYText4 > p {
       font-size: 14px;
       color: #00aefd;
       margin: 25px 0;
}
.XTYLink {
       list-style: none;
}
.XTYLink > li {
       display: inline-block;
       position: relative;
       height: 45px;
       width: auto;
       padding: 0;
       margin: 0;
}
.XTYLink > li:nth-child(2),
.XTYLink > li:nth-child(3) {
       margin: 0 1%;
}

.kpb-button-g {
       height: 44px;
       width: 249px;
       border-radius: 10px;
       -o-border-radius: 10px;
       -ms-border-radius: 10px;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
       background: #00b0fd;
       font-size: 16px;
       color: white;
       font-weight: bold;
}

@media screen and (max-width: 767px) {/* Phone Screen */
       .XOInner {
              width:100%
       }
       .XBInner{
              width:95%;
       }
       .XTInner{
              width:95%;
       }
}