body{
	background:#ecf5fe; 
	font-family: 'proxima_nova_rgregular', sans-serif;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


.bg-cover-page{ position: fixed; top: 0; left: 0; right:0; bottom:0; z-index:-999; min-width: 100%; width: 100%; min-height:100%; height:100%; background:url(../images/page-login-bg.jpg) no-repeat center center; background-size:cover;}

/*********************** login ***********************************/
.login-panel-wrapper{
	margin-top:10%;
	margin-bottom:5%;
	width:70%;
}
.login-panel-container{
	display: table;
	border: 5px solid rgba(255, 255, 255, .2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.login-left-panel-wrapper{
	float: none; 
    display: table-cell; 
    vertical-align: top;
	background:#fff;
	border-bottom:5px solid #e1e1e1;
	width:75%;
	color:#1e1e1e;
}
.login-left-panel-container{
}
.login-right-panel-wrapper{
	position:relative;
	float: none; 
    display: table-cell; 
    vertical-align: top;
	background:#f8f6e6;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f8f6e6), to( #e9e7d5));
	background-image: -webkit-linear-gradient( #f8f6e6 , #e9e7d5 );
	background-image:    -moz-linear-gradient( #f8f6e6 , #e9e7d5 );
	background-image:     -ms-linear-gradient( #f8f6e6 , #e9e7d5 );
	background-image:      -o-linear-gradient( #f8f6e6 , #e9e7d5 );
	background-image:         linear-gradient( #f8f6e6 , #e9e7d5 );
	border-bottom:5px solid #d7d5c3;
	width:35%;
	color:#fff;
}
.login-right-panel-container{
}

.login-logo-wrapper{
	float: none; 
    display: table-cell; 
    vertical-align: middle;
	padding:15px;
}
.login-logo-wrapper img{width:100%;}
.login-logo-small-dev-wrapper{
	display:none;
	background:#f6742d;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #ff9b50), to( #ff7e37));
	background-image: -webkit-linear-gradient( #ff9b50 , #ff7e37 );
	background-image:    -moz-linear-gradient( #ff9b50 , #ff7e37 );
	background-image:     -ms-linear-gradient( #ff9b50 , #ff7e37 );
	background-image:      -o-linear-gradient( #ff9b50 , #ff7e37 );
	background-image:         linear-gradient( #ff9b50 , #ff7e37 );
	padding:15px;
	height:60px;
}
.login-logo-small-dev-wrapper img{height:100%;}

.login-btns-wrapper{
	position:absolute;
	background:#f6742d;
	width:100%;
	bottom:0;
	right:0;
	font-family: 'roboto_condensedregular';
	font-size:16px;
}
.login-btn-small-dev-wrapper{
	display:none;
	background:#f6742d;
}
.btn-forgot-password{
	display:block;
	border-bottom:1px solid #ff7e37;
	padding:15px;
	color:#ffe3d3;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-forgot-password:hover{
	background:#ff3c00;
	text-decoration:none;
	color:#fff;
}
.btn-need-help{
	display:block;
	padding:15px;
	color:#ffe3d3;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-need-help:hover{
	background:#ff3c00;
	text-decoration:none;
	color:#fff;
}





/************************ top area *******************************/
.top-panel-wrapper{
	background:#eb5f99; 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e38aac, endColorstr=#eb5f99);
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e38aac), to( #eb5f99));
	background-image: -webkit-linear-gradient( #e38aac , #eb5f99 );
	background-image:    -moz-linear-gradient( #e38aac , #eb5f99 );
	background-image:     -ms-linear-gradient( #e38aac , #eb5f99 );
	background-image:      -o-linear-gradient( #e38aac , #eb5f99 );
	background-image:         linear-gradient( #e38aac , #eb5f99 );
	border-bottom:1px solid #a7476f;
	height:50px;
}
.top-panel-inner-wrapper{
	padding-left:15px;
}

.top-title-wrapper, .top-title-wrapper2{
	float:right;
	padding-right:15px;
	width:auto;
	font-family: 'roboto_slabbold', sans-serif;
	font-size:17px;
	letter-spacing:0.04em;
	text-transform:uppercase;
	line-height:50px;
	color:#fff;
}

.top-logo-wrapper{float:left; max-width:120px; margin-top:5px; height:40px;}
.top-logo-wrapper img{height:100%;}

.top-user-wrapper{
	float:right;
	border-left:1px solid #a7476f;
	width:auto;
}
.top-user-pic-wrapper{
	float:right;
	margin:5px 0 0 10px;
	width:40px;
	height:40px;
}
.top-user-pic-wrapper img{
	width:100%;
	overflow:hidden;
	border:2px solid #a7476f;
	border-radius:50%;
}
.top-user-info-wrapper{
	float:right;
	width:auto;
	font-size:16px;
	line-height:40px;
	color:#ffda82
}
.top-user-info-arrow{
	float:right;
}
.top-user-info-arrow span.caret{
	color:#fff;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.top-user-info-content-wrapper{
	float:right;
	padding-right:5px;
	width:auto;
}
.top-user-info-name{
	display:block;
	font-family: 'roboto_condensedregular', sans-serif;
	font-size:16px;
	color:#fff389;
}
.top-user-info-designation{
	display:block;
	font-family: 'robotoregular', sans-serif;
	font-size:12px;
	color:#fff;
}
.main-top-user-btn{
	border:none;
	background:none;
	padding-top:0;
	padding-bottom:0;
	height:50px;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	-webkit-box-shadow:none;
  	box-shadow: none;
	border-radius:0;
	text-shadow:none;
	text-align:right;
}
.main-top-user-btn:hover{
	background:none;
}
.main-top-user-btn:hover span.caret{
	color:#fff;
}
.main-top-user-btn.btn-default:hover,
.main-top-user-btn.btn-default:focus,
.main-top-user-btn.btn-default:active,
.main-top-user-btn.btn-default.active,
.main-top-user-btn.open .dropdown-toggle.btn-default {
	color: #fff;
	background:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

/*.main-top-user-btn:hover span.glyphicon-user,.main-top-user-btn:hover div.main-top-user-icon{
	background:#285d8f;
	color:#fff;
}*/
.main-top-user-drop.dropdown-menu {
	left:inherit ;
	right:0;
  	margin-top:0;
	padding-top:0;
	padding-bottom:0px;
  	background-color:none;
  	border: 1px solid #a7476f;
  	border: 1px solid rgba(0, 0, 0, 0.15);
	border-top:none;
	border-right:none;
	border-radius:0;
  	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
  	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background:#c14678; 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c14678, endColorstr=#c14678);
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c14678), to( #c14678));
	background-image: -webkit-linear-gradient( #c14678 , #c14678 );
	background-image:    -moz-linear-gradient( #c14678 , #c14678 );
	background-image:     -ms-linear-gradient( #c14678 , #c14678 );
	background-image:      -o-linear-gradient( #c14678 , #c14678 );
	background-image:         linear-gradient( #c14678 , #c14678 );
	font-family: 'robotoregular', sans-serif;
}
.main-top-user-drop.dropdown-menu li a{
	border-bottom:1px solid #a7476f;
	padding-top:0;
	padding-bottom:0;
	padding-top:5px;
	padding-bottom:5px;
	color:#fff;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	-webkit-box-shadow:none;
}
.main-top-user-drop.dropdown-menu li:last-child a{
	border-bottom:0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.main-top-user-drop.dropdown-menu li a:hover, .main-top-user-drop.dropdown-menu li.active, .main-top-user-drop.dropdown-menu li a:active, .main-top-user-drop.dropdown-menu li a:focus{
	background:#c14678;
	color:#fff;
}
.main-top-user-drop.dropdown-menu li.divider {
	background:#a7476f;
	margin:0;
}




.main-top-nav-wrapper{
	float:right;
	border-left:1px solid #a7476f;
	width:auto;
}
.main-top-nav-btn{
	float:right;
	border:none;
	background:none;
	width:50px;
	height:50px;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	-webkit-box-shadow:none;
  	box-shadow: none;
	border-radius:0;
}
.main-top-nav-btn:hover{
	background:#285d8f;
}
.main-top-nav-btn.btn-default:hover,
.main-top-nav-btn.btn-default:focus,
.main-top-nav-btn.btn-default:active,
.main-top-nav-btn.btn-default.active,
.main-top-nav-btn.open .dropdown-toggle.btn-default{
  color: #fff;
  background:#c14678;
}
.main-top-nav-icon.glyphicon-map-marker{
	font-size:20px;
	color:#fff;
	text-shadow:none;
}
.main-top-nav-btn:hover span.glyphicon-map-marker{
	color:#fff !important;
}
.main-top-nav-drop.dropdown-menu {
	left:inherit ;
	right:0;
  	margin-top:0;
	padding-top:0;
	padding-bottom:0px;
  	background-color:none;
  	border: 1px solid #a7476f;
  	border: 1px solid rgba(0, 0, 0, 0.15);
	border-top:none;
	border-right:none;
	border-radius:0;
  	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
  	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background:#c14678; 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c14678, endColorstr=#c14678);
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c14678), to( #c14678));
	background-image: -webkit-linear-gradient( #c14678 , #c14678 );
	background-image:    -moz-linear-gradient( #c14678 , #c14678 );
	background-image:     -ms-linear-gradient( #c14678 , #c14678 );
	background-image:      -o-linear-gradient( #c14678 , #c14678 );
	background-image:         linear-gradient( #c14678 , #c14678 );
	font-family: 'robotoregular', sans-serif;
}
.main-top-nav-drop.dropdown-menu li a{
	border-bottom:1px solid #a7476f;
	padding-top:0;
	padding-bottom:0;
	padding-top:5px;
	padding-bottom:5px;
	color:#fff;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
	-webkit-box-shadow:none;
}
.main-top-nav-drop.dropdown-menu li:last-child a{
	border-bottom:0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.main-top-nav-drop.dropdown-menu li a:hover, .main-top-nav-drop.dropdown-menu li.active, .main-top-nav-drop.dropdown-menu li a:active, .main-top-nav-drop.dropdown-menu li a:focus{
	background:#c14678;
	color:#fff;
}
.main-top-nav-drop.dropdown-menu li.divider {
	background:#274561;
	margin:0;
}
.top-nav-icon-bar{
	display:block;
	border-top:2px solid #fff;
	margin-bottom:4px;
	width:22px;
}
.main-top-nav-content-wrapper{
	float:right;
	background:#fff;
	width:200px;
	overflow: hidden;
}
.main-top-nav{
	list-style:none;
}
.main-top-nav li{
	display:inline;
	display:inline-block;
}







.main-menu.navbar{
	background:#d45489; 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#de5990, endColorstr=#d45489);
	background-image: -webkit-gradient(linear, left top, left bottom, from( #de5990), to( #d45489));
	background-image: -webkit-linear-gradient( #de5990 , #d45489 );
	background-image:    -moz-linear-gradient( #de5990 , #d45489 );
	background-image:     -ms-linear-gradient( #de5990 , #d45489 );
	background-image:      -o-linear-gradient( #de5990 , #d45489 );
	background-image:         linear-gradient( #de5990 , #d45489101e2a );
	min-height:40px;
	border-radius:0;
	border-left:0;
	border-right:0;
	border-top:0;
	font-family: 'robotoregular', sans-serif;
	border-color:#a7476f !important;
}
.main-menu.navbar-nav > li{
	font-family: 'robotoregular', sans-serif;
	border-right:1px solid #a7476f;
}
.main-menu.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
	line-height:40px;
	color:#fff;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.main-menu.navbar-nav > li > a:hover, .main-menu.navbar-nav > .active > a:hover {
	background:#285d8f;
}
.main-menu.navbar-nav > .active > a,  .main-menu.navbar-inverse.navbar-nav > .active > a{
	background:#c14678;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c14678, endColorstr=#c14678);
}
.main-menu.navbar-toggle:hover,
.main-menu.navbar-toggle:focus {
  background-color:#c14678;  
}
.main-menu.navbar-toggle{
	border:none;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background:#c14678;
}
/************************ //top area *******************************/







.main-content-area-wrapper{
	padding-top:110px;
}

.main-header-wrapper{
	display:none;
	border-bottom:1px solid #baccde;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-family: 'roboto_slabbold', sans-serif;
	font-size:28px;
	letter-spacing:0.04em;
	text-transform:uppercase;
	line-height:1em;
	text-align:center;
	color:#142534;
}




.user-total-subtext{
	display:inline-block;
	font-family: 'proxima_nova_cn_rgregular', sans-serif;
	font-size:22px;
}
.user-total-content-panel{
	float:left;
	padding-top:10px;
	padding-left:10px;
}
.user-new-panel-wrapper{
	border-right:1px solid #a6ec99;
	width:100%;
}
.user-stat-content-panel{
	float:left;
	width:60%;
}
.user-returning-panel-wrapper{
	width:100%;
}
.edm-create-panel{
	padding:10px;
}

.edm-create-content{
	background:url(../images/icon-edm.svg) no-repeat left center;
	background-size:50px;
}
.edm-create-label-content{
	padding-left:60px;
}
.edm-create-label-01{
	display:block;
	font-size:16px;
	color:#fff;
}
.edm-create-label-02{
	display:block;
	font-size:18px;
	color:#ffeba4;
}
.edm-total-panel{
	background:#f99850;
}
.edm-total-content{
	padding:10px;
	text-align:center;
}
.edm-total-label-01{
	display:inline-block;
	padding-right:10px;
	font-size:46px;
	color:#fff;
}
.edm-total-label-02{
	display:inline-block;
	line-height:1em;
	font-size:18px;
	color:#ffd7ba;
}
a.edm-create-link:hover, a.edm-create-link:hover div.edm-create-panel{
	background:#ff5a00;
	text-decoration:none;
}
.fb-content-panel{
	float:left;
	width:auto;
	padding:10px;
}
.fb-total{
	display:inline-block;
	padding-right:10px;
	font-size:40px;
	color:#fff;
}
.fb-label{
	display:inline-block;
	font-size:18px;
}

.promo-select-panel{
	float:left;
	width:50%;
}
.promo-info-panel{
	float:left;
	width:auto;
}
.promo-info-panel-content{
	border-left:2px solid #000;
	margin-left:15px;
	padding-left:15px;
}
.promo-info-hit{
	color:#1d89cf;
}
.promo-info-label{
	font-size:16px;
}



.panel-half{
	float:left;
	width:50%;
}
.panel-inner{
	padding:15px;
}
.header-panel{
	display:block;
	float:left;
	width:auto;
}
.user-icon-panel{
	float:left;
	width:100px;
}
.user-icon-panel img{
	width:100%;
}
.edm-icon-panel{
	float:left;
	width:28%;
}
.edm-icon-panel img{
	width:100%;
}
.fb-icon-panel{
	float:left;
	border-right:1px solid #61bcf6;
	width:60px;
}
.fb-icon-panel img{
	width:100%;
}
.user-sum{
	display:inline-block;
	font-family: 'roboto_slabregular', sans-serif;
	font-size:50px;
	line-height:normal;
	color:#fff;
}
.user-label{
	display:inline-block;
	font-family: 'proxima_nova_cn_rgregular', sans-serif;
	font-size:22px;
	line-height:normal;
	margin-top:-5px;
}
.btn-panel{
	float:right;
	padding-bottom:0;
	margin-bottom: 0px !important;
}
.btn-blue {
	background:#3c8bc3;
  	border-color: #347caf;
  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-blue:hover,
.btn-blue:focus {
  	background-color: #347caf;
	color:#fff;
}
.btn-blue:active,
.btn-blue.active {
  background-color: #3175a5;
  color:#fff;
}
.btn-green {
	background:#439b31;
  	border-color: #358125;
  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-green:hover,
.btn-green:focus {
  	background-color: #357d26;
	color:#fff;
}
.btn-green:active,
.btn-green.active {
  background-color: #357d26;
  color:#fff;
}
.btn-red {
	background:#a71e1e;
  	border-color: #9e1a1a;
  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-red:hover,
.btn-red:focus {
  	background-color: #9e1a1a;
	color:#fff;
}
.btn-red:active,
.btn-red.active {
  background-color: #8f1818;
  color:#fff;
}
.btn-orange {
	background:#e4561e;
  	border-color: #d24e1a;
  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.btn-orange:hover,
.btn-orange:focus {
  	background-color: #d24e1a;
	color:#fff;
}
.btn-orange:active,
.btn-orange.active {
  background-color: #bc4212;
  color:#fff;
}
.btn-general {
	background:#fff;
  	border-color: #ccc;
  	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.general-panel{
	border:1px solid #dedede;
	border-bottom:5px solid #dedede;
}
.general-panel-heading{
	/*background:#58aae4;*/
	border-bottom:1px solid #d0d0d0;
	font-family: 'robotoregular', sans-serif;
	font-size:22px;
	color:#131313;
}
.blue-panel{
	background:#58aae4;
	border:1px solid #519cd2;
	border-bottom:5px solid #3c8bc3;
	color:#c9e9ff;
}
.blue-panel-heading{
	background:#839bcf;
	border-bottom:1px solid #6d84b5;
	font-family: 'robotoregular', sans-serif;
	font-size:22px;
	color:#fff;
}
.green-panel{
	background:#70d35d;
	border:1px solid #59b847;
	border-bottom:5px solid #56b543;
	color:#d9ffd2;
}
.green-panel-heading{
	background:#70d35d;
	border-bottom:1px solid #a6ec99;
	font-family: 'robotoregular', sans-serif;
	font-size:22px;
	color:#fff;
}
.red-panel{
	background:#da2e2e;
	border:1px solid #d63333;
	border-bottom:5px solid #c02323;
	color:#ffadad;
}
.red-panel-heading{
	background:#da2e2e;
	border-bottom:1px solid #fc7c7c;
	font-family: 'robotoregular', sans-serif;
	font-size:22px;
	color:#fff;
}
.orange-panel{
	background:#f6742d;
	border:1px solid #da6424;
	border-bottom:5px solid #dc6220;
	color:#ffcaa3;
}
.orange-panel-heading{
	background:#f6742d;
	border-bottom:1px solid #ffcaa3;
	font-family: 'robotoregular', sans-serif;
	font-size:22px;
	color:#fff;
}
.fb-panel{
	background:#1d89cf;
	border:1px solid #1a80c2;
	border-bottom:5px solid #1074b4;
	text-align:center;
	color:#4cb3f5;
}

.panel-half, .user-new-panel-wrapper, .user-stat-content-panel{
	height:100px;
}
.user-total-panel{
	padding-top:5px;
	height:105px;
}
.edm-create-panel, .fb-panel-body, .fb-icon-panel{
	height:70px;
}

.graph-wrapper{
	width:100%;
}
.graph-wrapper img{
	width:100%;
}

.context-text-panel{
	padding:10px;
}


.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #80b2d2;
  border-radius: 4px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #428bca;
  border: 1px solid #3b80bc;
  color:#fff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
  cursor: not-allowed;
}

.label{
	font-family:Arial, Helvetica, sans-serif;
}






/********************************************* anim *************************************************/
/********************************************* //anim *************************************************/


















/********************************************* responsive breakpoints *************************************************/

@media (max-width: 1366px) {
	.login-panel-wrapper{width:80%;}
}

@media (max-width: 1200px) {
	.user-icon-panel{width:80px;}
	.user-stat{font-size:40px;}
	.user-stat-subtext{font-size:18px;}
}

@media (max-width: 768px) {
	.login-panel-wrapper{width:90%;}
	.main-top-user-btn{
		margin:0;
		padding:0;
	}
	.main-top-user-icon.glyphicon-user{
		margin-top:-3px;
		padding:0 10px 0 10px;
		height:50px;
		font-size:20px;
		line-height:47px;
		color:#fff;
		-webkit-transition: all 300ms linear;
		-moz-transition: all 300ms linear;
		-o-transition: all 300ms linear;
		-ms-transition: all 300ms linear;
		transition: all 300ms linear;
	}
	.main-top-user-icon.glyphicon-user:hover{
		background:#c14678;
		color:#fff;
	}
	.main-top-nav-btn{width:40px; padding-left:0; padding-right:0;}
	/*.user-total-content-panel{padding-top:0;}*/
	/*.user-icon-total{width:80px;}*/
	.fb-total{font-size:36px;}
	.promo-select-wrapper{
		background:#dbfff9;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		-o-border-radius:4px;
		-ms-border-radius:4px;
		border-radius:4px;
		margin-top:10px;
		padding:10px;
	}
}

@media (max-width: 640px) {
	.login-right-panel-wrapper{
		display:none;
	}
	.login-left-panel-wrapper{
		width:100%;
	}
	.login-left-panel-wrapper{
		border-bottom:5px solid #dc6220;
	}
	.login-logo-small-dev-wrapper{
		display:block;
	}
	.login-btn-small-dev-wrapper{
		display:block;
	}
}


@media (max-width: 500px) {
	.top-title-wrapper{display:none;}
	.edm-panel-wrapper, .fb-panel-wrapper{
		float:none;
		width:100%;
	}
	.promo-select-panel{
		float:none;
		width:100%;
	}
	.promo-info-panel{
		float:none;
		padding-top:10px;
		width:100%;
	}
	.promo-info-panel-content{
		border-left:none;
		margin:0;
		padding:0;
		text-align:center;
	}
}

@media (max-width: 495px) {
	.main-header-wrapper{display:block;}
	.user-icon-new{width:60px;}
	.user-stat{font-size:35px;}
	.user-stat-subtext{font-size:14px;}
}

@media (max-width: 400px) {
	.header-panel{float:none; padding-bottom:5px; font-size:20px; text-align:center;}
	.btn-panel{float:none; text-align:center;}
	.user-icon-new{display:none;}
	.user-stat-content-panel{width:100%; text-align:center;}
	.user-stat{font-size:35px;}
	.user-stat-subtext{font-size:16px;}
	.total-user-panel{text-align:center;}
	.total-user-panel-content{display:block; float:none; width:100%; }
	.panel-icon{display:block; float:none; width:100%; }
}

@media (max-width: 320px) {
	.user-total-panel{padding-top:0;}
	.user-total-content-panel{padding-top:0; padding-right:10px;}
	.user-icon-total{display:none;}
	.user-total-content-panel{float:none; width:100%;}
	.user-total{width:100%; text-align:center;}
	.user-label{width:100%; text-align:center;}
	.panel-half{float:none; width:100%;}
	.panel-half, .user-stat-content-panel, .user-new-panel-wrapper, .user-returning-panel-wrapper {height:80px;}
	.user-new-panel-wrapper{border-bottom:1px solid #a6ec99;}
	.edm-create-content{background-size:40px;}
	.edm-create-label-content{padding-left:45px;}
	.fb-panel, .fb-icon-panel{height:60px;}
	.fb-icon-panel{width:40px; padding-top:10px; padding-bottom:-10px;}
	.fb-total{font-size:26px;}
}
/********************************************* //responsive breakpoints *************************************************/

.sub-menu{
	display:none;
}


