<ion-view>
    <ion-content>
        <!-- #Header Apps -->
        <div>
            <div class="kpb-header">
                <div class="kpb-header-left">
                    <img src="img/logo.png" alt="KPB Logo">
                </div>
                <div class="kpb-header-right">
                    <img src="img/menu.png" alt="Menu">
                </div>
            </div>
        </div>
        <!-- #First Menus -->
        <div class="kpb-menu">
            <ul>
                <li ng-click="showPage('page1')">
                    <img src="img/koper.png" alt="Koper">
                    <p>
                        Portofolio
                        <!-- Dashboard -->
                    </p>
                </li>
                <li ng-click="showPage('page2')">
                    <img src="img/task.png" alt="Campaign">
                    <p>
                        Campaign Feed
                    </p>
                </li>
                <li ng-click="showPage('page3')">
                    <img src="img/pen.png" alt="Get Funded">
                    <p>
                        Payment
                        <!-- Get funded -->
                    </p>
                </li>
            </ul>
        </div>
        <!-- #page Dashboard (1) -->
        <section id="page1" ng-show="activePage1">
            <div class="kpb-profile">
                <div class="kpb-profile-img">
                    <img src="img/profilemale.png" alt="Profile Male" width="90px">
                </div>
                <div class="kpb-profile-info">
                    <h3>{{account.member_firstname}} {{account.member_surname}}</h3>
                    <h4>{{account.member_country}}</h4>
                    <h4>{{account.member_email}}</h4>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div id="menu-profile">
                <ul>
                    <li ng-click="Page1('your-campaigns')"> Payment</li>
                    <li ng-click="Page1('your-campaigns')"> Portofolio</li>
                </ul>
            </div>
            <!-- List Campaigns -->
            <div id="kpb-campaigns">
                <!-- Loading Indicator -->
                <ion-spinner ng-show="isLoadCampaign" class="kpb-loading"></ion-spinner>
            </div>
        </section>
        <!-- #page Campaign Feed (2) -->
        <section id="page2" ng-show="activePage2">
            <div class="kpb-top-page2">
                please select campaign type you would like to see
            </div>
            <div id="kpb-menu-campaigns">
                <ul>
                    <li ng-click="Page2('smefunding')">SME Funding</li>
                    <li ng-click="Page2('donation')">Donation</li>
                    <li ng-click="Page2('private')">Private</li>
                </ul>
                <!-- SME Funding -->
                <div style="clear: both;">
                </div>
                <div id="smefunding" style="background-color: #F7F7F7;padding:15px" ng-show="pageSME">
                    <div id="sme-campaign" ng-repeat="c in FeedCampaigns">
                        <div class="sme-top">
                            <div class="sme-left">
                                <img ng-src="http://kapitalboost.project-testserver.com/assets/images/campaign/{{c.campaign_background}}" alt="Campaign Image">
                            </div>
                            <div class="sme-right">
                                <h3>{{c.campaign_name}}</h3>
                                <span class="item-location">
                                <i class="icon ion-location"></i>
                                <span>{{c.country}}</span>
                                <span style="margin-left: 12px;">
                                
                                <img src="img/office.png" width="10px" alt="office"> {{c.industry}}</span>
                                </span>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="sme-bottom">
                            <!-- <p>Purchae of AC</p> -->
                            <div ng-bind-html="c.campaign_description"></div>
                            <a ng-href="#/menu/{{c.campaign_id}}">view details</a>
                            <div class="sme-budget">
                                <ul id="sme-1">
                                    <li>$ {{c.total_funding_amt}}
                                        <p>Target</p>
                                    </li>
                                    <li>$ {{c.curr_funding_amt}}
                                        <p>Funded</p>
                                    </li>
                                    <li>{{c.days_left}}
                                        <p>Days Left</p>
                                    </li>
                                    <li>$ {{c.minimum_investment}}
                                        <p>Minimum</p>
                                    </li>
                                    <li>{{c.project_return}}%
                                        <p>Est Return</p>
                                    </li>
                                    <li>{{c.duration}}
                                        <p>Duration</p>
                                    </li>
                                </ul>
                                <ul id="sme-2">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Donation -->
                <div id="donation" style="background-color: #F7F7F7; padding:15px" ng-show="pageDonation">
                    <div id="sme-campaign" ng-repeat="c in CampaignDonation">
                        <div class="sme-top">
                            <div class="sme-left">
                                <img ng-src="http://kapitalboost.project-testserver.com/assets/images/campaign/{{c.campaign_background}}" alt="Campaign Image">
                            </div>
                            <div class="sme-right">
                                <h3>{{c.campaign_name}}</h3>
                                <span class="item-location">
                                <i class="icon ion-location"></i>
                                <span>{{c.country}}</span>
                                <span style="margin-left: 12px;">
                                
                                <img src="img/office.png" width="10px" alt="office"> {{c.industry}}</span>
                                </span>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="sme-bottom">
                            <div ng-bind-html="c.campaign_description"></div>
                            <a ng-href="#/menu/{{c.campaign_id}}">view details</a>
                            <div class="sme-budget">
                                <ul id="sme-1">
                                    <li>$ {{c.total_funding_amt}}
                                        <p>Target</p>
                                    </li>
                                    <li>$ {{c.curr_funding_amt}}
                                        <p>Funded</p>
                                    </li>
                                    <li> {{c.days_left}}
                                        <p>Days Left</p>
                                    </li>
                                    <li>$ {{c.minimum_investment}}
                                        <p>Minimum</p>
                                    </li>
                                    <li>{{c.project_return}}%
                                        <p>Est Return</p>
                                    </li>
                                    <li>{{c.duration}}
                                        <p>Duration</p>
                                    </li>
                                </ul>
                                <ul id="sme-2">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Private -->
                <div id="private" style="background-color: #F7F7F7; padding: 15px;" ng-show="pagePrivate">
                    <div id="private-load">
                        <div class="img-private">
                            <img src="img/lock.png" alt="Locked">
                            <p>this campaign is private crowfunding. You need to get a password to unlock.</p>
                        </div>
                        <div class="input-private">
                            <form ng-submit="getPrivate(password)">
                                <label class="item item-input">
                                    <span class="input-label">
                                <h6 class="kbp-left">Password</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                    <input type="password" ng-model="password">
                                </label>
                                <button type="submit" class="button button-full button-positive kbp-btn" style="background-color: #335F8C;">
                                    Submit
                                </button>
                        </div>
                    </div>
                     <div id="sme-campaign" ng-repeat="c in PrivateCampaign">
                        <div class="sme-top">
                            <div class="sme-left">
                                <img ng-src="http://kapitalboost.project-testserver.com/assets/images/campaign/{{c.campaign_background}}" alt="Campaign Image">
                            </div>
                            <div class="sme-right">
                                <h3>{{c.campaign_name}}</h3>
                                <span class="item-location">
                                <i class="icon ion-location"></i>
                                <span>{{c.country}}</span>
                                <span style="margin-left: 12px;">
                                
                                <img src="img/office.png" width="10px" alt="office"> {{c.industry}}</span>
                                </span>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        <div class="sme-bottom">
                            <div ng-bind-html="c.campaign_description"></div>
                            <a ng-href="#/menu/{{c.campaign_id}}">view details</a>
                            <div class="sme-budget">
                                <ul id="sme-1">
                                    <li>$ {{c.total_funding_amt}}
                                        <p>Target</p>
                                    </li>
                                    <li>$ {{c.curr_funding_amt}}
                                        <p>Funded</p>
                                    </li>
                                    <li> {{c.days_left}}
                                        <p>Days Left</p>
                                    </li>
                                    <li>$ {{c.minimum_investment}}
                                        <p>Minimum</p>
                                    </li>
                                    <li>{{c.project_return}}%
                                        <p>Est Return</p>
                                    </li>
                                    <li>{{c.duration}}
                                        <p>Duration</p>
                                    </li>
                                </ul>
                                <ul id="sme-2">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #page 3 Get Funded -->
        <section id="page3" ng-show="activePage3" style="background-color: #f7f7f7;" ng-controller="page3Ctrl">
            <div class="kpb-top-page2 page-3-top">
                Let us know about you and your funding needs. Information will be kept private and confidential.
            </div>
            <div class="app-padding-p3">
                <form enctype="multipart/form-data" >
                    <div id="get-funded-form">
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                <h6 class="kbp-left">Mobile Number</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                <input type="text" name="gf.phone" ng-model="gf.phone">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                <h6 class="kbp-left">Company</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                <input type="text" ng-model="gf.company">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                <h6 class="kbp-left">Industry</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                <input type="text" ng-model="gf.industry">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                <h6 class="kbp-left">Country</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                <input type="text" ng-model="gf.country">
                            </label>
                        </div>
                        <div class="list">
                            <div class="row">
                                <div class="col col-50">
                                    <div id="kpb-select">
                                        <label class="item">
                                            <select ng-model="pts.value" ng-options="b for b in pts.values"></select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-50 kpb-col-2">
                                    <div id="kpb-select">
                                        <label class="item">
                                            <select ng-model="currencys.value" ng-options="b for b in currencys.values"></select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                <h6 class="kbp-left">Your Estabblished</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                <input type="text" ng-model="gf.ye">
                            </label>
                        </div>
                        <div class="list estimated">
                            <label class="item item-input estimated-annual">
                                <span class="input-label">
                                        <h6 class="kbp-left">Estimated Annual Revenue</h6> 
                                        <h6 class="kbp-right">:</h6>
                                    </span>
                                <input type="text" ng-model="gf.ear">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                <h6 class="kbp-left">Funding Amount</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                <input type="text" ng-model="gf.fa">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                <h6 class="kbp-left">Assets To Be Purchased</h6> 
                                <h6 class="kbp-right">:</h6>
                            </span>
                                <input type="text" ng-model="gf.assets">
                            </label>
                        </div>
                        <div class="list">
                            <div class="row">
                                <div class="col col-50">
                                    <div id="kpb-select">
                                        <label class="item">
                                            <select ng-model="months.value" ng-options="v for v in months.values"></select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-50 kpb-col-2">
                                    <div id="kpb-select">
                                        <label class="item">
                                            <select ng-model="hpos.value" ng-options="b for b in hpos.values"></select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="row kpb-finance">
                                <h6>Attach Financial Report or Bank Statements pasts (12 months)</h6>
                            </div>
                        </div>
                    </div>
                    <div class="list">
                        <input type="file" class="custom-file-input" file-model="myphotos" id="myphotos"/>
                    </div>
                    <h6 class="app-term">
                        By clicking join now, you agree to Kapital Boost's User Agreement, <br />Privacy Policy, and Cookie Policy. 
                    </h6>
                    <button ng-click="gfing(gf,pts,currencys,months,hpos)" class="button button-full button-positive kbp-btn" style="background-color: #335F8C;">
                        Submit
                    </button>
                </form>
            </div>
        </section>
    </ion-content>
</ion-view>
