<div style="height: 500px">
    <div class="kpb-top-page2">
        please select campaign type you would like to see
    </div>
    <div id="kpb-menu-campaigns">
        <ul>
            <li ng-click="changePage('sme')">SME Funding</li>
            <li ng-click="changePage('donation')">Donation</li>
            <li ng-click="changePage('private')">Private</li>
        </ul>
        <!-- SME Funding -->
        <div style="clear: both;">
        </div>      
    </div>
    <div ng-if="campaignPage == 'sme'" style="height: 400px; overflow: auto;">
        <div id="sme-campaign" style="padding:15px;" ng-repeat="c in campaignSME">
            <div class="sme-top">
                <div class="sme-left">
                    <img ng-src="{{c.campaign_background}}" alt="Campaign Image">
                </div>
                 <div class="sme-right">
                    <h3>{{c.campaign_name}}</h3>
                    <span class="item-location">
                    <i class="icon ion-location"></i>
                    <span>{{c.campaign_country}}</span>
                    <span style="margin-left: 12px;">
                    
                    <img src="img/office.png" width="10px" alt="office"> {{c.campaign_industry}}</span>
                    </span>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="sme-bottom">
                <!-- <p>Purchae of AC</p> -->
                <div ng-bind-html="toHTML(c.campaign_description)"></div>
                <a ng-href="#/menu/{{c.campaign_id}}">view details</a>
                <div class="sme-budget">
                    <ul id="sme-1">
                        <li>$ {{c.campaign_target}}
                            <p>Target</p>
                        </li>
                        <li>$ {{c.campaign_funded}}
                            <p>Funded</p>
                        </li>
                        <li>{{c.campaign_days_left}}
                            <p>Days Left</p>
                        </li>
                        <li>$ {{c.minimum_investment}}
                            <p>Minimum</p>
                        </li>
                        <li>{{c.campaign_returns}}%
                            <p>Est Return</p>
                        </li>
                        <li>{{c.campaign_tenor}}
                            <p>Duration</p>
                        </li>
                    </ul>
                    <ul id="sme-2">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="campaignPage == 'donation'">
            donation
    </div>
    <div ng-if="campaignPage == 'private'">
            private
    </div>
</div>