<div style="height: 500px">
    <div class="kpb-top-page2">
        please select campaign type you would like to see
    </div>
    <div id="kpb-menu-campaigns">
        <ul>
            <li ng-click="changePage('sme')">SME Funding</li>
            <li ng-click="changePage('donation')">Donation</li>
            <li ng-click="changePage('private')">Private</li>
        </ul>
        <!-- SME Funding -->
        <div style="clear: both;">
        </div>      
    </div>
    <div ng-if="campaignPage == 'sme'" style="height: 400px; overflow: auto;">
        <div ng-if="smeLoad"  class="kpb-top-page2">Loading ...</div>
        <div id="sme-campaign" style="padding:15px;" ng-repeat="c in campaignSME">
            <div class="sme-top">
                <div class="sme-left">
                    <img ng-src="{{c.campaign_background}}" alt="Campaign Image">
                </div>
                 <div class="sme-right">
                    <h3>{{c.campaign_name}}</h3>
                    <span class="item-location">
                    <i class="icon ion-location"></i>
                    <span>{{c.campaign_country}}</span>
                    <span style="margin-left: 12px;">
                    
                    <img src="img/office.png" width="10px" alt="office"> {{c.campaign_industry}}</span>
                    </span>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="sme-bottom">
                <!-- <p>Purchae of AC</p> -->
                <div ng-bind-html="toHTML(c.campaign_description)"></div>
                <a ng-href="#/invest/{{c.campaign_id}}">view details</a>
                <div class="sme-budget">
                    <ul id="sme-1">
                        <li>S$ {{c.campaign_target}}
                            <p>Target</p>
                        </li>
                        <li>S$ {{c.campaign_funded}}
                            <p>Funded</p>
                        </li>
                        <li>{{c.campaign_days_left}}
                            <p>Days Left</p>
                        </li>
                        <li>S$ {{c.minimum_investment}}
                            <p>Minimum</p>
                        </li>
                        <li>{{c.campaign_returns}}%
                            <p>Est Return</p>
                        </li>
                        <li>{{c.campaign_tenor}}
                            <p>Duration</p>
                        </li>
                    </ul>
                    <ul id="sme-2">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="campaignPage == 'donation'" style="height: 400px; overflow: auto;">
        <div ng-if="donationLoad"  class="kpb-top-page2">Loading ...</div>
        <div id="donation-campaign" style="padding:15px;" ng-repeat="c in campaignDonation">
            <div class="sme-top">
                <div class="sme-left">
                    <img ng-src="{{c.campaign_background}}" alt="Campaign Image">
                </div>
                 <div class="sme-right">
                    <h3>{{c.campaign_name}}</h3>
                    <span class="item-location">
                    <i class="icon ion-location"></i>
                    <span>{{c.campaign_country}}</span>
                    <span style="margin-left: 12px;">
                    
                    <img src="img/office.png" width="10px" alt="office"> {{c.campaign_industry}}</span>
                    </span>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="sme-bottom">
                <!-- <p>Purchae of AC</p> -->
                <div ng-bind-html="toHTML(c.campaign_description)"></div>
                <a ng-href="#/invest/{{c.campaign_id}}">view details</a>
                <div class="sme-budget">
                    <ul id="sme-1">
                        <li>S$ {{c.campaign_target}}
                            <p>Target</p>
                        </li>
                        <li>S$ {{c.campaign_funded}}
                            <p>Funded</p>
                        </li>
                        <li>{{c.campaign_days_left}}
                            <p>Days Left</p>
                        </li>
                        <li>S$ {{c.minimum_investment}}
                            <p>Minimum</p>
                        </li>
                        <li>{{c.campaign_returns}}%
                            <p>Est Return</p>
                        </li>
                        <li>{{c.campaign_tenor}}
                            <p>Duration</p>
                        </li>
                    </ul>
                    <ul id="sme-2">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="campaignPage == 'private'">
        <div id="private-load" ng-if="campaignPrivateis">
            <div class="img-private">
                <img src="img/lock.png" alt="Locked">
                <p>this campaign is private crowfunding. You need to get a password to unlock.</p>
            </div>
            <div class="input-private">
                <form ng-submit="reqPrivate(password)">
                    <label class="item item-input">
                        <span class="input-label">
                            <h6 class="kbp-left">Password</h6> 
                            <h6 class="kbp-right">:</h6>
                        </span>
                        <input type="password" ng-model="password">
                   </label>
                <button type="submit" class="button button-full button-positive kbp-btn" style="background-color: #335F8C;">
                        Submit
                </button>
            </div>
        </div>
        <div id="donation-campaign" ng-if="campaignPrivate.status == '1'" style="padding:15px;">
            <div class="sme-top">
                <div class="sme-left">
                    <img ng-src="{{campaignPrivate.data.campaign_background}}" alt="Campaign Image">
                </div>
                 <div class="sme-right">
                    <h3>{{campaignPrivate.data.campaign_name}}</h3>
                    <span class="item-location">
                    <i class="icon ion-location"></i>
                    <span>{{campaignPrivate.data.campaign_country}}</span>
                    <span style="margin-left: 12px;">
                    
                    <img src="img/office.png" width="10px" alt="office"> {{campaignPrivate.data.campaign_industry}}</span>
                    </span>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="sme-bottom">
                <!-- <p>Purchae of AC</p> -->
                <div ng-bind-html="toHTML(campaignPrivate.data.campaign_description)"></div>
                <a ng-href="#/invest/{{campaignPrivate.data.campaign_id}}">view details</a>
                <div class="sme-budget">
                    <ul id="sme-1">
                        <li>S$ {{campaignPrivate.data.campaign_target}}
                            <p>Target</p>
                        </li>
                        <li>S$ {{campaignPrivate.data.campaign_funded}}
                            <p>Funded</p>
                        </li>
                        <li>{{campaignPrivate.data.campaign_days_left}}
                            <p>Days Left</p>
                        </li>
                        <li>S$ {{campaignPrivate.data.minimum_investment}}
                            <p>Minimum</p>
                        </li>
                        <li>{{campaignPrivate.data.campaign_returns}}%
                            <p>Est Return</p>
                        </li>
                        <li>{{campaignPrivate.data.campaign_tenor}}
                            <p>Duration</p>
                        </li>
                    </ul>
                    <ul id="sme-2">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>