<ion-view hide-back-button="true" hide-nav-bar="true" style="background-color: #1c3753;">
    <ion-content style="position:fixed">
        <div class="app-padding">
                <img src="img/logo.png" alt="Logo" width="100%" style="margin-top:10px;">
            <h4 class="kbp-member-note">Membership Registration</h4>
            <form class="kbp-form" ng-submit="signup(user)">
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">Title</h6> 
                        <h6 class="kbp-right">:</h6>

                    </span>
                    <select class="kbp-select">
                      <option>Mr.</option>
                      <option>Mrs.</option>
                    </select>
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">Username</h6> 
                        <h6 class="kbp-right">:</h6>

                    </span>
                    <input type="text" required ng-model="user.username">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">First Name</h6> 
                        <h6 class="kbp-right">:</h6>

                    </span>
                    <input type="text" required ng-model="user.firstname">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">Last Name</h6> 
                        <h6 class="kbp-right">:</h6>

                    </span>
                    <input type="text" required ng-model="user.lastname">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">Nationality</h6> 
                        <h6 class="kbp-right">:</h6>

                    </span>
                    <input type="text" required ng-model="user.nationality">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">Email</h6>
                        <h6 class="kbp-right">:</h6>

                    </span>
                    <input type="email" required="required" ng-model="user.email">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">Password</h6>
                        <h6 class="kbp-right">:</h6>

                    </span>
                    <input type="password" required ng-model="user.password">
                  </label>
                </div>
                <h6 class="app-term">
                    By clicking join now, you agree to Kapital Boost's User Agreement, <br />Privacy Policy, and Cookie Policy. 
                </h6>
                
                <button type="submit" class="button button-full button-positive kbp-btn" 
                  style="background-color: #335F8C; margin-top:5px">
                  Join Now !
                </button>
                <div class="already-have-acc">
                    Already Have an account ?<a ui-sref="login"> Sign In</a>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>