<div style="width: 100%;">
    <!-- front end -->
    <!-- get funded button -->
    <div class="grid_wrap my_g_f">
        <div ui-sref="tab.getfunded" class="my_g_f_button">
            Get Funded
        </div>
    </div>
    <!-- /get funded button -->

    <!-- campaign -->
    <div class="my_campaign">
        <ul class="grid_wrap my_c_list">
            <li>
                <div class="my_c_l_title">
                    Testing 1
                </div>
                <div class="grid_wrap my_c_l_des">
                    <div class="country">
                        <img src="img/marker.png" align="icon" />
                        <span>Indonesia</span>
                    </div>
                    <div class="industry">
                        <img src="img/industry-icon.png" align="icon" />
                        <span>Textile</span>
                    </div>
                </div>
                <div class="my_c_l_progress">
                    <div class="my_progress" style="width: 50%;">
                        
                    </div>
                </div>
                <div class="my_c_l_img">
                    <img src="img/pen.png" alt="Image" />
                </div>
                <div class="m_c_l_view">
                    <a>
                        View Details
                    </a>
                </div>
            </li>
            <li>
                <div class="my_c_l_title">
                    Testing 2
                </div>
                <div class="grid_wrap my_c_l_des">
                    <div class="country">
                        <img src="img/marker.png" align="icon" />
                        <span>Indonesia</span>
                    </div>
                    <div class="industry">
                        <img src="img/industry-icon.png" align="icon" />
                        <span>Textile</span>
                    </div>
                </div>
                <div class="my_c_l_progress">
                    <div class="my_progress" style="width: 80%;">
                        
                    </div>
                </div>
                <div class="my_c_l_img">
                    <img src="img/pen.png" alt="Image" />
                </div>
                <div class="m_c_l_view">
                    <a>
                        View Details
                    </a>
                </div>
            </li>
            <li>
                <div class="my_c_l_title">
                    Testing 3
                </div>
                <div class="grid_wrap my_c_l_des">
                    <div class="country">
                        <img src="img/marker.png" align="icon" />
                        <span>Indonesia</span>
                    </div>
                    <div class="industry">
                        <img src="img/industry-icon.png" align="icon" />
                        <span>Textile</span>
                    </div>
                </div>
                <div class="my_c_l_progress">
                    <div class="my_progress" style="width: 30%;">
                        
                    </div>
                </div>
                <div class="my_c_l_img">
                    <img src="img/pen.png" alt="Image" />
                </div>
                <div class="m_c_l_view">
                    <a>
                        View Details
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <!-- /campaign -->
    <!-- /front end -->

    <br /><br /><br /><br /><br />

    <div class="kpb-profile">
        <div class="kpb-profile-img">
            <img src="img/profilemale.png" alt="Profile Male" width="90px">
        </div>
        <div class="kpb-profile-info">
            <h3>{{account.member_firstname}} {{account.member_surname}}</h3>
            <h4>{{account.member_country}}</h4>
            <h4>{{account.member_email}}</h4>
        </div>
    </div>
<div style="clear: both;"></div>
<div id="menu-profile">
    <ul>
        <li>
            <p>
                Get Funded
            </p>
        </li>
        <li ng-click="changeView('payment')">Payment</li>
        <li ng-click="changeView('portofolio')"> Portofolio</li>
    </ul>
</div>
<div class="list-payment" ng-if="currentView == 'payment'">
    <div ng-if="!isLoadPayment"  class="kpb-top-page2">Loading ...</div>

    <div ng-if="payments.status == '0'" class="kpb-top-page2">No Record</div>
    <div ng-if="payments.status == '1'" class="card-payment" style="height: 300px; overflow: auto;">
        <table class="card-table">
            <thead>
                <tr>
                    <td><b>No</b></td>
                    <td><b>Campaign Name</b></td>
                    <td><b>Payment Type</b></td>
                    <td><b>Payment</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pay in payments.data | orderBy : '-ppid'" style="height: 25px;">
                    <td>{{$index + 1}}</td>
                    <td>{{pay.campaign_name}}</td>
                    <td>{{pay.payment_type}}</td>
                    <td>
                        <button class="paynow" ng-if="pay.payment_type == 'paypal'" ng-click="PayPaypal(pay)" ng-disabled="pay.status !== 'open'" ng-class="{payblue : pay.status == 'open'}">Pay S${{pay.amount}}</button>
                        <button class="paynow" ng-if="pay.payment_type == 'Bank transfer'" ng-click="PayBank(pay)" ng-disabled="pay.status !== 'open'" ng-class="{payblue : pay.status == 'open'}">Pay S${{pay.amount}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="list-portofolio" ng-if="currentView == 'portofolio'">
    <div ng-if="!isLoadPortofolio"  class="kpb-top-page2">Loading ...</div>
    <div ng-if="portofolios.status == '0'" class="kpb-top-page2">No Record</div>
    <div ng-if="portofolios.status == '1'" class="card-payment" style="height: 300px; overflow: auto;">
        <table class="card-table">
            <thead>
                <tr>
                    <td><b>No</b></td>
                    <td><b>Campaign Name</b></td>
                    <td><b>Amount</b></td>
                    <td><b>Payment</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="port in portofolios.data | orderBy : '-id'" style="height: 25px;">
                    <td>{{$index + 1}}</td>
                    <td>{{port.campaign}}</td>
                    <td>{{port.total_funding}}</td>
                    <td>
                        <label ng-if="port.status == 'Unpaid'" class="label label-waiting">Waiting</label>
                        <label ng-if="port.status == 'Paid'" class="label label-ok">Paid</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>