<ion-view>
    <ion-content>
        <div id="detail">
            <!-- <div>
                <div class="kpb-header">
                    <div class="kpb-header-left">
                        <img src="img/logo.png" alt="KPB Logo">
                    </div>
                    <div class="kpb-header-right">
                        <img src="img/menu.png" alt="Menu">
                    </div>
                </div>
            </div> -->
            <button ng-click="backViews()" class="kpb-back-btn">
              <i class="ion-arrow-left-b"></i> Back
            </button>
            <div id="invest">
                <h3>INVEST NOW </h3>
            </div>
            
            <div ng-if="!isLoad"  class="kpb-top-page2">Loading ...</div>
            <div id="details-card" ng-if="isLoad">
                <div class="details-title">
                    <h3>{{campaign.data.campaign_name}}</h3>
                </div>
                <div class="row">
                    <div class="details-img">
                        <img ng-src="{{campaign.data.campaign_background}}">
                    </div>
                </div>
                <div class="invest-wrapper">
                    <button ng-if="campaign.data.campaign_days_left < 1" class="invest-no">INVEST NOW</button>
                    <button ng-if="campaign.data.campaign_days_left > 1" ng-click="openModal()" class="invest-ok">INVEST NOW</button>
                </div>
                <div class="sme-budget">
                    <ul id="sme-1">
                        <li>S$ {{campaign.data.campaign_target}}
                            <p>Target</p>
                        </li>
                        <li>S$ {{campaign.data.campaign_funded}}
                            <p>Funded</p>
                        </li>
                        <li>{{campaign.data.campaign_days_left}}
                            <p>Days Left</p>
                        </li>
                        <li>S$ {{campaign.data.minimum_investment}}
                            <p>Minimum</p>
                        </li>
                        <li>{{campaign.data.campaign_returns}}%
                            <p>Est Return</p>
                        </li>
                        <li>{{campaign.data.campaign_tenor}}
                            <p>Duration</p>
                        </li>
                    </ul>
                    <ul id="sme-2">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div id="details-desciption">
                    <h3>Business Description :</h3>
                    <p ng-bind-html="campaign.data.campaign_description"></p>
                </div>
                
            </div>
            
        </div>
    </ion-content>
</ion-view>
