<ion-view>
<ion-content style="background-color: #1c3753;">
    <div class="app-padding">
        <img src="img/logo.png" alt="Logo" width="100%" style="margin-top:150px;">
        <h4 class="kbp-member-note">Forgot Password</h4>
        <form class="kbp-form" ng-submit="forgot(email)">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">
                    <h6 class="kbp-left">Email</h6> 
                    <h6 class="kbp-right">:</h6>

                </span>
                <input type="email" ng-model="email">
              </label>
            </div>                
            <button type="submit" class="button button-full button-positive kbp-btn" 
              style="background-color: #335F8C; margin-top:5px">
              Forgot
            </button>
            <div class="already-have-acc">
                Already Have an account ?<a ui-sref="login"> Sign In</a>
            </div>
        </form>
    </div>
</ion-content>
</ion-view>