        <section id="page3" style="background-color: #f7f7f7;height: 1200px;" >
            <div class="kpb-top-page2 page-3-top">
                Let us know about you and your funding needs. Information will be kept private and confidential.
            </div>
            <div class="app-padding-p3">
                <form>
                    <div id="get-funded-form">
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Mobile Number
                                    </h6> 
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.phone">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Company
                                    </h6> 
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.company">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Industry
                                    </h6>
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.industry">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Country
                                    </h6>
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.country">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Your Established
                                    </h6> 
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.your_established">
                            </label>
                        </div>
                        <div class="list">
                            <div class="grid_wrap">
                                <div class="kpb-col point_1">
                                    <div id="kpb-select">
                                        <label class="item item-input">
                                            <select ng-model="pts.value" ng-options="b for b in pts.values"></select>
                                        </label>
                                    </div>
                                </div>
                                <div class="kpb-col point_2">
                                    <div id="kpb-select">
                                        <label class="item item-input">
                                            <select ng-model="currencys.value" ng-options="b for b in currencys.values"></select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list estimated">
                            <label class="item item-input estimated-annual">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Estimated Annual Revenue
                                    </h6>
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.estimated_annual_revenue">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Funding Amount
                                    </h6> 
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.amount">
                            </label>
                        </div>
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">
                                    <h6 class="kbp-left">
                                        Assets To Be Purchased
                                    </h6> 
                                    <h6 class="kbp-right">
                                        :
                                    </h6>
                                </span>
                                <input type="text" ng-model="gf.assets">
                            </label>
                        </div>
                        <div class="list">
                            <div class="grid_wrap">
                                <div class="kpb-col point_3">
                                    <div id="kpb-select">
                                        <label class="item item-input">
                                            <select ng-model="months.value" ng-options="v for v in months.values"></select>
                                        </label>
                                    </div>
                                </div>
                                <div class="kpb-col point_4">
                                    <div id="kpb-select">
                                        <label class="item item-input">
                                            <select ng-model="hpos.value" ng-options="b for b in hpos.values"></select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <div class="grid_wrap kpb-finance">
                                <h6>
                                    Attach Financial Report or Bank Statements pasts (12 months)
                                </h6>
                                <input type="file" class="custom-file-input" file-input="financeFile" id="myphotos"/>
                            </div>
                        </div>
                    </div>
                    <h6 class="app-term">
                        By clicking join now, you agree to Kapital Boost's User Agreement, <br />Privacy Policy, and Cookie Policy. 
                    </h6>
                    <button ng-click="send(gf)" class="button button-full button-positive kbp-btn join_now" style="background-color: #335F8C;">
                        Submit
                    </button>
                </form>
            </div>
        </section>