<ion-modal-view>
    <ion-header-bar id="invest">
      <h1 class="title" style="color : #FFFFFF">INVEST NOW</h1>
      <button class="button button-clear button-assertive" ng-click="closeModal()"><i class="ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content>
      <div class="app-padding" style="margin-top: 10px">
      	<p class="center-text">Thank you for your interest in the <b>{{campaign.data.campaign_name}}</b> campaign. <br></p>
      	<p class="center-text">Please indicate the amount you would like to invest and select mode of payment. </p>
      	<br>
      	<br>
      	<b>Payment</b> : 
      	<select class="select-payment" id="payment_inv" ng-model="invpm">
          <option value="" selected="selected">Select Payment</option>
      		<option value="Bank transfer">Bank Transfer</option>
      		<option value="paypal" ng-if="campaign.data.campaign_type == 'donation'">Paypal</option>
      		<option value="xfers" ng-if="userCountry == 'singapore'">Xfers</option>
      	</select>
      	<br>
      	<p>
      		<b>Minimum Investment : S$ {{campaign.data.minimum_investment}}</b>
      	</p>
      	<b>Investment amount :</b>
      	<input style="border: 1px solid #efefef;
    width: 100%;
    color: #333D50;
    padding: 7px 20px 7px 20px;
    background: #FFF;
    font-size: 13px;
    line-height: 52px;
    border-radius: 20px;
    outline: none;
    margin: 20px 0 20px 0;" type="text" placeholder="enter amount" ng-model="amountinv">

    	<p class="center-text">
    		<button class="invest-ok" ng-click="investNow(campaign.data, amountinv, invpm)" style="border-radius: 5px;">SUBMIT</button>
    	</p>
      </div>
    </ion-content>
  </ion-modal-view>