<ion-view>

    <ion-content class="home">

        <div class="app-padding">

            <div class="login_logo">

              <img src="img/logo.png" alt="Logo">

            </div>

            <h1 class="login_title">

              Asia's first Islamic-focused P2P crowdfunding platform

            </h1>

            <form class="kbp-form" ng-submit="login(user)">

                <div class="list">

                  <label class="item item-input">

                    <span class="input-label">

                        <h6 class="kbp-left">Email</h6> 

                        <h6 class="kbp-right">:</h6>



                    </span>

                    <input type="text" ng-model="user.email">

                  </label>

                </div>

                <div class="list">

                  <label class="item item-input">

                    <span class="input-label">

                        <h6 class="kbp-left">Password</h6> 

                        <h6 class="kbp-right">:</h6>



                    </span>

                    <input type="password" class="kpb-input-password" ng-model="user.password">

                    <a ui-sref="forgot" class="kpb-forgot-password">Forgot Password ?</a>

                  </label>

                </div>

                <button type="submit" class="button button-full button-positive kbp-btn join_now point_1" 

                  style="background-color: #335F8C;">

                  Login

                </button>

                <button ui-sref="register" class="button button-full button-positive kbp-btn join_now point_2" 

                  style="background-color: #1c3753; margin-top:5px">

                  Member Registration

                </button>

            </form>

        </div>

    </ion-content>

</ion-view>