<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        
        
        <ion-nav-view name="side-menu23"></ion-nav-view>
    </ion-side-menu-content>
    <!-- <ion-side-menu side="right" id="side-menu23">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list5" class=" ">
                <ion-item id="menu-list-item10" ui-sref="menu.beranda" menu-close="" class="  ">Beranda</ion-item>
                <ion-item id="menu-list-item11" href="#" onclick="window.open('page20', '_system', 'location=yes'); return false;" class="  ">Item 2</ion-item>
                <ion-item id="menu-list-item12" ui-sref="menu.saran" menu-close="" class="  ">Saran</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu> -->
</ion-side-menus>