<ion-view>
    <ion-content style="background-color: #1c3753;">
        <div class="app-padding">
            <div class="grid_wrap my_logo">
              <img src="img/logo.png" alt="Logo">
            </div>
            <h4 class="kbp-member-note">
              Membership Registration
            </h4>
            <form class="kbp-form">
                <div class="list">
                  <label class="item item-input item-select">
                    <span class="input-label">
                        <h6 class="kbp-left">
                          Title
                        </h6> 
                        <h6 class="kbp-right">
                          :
                        </h6>
                    </span>
                    <select class="kbp-select">
                      <option></option>
                      <option>Mr.</option>
                      <option>Mrs.</option>
                    </select>
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">
                          First Name
                        </h6> 
                        <h6 class="kbp-right">
                          :
                        </h6>
                    </span>
                    <input type="text" required ng-model="user.firstname">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">
                          Last Name
                        </h6> 
                        <h6 class="kbp-right">
                          :
                        </h6>
                    </span>
                    <input type="text" required ng-model="user.lastname">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">
                          Nationality
                        </h6> 
                        <h6 class="kbp-right">
                          :
                        </h6>
                    </span>
                    <input type="text" required ng-model="user.nationality">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">
                          Email
                        </h6>
                        <h6 class="kbp-right">
                          :
                        </h6>
                    </span>
                    <input type="email" required="required" ng-model="user.email">
                  </label>
                </div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">
                        <h6 class="kbp-left">
                          Password
                        </h6>
                        <h6 class="kbp-right">
                          :
                        </h6>
                    </span>
                    <input type="password" required ng-model="user.password">
                  </label>
                </div>
                <h6 class="app-term">
                    By clicking join now, you agree to Kapital Boost's User Agreement, <br />Privacy Policy, and Cookie Policy. 
                </h6>
                <button type="submit" ng-click="signup(user)" class="button button-full button-positive kbp-btn join_now" 
                  style="background-color: #335F8C; margin-top:5px">
                  Join Now !
                </button>
                <div class="already-have-acc">
                    Already Have an account ?<a ui-sref="login"> Sign In</a>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>