<ion-view>
    <ion-content>
        <div>
            <div class="kpb-header">
                <div class="kpb-header-left">
                    <img src="img/logo.png" alt="KPB Logo">
                </div>
                <div class="kpb-header-right">
                    <img src="img/menu.png" alt="Menu">
                </div>
            </div>
        </div>
        <!-- #First Menus -->
        <div class="kpb-menu">
            <ul>
                <li ui-sref="tab.dash">
                    <img src="img/koper.png" alt="Koper" width="15px">
                    Portofolio
                    <!-- Dashboard -->
                </li>
                <li ui-sref="tab.campaign">
                    <img src="img/task.png" alt="Campaign" width="15px">
                    Campaign Feed
                </li>
                <li ui-sref="tab.getfunded">
                    <img src="img/pen.png" alt="Get Funded" width="15px">
                    Payment
                    <!-- Get funded -->
                </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-content>
</ion-view>