body{
       font-family: 'Lato', sans-serif;
}
.header{
       background: url(/assets/images/events.jpg);background-size: cover;
       min-height:500px;
}
.service-grid1 h3 ,.service-grid2 h3,.service-grid3 h3{
       color: #2980B9;
       font-size:2em;
       margin: 0.2em auto;
       text-transform:uppercase;
       font-family: 'Lato', sans-serif;
       font-weight:900;
       text-align: center;
}
.service-grid1 p,.service-grid2 p,.service-grid3 p {
       text-align: center;
       font-size: 1.2em;
       margin:1% auto 0;
       font-family: 'Lato', sans-serif;
       line-height: 1.7em;
       font-weight: 400;
       color: #343433;
       width:93%;
}
.service-section{
       position: relative;
}
.service-section h3 {
       text-align: center;
       color: #2980B9;
       font-size:2.5em;
       line-height: 1.8em;
       margin: 0em auto 0;
       font-weight: 900;
       font-family: 'Lato', sans-serif;
       text-transform: uppercase;
       padding-bottom: 4%;
}
.service-section lable {
       border-bottom: 4px solid#343433;
       position: absolute;
       top: 57%;
       left: 45%;
       width: 9%;
}

#registerBtn{
       margin: 20px auto;

}
.service-grid1{
       text-align:center;
}
.ss-style-bigtriangle{
       margin:50px auto;
}
div#portfolio{
       background: url(/assets/images/events/bg.png) ;
      
       min-height:989px;
       margin-top: -105px;
}
.port-section {
       position: relative;
       margin-top: 3em;
}
.port-section h3 {
       text-align: center;
       color: #fff;
       font-size:2.5em;
       line-height: 1.8em;
       
       margin: 0em auto 0;
       font-weight: 900;
       font-family: 'Lato', sans-serif;
       text-transform: uppercase;
}
.port-section lable {
       border-bottom: 4px solid#fff;
       position: absolute;
       top:100%;
       left: 45.5%;
       width: 9%;
}
#portfoliolist .portfolio {
       width: 30%;
       display:none;
       float:left;
       margin:0 1% 1% 0;
       border-radius: 0;
}
div#portfoliolist {
       padding:0px 0px;
}	
.portfolio-wrapper {
       overflow:hidden;
       position: relative !important;
       cursor:pointer;
}
.portfolio img {
       max-width:100%;
      
}
.portfolio .label {
       position: absolute;
       width: 100%;
       height:40px;
       bottom:-40px;
}
.portfolio .label-bg {
       background: #22B4B8;
       width: 100%;
       height:100%;
       position: absolute;
       top:0;
       left:0;
}
.portfolio .label-text {
       color:#fff;
       position: relative;
       z-index:500;
       padding:5px 8px;
}

.portfolio .text-category {
       display:block;
       font-size:9px;
       font-size: 12px;
       text-transform:uppercase;
}



@media(max-width:1024px){
       
       .service-grid1 h3, .service-grid2 h3, .service-grid3 h3 {
              font-size: 1.7em;
       }
       .service-section lable {
              top: 57%;
              left: 45.5%;
              width: 9%;
       }
       .team-section h3, .port-section h3, .service-section h3, .client-section h3, .offices-section h3 {
              font-size: 2.15em;
       }
       
       
}


@media(max-width:768px){
       
       .service-grid2,.service-grid3,.service-grid1 {
              margin-top: 1em;
       }
       .service-grid1 h3, .service-grid2 h3, .service-grid3 h3 {
              font-size: 1.4em;
       }
       .team-section h3,.port-section h3,.service-section h3,.client-section h3,.offices-section h3 {
              font-size: 2.4em;
       }
       
       .team-section h3, .port-section h3, .service-section h3, .client-section h3, .offices-section h3 {
              font-size: 2em;
       }
       .service-section lable {
              top: 57%;
              left: 44.7%;
              width: 10%;
              border-bottom: 3px solid#343433;
       }
       
}

@media(max-width:640px){
       
       .service-grid1 p, .service-grid2 p, .service-grid3 p {
              font-size: 1.15em;
              margin: 1% auto 0;
              width: 95%;
       }
       .team-section h3, .port-section h3, .service-section h3, .client-section h3, .offices-section h3 {
              font-size: 1.9em;
       }
       .service-section lable {
              top: 62%;
              left: 43.7%;
              width: 12%;
              border-bottom: 3px solid#343433;
       }
       .service-section lable {
              top: 67%;
              left: 41.7%;
              width: 16%;
       }
       .team-section h3, .port-section h3, .service-section h3, .client-section h3, .offices-section h3 {
              font-size: 1.7em;
       }
       
       
}

@media(max-width:480px){
       
       
       .service-grid1 h3, .service-grid2 h3, .service-grid3 h3 {
              font-size: 1.3em;
       }
       .service-grid1 p, .service-grid2 p, .service-grid3 p {
              font-size: 1.15em;
              margin: 1% auto 0;
              width: 100%;
              overflow: hidden;
              
       }
       
       .team-section h3, .port-section h3, .service-section h3, .client-section h3, .offices-section h3 {
              font-size: 1.3em;
       }
       .service-section lable {
              top: 67%;
              left: 39.7%;
              width: 20%;
       }
       
}