input[type="text"],
input[type="password"],
input[type="email"]{
    padding: 0;
    border-radius:2px;
}
input[type="text"] ,
input[type="email"]{
    background: #eee;
    padding: 0 15px;
    width: 100%;
    border-radius:5px;
}
input[type="text"]:focus,
input[type="email"]:focus{
    background: white;
}
input[type="reset"] {
    margin-top: 6px;
}
input[name="button2"] {
    width: 150px;
}
input[name="release_date"] {
    margin: 0;
}
input[name="release_date"]:focus {
    outline: none;
    background: #eee;
}
input[name="button"] {
    padding-top: 7px;
    margin-left: 10px;
    height: 35px;
    width: 115px;
}
select {
    font-size: 14px;
    margin: 4px 0 0 0;
}
.monthForm {
    width: 100%;
}
.btn-primary {
    margin-top: 10px;
}