.thanks-title {
       color : #305e8e;
       font-size : 24px;
}
.button-kpb-g{
       background-color:#00B0FD;
       color:#FFFFFF;
       padding:10px 30px;
       border-radius:7px;
}
#about-1 {
       width:100%;
       background-color:#FFF;
       color:#000;
       position:relative;
       min-height:1030px;
       padding: 0 0 100px 0;
}

#about-1-back {
       width:100%;
       position:absolute;
       top:0;
       left:0;
}

#about-1-inner,#about-1-inner1 {
       height: auto;
       width:900px;
       margin:0 auto;
       padding:25px 0 100px 0;
}
.formScroll {
       overflow-y: scroll;
       height: 400px;
}
#about-1-h1 {
       color:#000;
       padding:0;
       width: 80%;
       margin: 0 10% 30px 10%;
}

#about-1-img {
       width:100%;
       height:auto;
}

#about-1-para-1 {
       width:60%;
       padding:0 20% 0 20%;
}

#about-1-para-2 {
       width:60%;
       padding:0 20% 20px 20%;
       font-size:23px;
       font-style:italic;
       text-align:center;
}

#about-1-para-last {
       width:90%;
       padding:0 5% 100px 5%;
}

#about-2 {
       background-image:url("../images/home3.png");
       background-size: cover;
       background-position:top;
       width:100%;
       min-height: 500px;
}

#about-2-inner {
       padding:0;
       width:960px;
       margin: 0 auto;
       padding:100px 0 0 0;
       color:#333d50;
}

#about-2-h1 {
       color:#333d50;
       padding:0;
       width: 100%;
}

#about-2-para {
       text-align:center;
       width:90%;
       padding:0 5% 0 5%;
       margin:10px 0 30px 0;
}

#about-2-team {
       width:100%;
       zoom:1;
       padding:0 0 20px 0;
}

#about-2-team:before,
#about-2-team:after {
       content:"";
       display:table;
}

#about-2-team:after {
       clear:both;
}

#about-2-team-2 {
       width:100%;
       zoom:1;
       padding:0 0 20px 0;
       margin:0 auto;
}

#about-2-team-2:before,
#about-2-team-2:after {
       content:"";
       display:table;
}

#about-2-team-2:after {
       clear:both;
}

.about-2-team-each {
       display: inline-block;
       height:350px;
       width:280px;
       margin: 0;
       color:#333d50;
       text-align: center;
}

.about-2-team-each:nth-child(2) {
       margin: 0px 40px 10px 40px;
}

#about-2-team-2 .about-2-team-each:nth-child(2) {
       margin: 0px 40px 10px 40px;
}


.about-2-team-pic {
       width:100%;
       height:200px;
}

.about-2-team-pic-inner {
       width:200px;
       height: 200px;
       background-size: 100% 100%;
       background-position: center;
       margin: 0 auto;
}

.about-2-team-name {
       font-size: 18px;
       margin: 5px 0 0 0;
       padding: 0;
}
.about-2-team-desc {
       height: 145px;
       width: auto;
}
.about-2-team-desc h2 {
       font-size: 22px;
}
.about-2-team-desc > p {
       height: 50px;
       width: auto;
}
.about-2-team-desc-1 {
       margin:0;
       color:#1f497d;
}

.about-2-team-desc-2 {
       height: 50px;
       margin:20px 0 10px 0;
}

.about-2-team-desc-3 {
       margin:0;
       height:60px;
       padding-top: 10px;
}

.link-icon {
       width:40px;
       height:40px;
}


@media screen and (max-width: 970px) {

       #about-1-inner ,#about-1-inner1{
              width:94%;
              padding: 15px 3% 15px 3%;
       }

       #about-2-inner {
              width:280px;
              padding:100px 3% 0 3%;
       }
       #about-2-team,
       #about-2-team-2 {
              padding: 0 0 0 0;
       }
       #about-2-team-2 {
              width:100%;
       }
       .about-2-team-each {
              margin: 0 0 25px 0;
       }

       .about-2-team-each:nth-child(2) {
              margin: 0 0 25px 0;
       }

       #about-2-team .about-2-team-each:nth-child(2) {
              margin: 0 0 25px 0;
       }


       #about-2-team-2 .about-2-team-each:nth-child(2) {
              margin: 0 0 25px 0;
       }


}


@media screen and (max-width: 640px) {


       #about-1-para-1 {
              width:80%;
              padding:0 10% 0 10%;
       }

       #about-1-para-2 {
              width:90%;
              padding:0 5% 20px 5%;
       }

}