#container1 span,
#container1 p
{
   font-family: Open Sans !important;
}

::-webkit-scrollbar { 
    display: none; 
}
 
#blog-1 {
	width:100%;
    background-color:#FFF;
    color:#000;
    position:relative;
    min-height:1300px;
    padding: 0 0 100px 0;
    font-family: Open Sans !important;
}

#blog-1-back {
	width:100%;
    position:absolute;
    top:0;
    left:0;
    min-height:100%;
}

#blog-1-inner {
	width:900px;
    margin:0 auto;
    text-align:center;
    padding:150px 0 150px 0;
    min-height:1200px;
    font-family: Open Sans !important;
}

#blog-1-h1 {
	color:#000;
    padding:0;
    width: 80%;
    margin: 0 10% 30px 10%;
}

#blog-1-para-1 {
	width:90%;
    padding:0 5% 0 5%;
    margin: 0 0 50px 0;
}

#blog-reg {
    display:block;
    text-decoration:none;
	border:1px solid #FFF;
    width:250px;
    text-align:center;
    color:#FFF;
    padding:10px 0 10px 0;
    background:none;
    font-size:24px;
    line-height:29px;
    cursor:pointer;
    border-radius:5px;
    margin:0 auto;
}

#blog-reg:hover {
    color:#FFF;
    background:#FFF;
}

#blog-list {
	margin:120px 0 0 0;
    width:100%;
	zoom:1;
    padding:0 0 20px 0;
}

#blog-list:before,
#blog-list:after {
    content:"";
    display:table;
}

#blog-list:after {
    clear:both;
}

.blogs-each {
    float: left;
    width: 280px;
    margin: 0 0 50px 0;
}

.blogs-img {
    width:100%;
    height: 230px;
    overflow: hidden;
    text-align:left;
}

.blogs-img img {
    width:280px;
    height: auto;
    cursor: pointer;
}

.blogs-info {
    width: 100%;
    padding: 10px 0 5px 0;
    cursor: pointer;
    text-align:left;
}

.blogs-info h3 {
    margin-top: 0;
}

.blogs-info a {
    color: #533b15;
}

.blogs-info a:hover {
    color: #999;
}

.blogs-each:nth-child(3n+2) {
    margin: 0 30px 50px 30px;
}

.post-details {
	width:100%;
    text-align:center;
    font-size:17px;
    margin:0 0 20px 0;
    font-family: Open Sans !important;
}

#blog-ind {
	width:100%;
    margin:50px 0 0 0;
	zoom:1;
    padding:0 0 80px 0;
}

#blog-ind:before,
#blog-ind:after {
    content:"";
    display:table;
}

#blog-ind:after {
    clear:both;
}

#blog-ind-left {
	float:left;
    width:45%;
}

#blog-ind-right {
	float:right;
    width:50%;
    text-align:left;
}

#blog-ind-right p {
	margin:0 0 10px 0;
}

#blog-ind-img img{
	width:100%;
    height:auto;
}

#blog-ind-thumb {
	text-align:left;
}

#blog-ind-thumb img {
	width:90px;
    height:auto;
    margin:0 5px 0 0;
    cursor:pointer;
}

@media screen and (max-width: 910px) {

    #blog-1-inner {
        width:94%;
        padding:150px 3% 0 3%;
    }
    
    
}

@media screen and (min-width: 641px)  and (max-width: 910px) {

    .blogs-each:nth-child(3n+2) {
    	margin: 0 0 50px 0;
	}
    
    .blogs-each:nth-child(2n+2) {
    	margin: 0 0 50px 60px;
	}
    
}

@media screen and (max-width: 640px) {

    .blogs-each {
        width:100%;
    	margin: 0 0 50px 0;
	}
    
    .blogs-each:nth-child(3n+2) {
    	margin: 0 0 50px 0;
	}
    
}

@media screen and (max-width: 600px) {

    #blog-ind-left,#blog-ind-right {
		float:none;
        width:100%;
        margin:10px 0 10px 0;
	}
    
    
}

.blog-post {
	text-align:justify;
    margin:20px 0 80px 0;
    font-family: Open Sans !important;
}

.post-title {
	font-size:26px;
    text-decoration:none;
    color:#000;
    text-align: center;
}

.post-title a{
	font-size:26px;
    text-decoration:none;
    color:#000;
}

.post-title a:hover{
    color:#999;
}

