/* start popup */
.contactWrap,
.logpopupWrap {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       padding: 0 0 50px 0;
       margin: 0;
       background: rgba(0,0,0,0.7);
       z-index: 10001;
       overflow-x: scroll;
}
.contactClose,
.logpopupClose {
       position: absolute;
       top: 10px;
       right: 10px;
       width: auto;
       margin:0 0 40px 0; 
       text-align: right;
       cursor: pointer;
       font-size: 18px;
       color:#0e638c;
       text-decoration:none;
       padding : 10px 10px 0 0;
}
.contactInner,
.logpopupInner {
       position: relative;
       margin: 75px auto 0 auto; 
       text-align: center;
       background-color: #fff;
       height: auto;
       width: 550px;
       border: 3px solid #cccccc;
       border-radius:10px;
       padding: 35px;
}
.contactTitle,
.logpopupTitle {
       font-size: 20px;
       color:#0e638c;
       font: weight: bold;
       margin: 0 0 5px 0;
}
.logpopupTitle {
       font-size: 15px;   
       margin: 0 0 0 0;
}
.contactText,
.logpopupText {
       font-size: 16px;
}
.logpopupWrap {
       display: none;
       padding-top: 50px;
}
.logpopupYesNo {
       display: inline-block;
       position: relative;
       height: auto;
       width: 90%;
       padding: 0;
       margin: 20px 0 0 0;
       list-style: none;
}
.logpopupYesNo > li {
       display: inline-block;
       position: relative;
       height: 40px;
       width: 45%;
       padding: 7px 0 0 0;
       color: white;
       margin: 0;
       list-style: none;
       border-radius: 10px;
       cursor: pointer;
}
.logpopupYesNo > li > a {
       color: white;
}
.logpopupYesNo > li > a:hover {
       text-decoration: none;
}
.logpopupYesNo > li:first-child {
       background: #cccccc;
       border: 1px solid #337ab7;
       margin: 5px 0 0 0;
       transition: all 0.3s ease-in-out;
}
.logpopupYesNo > li:first-child > a {
       transition: all 0.3s ease-in-out;
       color: #337ab7;
}
.logpopupYesNo > li:first-child:hover > a,
.logpopupYesNo > li:last-child:hover > a {
       transition: all 0.3s ease-in-out;
       color: white;
}
.logpopupYesNo > li:first-child:hover,
.logpopupYesNo > li:last-child:hover {
       transition: all 0.3s ease-in-out;
       background: #337ab7;
}
.logpopupYesNo > li:last-child {
       background: #cccccc;
       margin: 0 0 0 5px;
       border: 1px solid #cccccc;
}
/* end popup */


/* start popup mobile and tab */
@media only screen and (max-width:780px) {
       /* start popup */
       .contactClose,
       .logpopupClose {
              font-size: 18px;
              padding : 10px 10px 0 0;
       }
       .contactInner,
       .logpopupInner {
              margin: 50px auto 0 auto;
              width: 85%;
              padding: 35px;
       }
       .contactTitle,
       .logpopupTitle {
              font-size: 20px;
              margin: 0 0 5px 0;
       }
       .logpopupTitle {
              font-size: 15px;   
              margin: 0 0 0 0;
       }
       .contactText,
       .logpopupText {
              font-size: 16px;
       }
       .logpopupWrap {
              padding-top: 35px;
       }
       .logpopupYesNo {
              width: 90%;
              padding: 0;
              margin: 20px 0 0 0;
       }
       .logpopupYesNo > li {
              width: 45%;
              padding: 7px 0 0 0;
              margin: 0;
       }
       .logpopupYesNo > li > a {

       }
       .logpopupYesNo > li:first-child {
              margin: 5px 0 0 0;
       }
       .logpopupYesNo > li:last-child {
              margin: 0 0 0 5px;
       }
}
/* end popup mobile and tab */



#contact-1 {
       height: auto;
       width:100%;
       background-color:#FFF;
       color:#000;
       position:relative;
       padding: 40px 0 120px 0;
       background: #f2f2f2;
}

#contact-1-back {
       height: auto;
       width:100%;
       position: relative;
       top:0;
       left:0;
       background: #f2f2f2;
}

#contact-1-inner {
       height: auto;
       width:900px;
       margin:0 auto;
       text-align:left;
}

#contact-1-h1 {
       color:#000;
       padding:0;
       width: 80%;
       margin: 0 10% 30px 10%;
}

#contact-1-main {
       width:100%;
       zoom:1;
}

#contact-1-main:before,
#contact-1-main:after {
       content:"";
       display:table;
}

#contact-1-main:after {
       clear:both;
}

#contact-1-main-left {
       float:center;
       width:100%;
       margin:0 10% 0 0;
}

form{
       width:100%;
}

input[type="text"],
input[type="email"]{
       width: 98%;
       border: 1px solid #000;
       padding: 5px 3% 5px 3%;
       margin: 0 0 10px 0;
       font-size:22px;
       line-height:29px;
       color:#000;
       border-radius: 20px;
}

textarea {
       width: 97%;
       height:400px;
       border: 1px solid #000;
       padding: 5px 3% 5px 3%;
       margin: 0 0 10px 0;
       font-size:22px;
       line-height:29px;
       color:#000;
       resize:none;
}

#catwebformbutton {
       width:250px;
       text-align:center;
       color: white;
       padding:10px 0 10px 0;
       background: #1eb2f6;
       font-size:22px;
       line-height:29px;
       cursor:pointer;
       border-radius:5px;
       -webkit-transition: 0.3s;
}

#contact-1-main-right {
       float:right;
       width:45%;
}

#contact-1-main-right img {
       height:29px;
       width:auto;
       vertical-align:middle;
       margin:5px 0 5px 0;
}

#contact-info-h2 {
       color:#000;
       padding:0;
       width: 100%;
       margin: 0 0 30px 0;
       text-align:left;
}

#contact-map {
       margin:0 0 50px 0;
       width:100%;
}

#contact-map-h2 {
       color:#000;
       padding:0;
       width: 100%;
       margin: 0 0 30px 0;
       text-align:center;
}

#catwebformbutton:hover {
       background-color:#002699;
}

@media screen and (max-width: 780px) {
       #contact-1-inner {
              width:94%;
              /* padding:150px 3% 0 3%; */
       }
       #contact-1 {
              padding: 40px 0 40px 0;
       }
       #catwebformbutton{
              width:100px;
              padding:5px 0 5px 0;
              font-size:16px;
              line-height:29px;
              cursor:pointer;
              border-radius:5px;
              -webkit-transition: 0.3s;
       }
}

@media screen and (max-width: 570px) {

       #contact-1-main-right,#contact-1-main-left {
              float:none;
              width:100%;
       }

       #contact-1-main-right {
              margin:0 0 70px 0;
       }

       input[type="text"],textarea {
              width: 100%;
       }


}



