#emailexist {
       width: 92%;
}
.newLayer {
       margin: 30px 0 100px 0;
       padding: 0 15%;
}
.uploadImg {
       display: inline-block;
       position: relative;
       height: 175px;
       width: 100%;
       padding: 0;
       margin: 10px 0;
       overflow: hidden;
}
.thankYou {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 85px 0 50px 0;
       margin: 0 0 0 0;
       background: #f2f2f2;
}
.TYInner {
       position: relative;margin:6% 16%;text-align:left;
}
/*.TYInner::before {
       content: '';
       display: inline-block;
       position: absolute;
       bottom: -14px;
       left: 0;
       height: 14px;
       width: 100%;
       background: #00b0fd;
}*/
.TYTitle {
       font-size: 24px;
       color: #305e8e;
}
.TYText {
       font-size: 16px;
}
.TYText2 {
       font-size: 14px;
       color: #00aefd;
}
.TYLink {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 20px 0 0 0;
       list-style: none;
}
.TYLink > li {
       display: inline-block;
       position: relative;
       height: auto;
       width: auto;
       padding: 0;
       margin: 0 0 10px 0;
       list-style: none;
}
.galleryControl1,
.galleryControl2 {
       font-size: 60px;
       color: white;
       display: inline-block;
       position: absolute;
       top: 300px;
       cursor: pointer;
}
.galleryControl1 {
       right: 125px;
}
.galleryControl2 {
       left: 125px;
}
.FPWrap {
       display: inline-block;
       position: relative;
       left: 0;
       height: 100%;
       width: 100%;
       background: #f2f2f2;
}
.forgotPassword,
.xfersWrap {
       display: inline-block;
       position: relative;
       left: 0;
       height: 100%;
       width: 100%;
       padding: 60px 0 25px 0;
       margin: 70px 0 0 0;
       background: #f2f2f2;
}
.xfersWrap {
       padding: 60px 0 60px 0;
}
.xfersText {
       color: #5cb85c;
       font-size: 14px;
}
.xfersText > span {
       color: black;
       font-size: 14px;
}
.xfersText1 {
       margin: 10px 0 2px 0;
}
.xfersText2 {

}
.xfersText3 {
       font-weight: bold;
}
.FPInner {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 510px;
       padding: 64px 32px 85px 32px;
       margin: 0;
       background: white;
}
.FPInner::before {
       content: '';
       display: inline-block;
       position: absolute;
       bottom: -14px;
       left: 0;
       height: 14px;
       width: 100%;
       background: #00b0fd;
}
.FPTitle {
       color: #305e8e;
       font-size: 24px;
       font-weight: bold;
}
.FPInner > input {
       text-align: center;
}
.FPInner > button {
       font-size: 18px;
       color: white;
       height: 46px;
       width: 250px;
       background: #00b1f9;
       margin: 5px 0 0 0;
       border: 0 solid;
       border-radius: 15px;

}

#about-1 > center > .alert .alert-success {
       margin: 80px 0 -25px 0;
}
.month > .form-group > .col-xs-12 {
       padding: 0 15px;
}
.month > .form-group > .col-md-6 {
       padding: 0 15px;
}



/* start yt */
.spesial_yt > iframe {
       width: 560px;
       height: 315px;
       margin: 0 0 40px 0;
}
/* end yt */



/* start table */
.table_new {
       width: 100%;
       text-align: left;
}
.table_new > tbody > tr > td {
       padding: 15px 0;
}
.table_new > tbody > tr > td > p {
       margin: 0;
}
.table_new > tbody > tr > td:nth-child(1) {
       border-right: 1px solid #acacac;
       border-bottom: 1px solid #acacac;
}
.table_new > tbody > tr > td:nth-child(2) {
       border-right: 1px solid #acacac;
       border-bottom: 1px solid #acacac;
       text-align: center;
}
.table_new > tbody > tr > td:nth-child(3) {
       border-bottom: 1px solid #acacac;
}
.table_new > tbody > tr:nth-child(3) > td:nth-child(1),
.table_new > tbody > tr:nth-child(4) > td:nth-child(1) {
       border-right: 1px solid #acacac;
       border-bottom: none;
}
.table_new > tbody > tr:nth-child(3) > td:nth-child(2),
.table_new > tbody > tr:nth-child(3) > td:nth-child(3),
.table_new > tbody > tr:nth-child(4) > td:nth-child(2),
.table_new > tbody > tr:nth-child(4) > td:nth-child(3) {
       border-bottom: none;
}
.table_new > tbody > tr:last-child > td:nth-child(1) {
       border-right: 1px solid #acacac;
       border-bottom: none;
}
.table_new > tbody > tr:last-child > td:nth-child(2) {
       border-right: 1px solid #acacac;
       border-bottom: none;
}
.table_new > tbody > tr:last-child > td:nth-child(3) {
       border-right: none;
       border-bottom: none;
}
/* end table */



/* start popup */
.contactWrap,
.logpopupWrap,
.investWrap,
.enquireWrap,
.enquireWrap_new,
.enquireWrap_new_thanks,
.enquireWrapMsg,
.regThankWrap,
.VerifySuccessfulWrap,
.VerifyFailedWrap,
.bankSuccessWrap,
.nricWrap {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       padding: 0 0 50px 0;
       margin: 0;
       background: rgba(0,0,0,0.7);
       z-index: 10001;
       overflow-x: scroll;
}
.contactClose,
.logpopupClose,
.investClose,
.enquireClose,
.enquireClose_new,
.enquireClose_new_thanks,
.enquireCloseMsg,
.regThankClose,
.bankSuccessClose,
.nricClose {
       position: absolute;
       top: 10px;
       right: 10px;
       width: auto;
       margin:0 0 40px 0;
       text-align: right;
       cursor: pointer;
       font-size: 18px;
       color:#0e638c;
       text-decoration:none;
       padding : 10px 10px 0 0;
}
.contactInner,
.logpopupInner,
.investInner,
.enquireInner,
.enquireInnerMsg,
.regThankInner,
.bankSuccessInner,
.nricInner {
       position: relative;
       margin: 75px auto 0 auto;
       text-align: center;
       background-color: #fff;
       height: auto;
       width: 550px;
       border: 3px solid #cccccc;
       border-radius: 10px;
       padding: 35px;
}
.enquireInner {
       width: 550px;
}
.investInner {
       width: 580px;
}
.contactTitle,
.logpopupTitle,
.investTitle,
.enquireTitle,
.enquireTitleMsg,
.regThankTitle,
.bankSuccessTitle,
.nricTitle {
       font-size: 20px;
       color:#0e638c;
       margin: 0 0 5px 0;
       font-weight: bold;
}
.logpopupTitle {
       font-size: 15px;
       margin: 0 0 0 0;
}
.contactText,
.logpopupText,
.regThankText,
.enquireTextMsg,
.bankSuccessText,
.nricText {
       font-size: 16px;
}
.investText {
       font-size: 16px;
}
.logpopupWrap {
       display: none;
       padding-top: 50px;
}
.logpopupYesNo {
       display: inline-block;
       position: relative;
       height: auto;
       width: 90%;
       padding: 0;
       margin: 20px 0 0 0;
       list-style: none;
}
.logpopupYesNo > li {
       display: inline-block;
       position: relative;
       height: 40px;
       width: 45%;
       padding: 7px 0 0 0;
       color: white;
       margin: 0;
       list-style: none;
       border-radius: 10px;
}
.logpopupYesNo > li > a > p {
       height: 100%;
       width: 100%;
       color: white;
       cursor: pointer;
}
.logpopupYesNo > li > a:hover {
       text-decoration: none;
}
.logpopupYesNo > li:first-child {
       background: #337ab7;
       border: 1px solid #224f77;
       margin: 5px 0 0 0;
       transition: all 0.3s ease-in-out;
}
.logpopupYesNo > li:first-child > a {
       transition: all 0.3s ease-in-out;
       color: #337ab7;
}
.logpopupYesNo > li:first-child:hover > a,
.logpopupYesNo > li:last-child:hover > a {
       transition: all 0.3s ease-in-out;
       color: white;
}
.logpopupYesNo > li:first-child:hover{
       transition: all 0.3s ease-in-out;
       background: #224f77;
}
.logpopupYesNo > li:last-child:hover {
       transition: all 0.3s ease-in-out;
       background: #999999;
}
.logpopupYesNo > li:last-child {
       background: #cccccc;
       margin: 0 0 0 5px;
       border: 1px solid #cccccc;
}

.enquireBody > form > input {
       margin-bottom: 5px;
}
.enquireBody > form > input[type="text"],
.enquireBody > form > input[type="number"] {
       width: 98%;
}
.enquireBody > form > textarea {
       border-radius: 15px;
       border: 1px solid #cccccc;
       padding: 15px;
       margin: 15px 0 15px 0;
       width: 90%;
}
.enquireBody > form > div.item_1 {
       border: 1px solid #efefef;
       width: 99%;
       height: 38px;
       color: #333D50;
       padding: 7px 0;
       background: #FFF;
       font-size: 18px;
       line-height: 22px;
       border-radius: 30px;
       outline: none;
       margin: 20px 0 20px 0;
}
.enquireBody > form > div.item_1 > input,
.enquireBody > form > div.item_1 > p {
       float: left;
}
.enquireBody > form > div.item_1 > input[type="text"] {
       width: 89%;
       border: none;
       color: #333D50;
       padding: 0 20px;
       background: #FFF;
       font-size: 18px;
       line-height: 22px;
       border-radius: 0px;
       outline: none;
       margin: 0;
}
.enquireBody > form > div.item_1 > p {
       width: 10%;
}
.enquireBody > form > div.item_2 > input[type=checkbox],
.enquireBody > form > div.item_2 > p {
       float: left;
}
.enquireBody > form > div.item_2 > input[type=checkbox] {
       width: 10%;
}
.enquireBody > form > div.item_2 > p {
       width: 89%;
       text-align: left;
       font-weight: 700;
}
.enquireBody > form > div > p > span {
       color: #609edf;
}
.enquireBody > form > button {
       text-decoration: none;
       border: 1px solid #1eb2f6;
       width: 250px;
       text-align: center;
       color: #fff;
       padding: 10px 0 10px 0;
       /* background: #323d50; */
       background: #1eb2f6;
       font-size: 16px;
       line-height: 22px;
       cursor: pointer;
       border-radius: 5px;
       margin: 0 auto;
       position: relative;
       right: 0;
}
.enquireBody > form > button:hover {
       color: #FFF;
       background: #0e638c;
       border: 1px solid #0e638c;
}
/* end popup */


/* start popup mobile and tab */
@media only screen and (max-width:780px) {
       /* start yt */
       .spesial_yt > iframe {
              width: 280px;
              height: 180px;
              margin: 0 0 40px 0;
       }
       /* end yt */
       /* start popup */
       .contactClose,
       .investWrap,
       .logpopupClose {
              font-size: 18px;
              padding : 10px 10px 0 0;
       }
       .contactInner,
       .logpopupInner,
       .investInner,
       .enquireInner,
       .regThankInner {
              margin: 50px auto 0 auto;
              width: 85%;
              padding: 35px;
       }
       .contactTitle,
       .logpopupTitle,
       .investTitle {
              font-size: 20px;
              margin: 0 0 5px 0;
       }
       .logpopupTitle {
              font-size: 15px;
              margin: 0 0 0 0;
       }
       .contactText,
       .logpopupText,
       .investWrapText {
              font-size: 16px;
       }
       .logpopupWrap {
              padding-top: 35px;
       }
       .logpopupYesNo {
              width: 90%;
              padding: 0;
              margin: 20px 0 0 0;
       }
       .logpopupYesNo > li {
              width: 45%;
              padding: 7px 0 0 0;
              margin: 0;
       }
       .logpopupYesNo > li > a {

       }
       .logpopupYesNo > li:first-child {
              margin: 5px 0 0 0;
       }
       .logpopupYesNo > li:last-child {
              margin: 0 0 0 5px;
       }
}
/* end popup mobile and tab */



.partnerTitle {
       margin-top: 15px;
}
#image-popup-wadah {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background: rgba(255,255,255,0.5);
       z-index: 9100;
       overflow: scroll;
}
#image-popup-content {
       display: inline-block;
       position: relative;
       height: auto;
       width: 85%;
       margin-top: 125px;
}
#image-popup-content img {
       height: auto;
       width: 100%;
}
#close-popup {
       position: absolute;
       top: -50px;
       right: -10px;
       cursor: pointer;
}
#image-popup-wadah-s {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background: rgba(255,255,255,0.5);
       z-index: 9100;
       overflow: scroll;
}
#image-popup-content-s {
       display: inline-block;
       position: relative;
       height: auto;
       width: 85%;
       margin-top: 125px;
}
#image-popup-content-s img {
       height: auto;
       width: 100%;
}
#close-popup-s {
       position: absolute;
       top: -50px;
       right: -10px;
       cursor: pointer;
}
.HIWButton {
       display:inline-block;
       float:right;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       width:250px;
       padding:10px;
       font-weight:bold;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
       text-decoration: none;
       text-align:center;
       float: left;
       margin-top: 20px;
       margin-right: 10px;
}

.HIWButton :hover {
       color: #335e8b;
}

#default,
#default_new {
       background-color:#FFF;
       color:#000;
       padding:0 0 150px 0;
       margin-right: auto;
       margin-left: auto;
}

#default-1 {
       height: auto;
       width:100%;
       min-height:900px;
       margin-right: auto;
       margin-left: auto;
}

#default-1-back {
       height: auto;
       width:100%;
       min-height:900px;
       margin-right: auto;
       margin-left: auto;
}

#default-1-inner {
       height: auto;
       width:900px;
       margin:0 auto;
       text-align:center;
       padding:150px 0 0 0;
}

#default-1-inner img{
       max-width:100%;
}

#default-1-inner-s {
       height: auto;
       width:900px;
       margin:0 auto;
       text-align:center;
       padding: 25px 0 0 0;
}

#default-1-inner-s img{
       max-width:100%;
}

#default-1-h1 {
       color:#000;
       padding:0;
       width: 80%;
       margin: 0 10% 30px 10%;
}

#default-1-para-1 {
       width:90%;
       padding:0 5% 0 5%;
       margin: 0 0 50px 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"]{
       border:1px solid #efefef;width:100%;color:#333D50;padding:7px 20px 7px 20px;background:#FFF;font-size:18px;
       line-height:22px;border-radius: 10px;border:1px solid #e6e6e6;outline:none;margin:20px auto;
       box-shadow: 3px 3px 2px #888888;
}
#regis4,#regis0,#regis1,#regis2,#regis3,#regis5{
       width: 100%;margin:10px auto;
}
select {
       border:1px solid #efefef;
       width:100%;
       color:#000;
       padding:7px 2% 7px 2%;
       background:#FFF;
       font-size:14px;
       line-height:22px;
       border-radius:2px;
       outline:none;
       height:35px;
       /*max-width:150px;*/
       margin:20px 0 20px 0;
}
select[name="member_title"] {
       margin: 0 0 20px 10px;
}
textarea {
       border:1px solid #000;
       width:96%;
       color:#000;
       padding:7px 2% 7px 2%;
       background:#FFF;
       font-size:18px;
       line-height:22px;
       border-radius:2px;
       outline:none;
       height:200px;
       resize:none;
       box-shadow: 3px 3px 2px #888888;

}

input[type="submit"],input[type="button"], #register-submit {
       display:block;
       text-decoration:none;
       border:1px solid #1eb2f6;
       width:250px;
       text-align:center;
       color:#fff;
       padding:10px 0 10px 0;
       /* background:#323d50; */
       background:#1eb2f6;
       font-size:16px;
       line-height:22px;
       cursor:pointer;
       border-radius:5px;
       margin:0 auto;
}
#register-submit{
       width:100% !important;
}

input[type="submit"].disabled,input[type="button"].disabled {
  background: #8a8a8a;
  border-color: #8a8a8a;
}

.alert.popup-alert {
  padding: 0 15px;
  position: relative;
  top: 0;
  clear: both;
  text-align: left;
  height: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.alert.popup-alert.black-alert {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  font-size: 13px;
  font-style: italic;
  color: #2f3640;
  margin-bottom: 0px;
  padding: 0 15px;
}
.alert.popup-alert.show {
  padding: 15px;
  height: auto;
  opacity: 1;
  visibility: visible;
}

.alert.popup-alert.black-alert ul {
  padding: 0;
}

.alert.popup-alert.black-alert li {
  list-style: none;
  margin-bottom: 10px;
  color: #e60000;
}

input[type="submit"]:hover , #register-submit:hover {
       color:#FFF;
       background:#0e638c;
       border:1px solid #0e638c;
}

#oa-main {
       width:100%;
       zoom:1;
}

#oa-main:before,
#oa-main:after {
       content:"";
       display:table;
}

#oa-main:after {
       clear:both;
}

.oa-each {
       width:45%;
       float:left;
       height:400px;
       margin:0 0 50px 0;
}

.oa-each:nth-child(2n) {
       margin:0 0 50px 10%;
}

.oa-each-img {
       width:100%;
       height:300px;
       margin:0 0 20px 0;
       position:relative;
}

.oa-img {
       position:absolute;
       bottom:0;
       left:0;
       width:100%;
}

.oa-each-desc {
       width:100%;
       height:80px;
}

.oa-each-desc-header {
       font-family: 'PTSerif-Bold';
       padding: 0;
       margin: 0;
       font-size: 24px;
       line-height: 38px;
       text-align: center;
       color: #533b15;
       text-decoration:none;
}
#getfundedform {
       margin-bottom: 30px;
}
#get-fund-suc {
       width:700px;
       margin:0 auto;
       zoom:1;
}

#get-fund-suc:before,
#get-fund-suc:after {
       content:"";
       display:table;
}

#get-fund-suc:after {
       clear:both;
}

#get-fund-suc-left {
       float:left;
       width:47%;
}

#get-fund-suc-right {
       float:right;
       width:47%;
}

.fund-link {
       display: inline-block;
       text-decoration: none;
       border: 1px solid #000;
       width: 250px;
       text-align: center;
       color: #000;
       padding: 10px 0 10px 0;
       background: none;
       font-size: 24px;
       line-height: 29px;
       cursor: pointer;
       border-radius: 5px;
       margin:0;
}

.fund-link:hover {
       color:#FFF;
       background:#0e638c;
       border:1px solid #0e638c;
}
.how-to-list {
       width: 900px;
       margin:30px auto 80px auto;
       max-width:100%;
}

.how-to-list ul{
       width:100%;
       padding:0;
       margin:0;
       list-style-type:none;
       zoom:1;
}

.how-to-list ul:before,
.how-to-list ul:after {
       content:"";
       display:table;
}

.how-to-list ul:after {
       clear:both;
}

.how-to-list ul li{
       width: 33.33%;
       float:left;
}

.how-to-list-img {
       height: 200px;
}

.how-img {
       max-width:100%;
       max-height:100%;
}
.how-img1 {
       max-width:100%;
       max-height:100%;
       margin: 0 60px 0 0px;
}
.how-img2 {
       max-width:100%;
       max-height:100%;
       margin: 0 60px 0 0px;
}

.how-to-list-header {
       width:80%;
       text-align:center;
       background: #f2f5f7;
       padding: 20px 0;
       margin: 20px 0;
       color: #35608d;
       font-size: 16px;
       font-weight: bold;
       vertical-align: middle;
       height: 85px;
}

.how-to-list-text {
       margin-top: -10px;
       width:80%;
       text-align:left;
}

.how-to-list-text ul {
       list-style-type: disc;
       margin-left: 20px;
}

.how-to-list-text ul li{
       float:none;
       width:100%;
       color:#35608d;
       margin-bottom:10px;
       font-size: 16px;
}
@media screen and (max-width: 910px) {

       #default-1-inner,#get-fund-main {
              width:94% !important;
              padding:150px 3% 0 3%;
       }
       #default-1-inner-s,#get-fund-main {
              width:94% !important;
              padding: 0 3% 0 3%;
       }
       .how-to-list {
              width:250px;
       }

       .how-to-list ul li{
              width: 100%;
              float:none;
              margin-bottom:40px;
       }
       /*
           #kb-partners-list {
               width:300px !important;
           }

           #kb-partners-list li{
               width:100% !important;
               float:none !important;
           }
       */
}

.tabledefault {
       width:100%;
       text-align:center;
}

.shop-cart {
       opacity:0;
}

.invoice-table {
       text-align:left;
}

@media screen and (max-width: 560px) {
       #kb-partners-list li img{
              width: 280px !important;
              height: auto !important;
       }

       #gf-form {
              width:100% !important;
       }
       .HIWButton {
              display:inline-block;
              float:right;
              background:#1eb2f6;
              box-sizing: border-box;
              text-transform: uppercase;
              width:170px;
              padding:14px;
              font-weight:bold;
              font-size:10px;
              line-height:20px;
              cursor:pointer;
              color: #FFF;
              text-decoration: none;
              text-align:center;
              float: left;
              margin-left: 50px;
              margin-top: 20px;
              margin-right: 10px;
       }

}

@media screen and (max-width: 560px) {

       #gf-form {
              width:100% !important;
       }

}

@media screen and (max-width: 710px) {

       #get-fund-suc {
              width:100%;
       }

       #get-fund-suc-left {
              float:none;
              width:100%;
       }
       #get-fund-suc-right {
              float:none;
              width:100%;
       }
       #default_new {
              padding: 0 0 25px 0;
       }
       .forgotPassword,
       .xfersWrap {
              padding: 60px 0 25px 0;
              margin: 70px 0 0 0;
       }
       .xfersWrap {
              padding: 60px 0 60px 0;
       }
       .xfersText {
              font-size: 14px;
       }
       .xfersText > span {
              font-size: 14px;
       }
       .xfersText1 {
              margin: 10px 0 2px 0;
       }
       .forgotPassword {
              padding: 25px 0 25px 0;
              margin: 39px 0 0 0px;
       }
       .forgotPassword > .row > .col-xs-12 {
              width: 90%;
              float: none;
       }
       .forgotPassword > .row > .col-xs-12 > .alert alert-success {
       }
       .FPInner {
              width: 90%;
              padding: 25px 32px 35px 32px;
              margin: 0;
       }
       .FPInner::before {
              bottom: -14px;
              height: 14px;
       }
       .FPTitle {
              font-size: 20px;
       }
       .FPInner > input {
              text-align: center;
              font-size: 14px;
       }
       .FPInner > button {
              font-size: 16px;
              height: 46px;
              width: 200px;
              margin: 5px 0 0 0;
       }

}


#footer {
       /* margin: -50px 0 0 0;*/
}

#get-fund-main {
       width: 900px;
       margin-left: 25px;
}
#get-fund-desc {
       text-align: center;
}
.gff-div {
       margin-bottom:40px;
}
.gff-div-submit {
       margin:80px 0 20px 0;
}
#gf-form {
       width:550px;
}

#catwebformbutton {
       margin: 160px 0 0 0;
}
#catwebformbutton1 {
       margin: 0;
}
form[id="payment"] > div > center > #catwebformbutton {
       margin: 95px 0 0 0;
}
#gf-form input[type="text"] {
       width:550px;
       max-width:90%;
       margin:0;
}
#gf-form select {
       margin:0;
}
#CAT_Custom_20022891,#CAT_Custom_20022896 {
       width:370px !important;
       max-width:40% !important;
}
#CAT_Custom_20022896 {
       display:none;
}
#have_purchase_orders {
       height:38px;
}
#default-1-inner img {
       max-width: 100% !important;
       height:auto !important;
       text-align:center;
       margin-left:0 !important;
       margin-right:0 !important;
}

#kb-partners-list {
       display: inline-block;
       position: relative;
       float: left;
       height: auto;
       width:100%;
       padding: 0 0 0 0;
       margin:0 0 0 0;
       /* padding:50px 0 100px 0; */
       list-style-type:none;
}
#kb-partners-list li {
       padding: 0 0 0 0;
       margin: 0 0 0 0;
       list-style: none;
}
#kb-partners-list li:first-child{
       display: inline-block;
       position: relative;
       height: auto;
       width:40%;
       text-align:center;
       float:left;
       margin:30px 0;
}
#kb-partners-list li:last-child{
       display: inline-block;
       position: relative;
       height: auto;
       width:60%;
       float:left;
       padding-left: 15px;
       margin:30px 0;
}


#kb-partners-list li img{
       width: 325px !important;
       height: 230px !important;
}

#kb-partners-list li h3{
       text-align:left !important;
       margin-top: 0;
       color:#1f497d;
}

#kb-partners-list li a:-webkit-any-link{
       text-decoration:none !important;
}

.partnersDes {
       text-align: left;
}

.w50{
       width:50%;
       float:left;
	   padding: 30px 30px;
}

.w25{
       width:25%;
       float:left;
}
.w75{
       width:75%;
       float:left;
}
.w25C {
       width: 23.5%;
       float:left;
       margin: 0 0 0 25px;
}
.w50 > label,
.w75 > label,
.w25 > label,
.w25C > label {
       color: #335f8c;
       font-weight: normal;
}
label {
       font-weight: normal;
}
.clear{
       clear:both;
}

.bluebtn{
       display:inline-block;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       padding:10px 50px 10px 50px;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
}
.bluebtn:hover {
       text-decoration: none;
       color: white;
       background: #0e638c;
}

.req{
       color:#fe3f3f;
}
@media only screen and (max-width:780px) {
       .newLayer {
              margin: 30px 0 100px 0;
              padding: 0 0;
       }
       #kb-partners-list {
              float: none;
              width:95%;
       }
       #kb-partners-list li:first-child{
              width:100%;
              float:none;
              margin: 25px 0 0 0;
       }
       #kb-partners-list li:last-child{
              width:100%;
              float:none;
              padding: 0 10px;
              margin: 5px 0 25px 0;
       }


       #kb-partners-list li img{
              width: 325px !important;
              height: 230px !important;
       }

       #kb-partners-list li h3{
              text-align:left !important;
              margin-top: 0;
              color:#1f497d;
       }

       #kb-partners-list li a:-webkit-any-link{
              text-decoration:none !important;
       }
       .partnersDes {
              text-align: justify;
       }
}
.month {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       margin: 25px 0 0 0;
       padding: 0 0;
}
.payItem {
       display: inline-block;
       position: relative;
       height: 100%;
       width: 100%;
}
.monContent {
       display: inline-block;position: relative;height: 60px;width: 100%;margin:15px auto 5px; background-color:#0086b3;color:white
}
.monItem,
.monItem2
{
       display: inline-block;position: relative;height: 60px;width: 33.333%;float: left;margin: 0;border-right:1px solid white;
}
.monItem {
       background: none;
       margin: 0;
}
.monthForm {
       outline: none;
       border: none;
       height: 45px;
       width: 100%;
       padding: 0 15px;
       margin: 100px;
}
.proofText{
       text-align:center;font-size:12px;margin-top:10px;
}
.payoutDivs{
       margin-bottom: 15px;background-color: #f2f2f2;border-radius: 10px;padding:15px 4px 4px;
}
.monText {
       font-size: 18px;margin: 0;text-align: center;line-height: 60px;font-weight: 400;
}
.monthForm[disabled], .monthForm[readonly], fieldset[disabled] .monthForm {
       background: #eee;
}
div[name="smin"] {
       width:90%;
       color:#333D50;
       padding:7px 6% 7px 6%;
       background:#FFF;
       font-size:18px;
       line-height:22px;
       border-radius: 30px;
       outline:none;
       margin:20px 0 20px 0;
       border: 0 solid;
}
input[class="cat_textbox S5Input3"] {
       width: 90%;
       max-width: 100%;
       display: none;
       border-radius: 5px;
       height: 32px;
}
#labelNew {
       display: none;
}
select[class="inputAlign reg_textbox"],
input[class="inputAlign reg_textbox"] {
       margin-top: 0;
}
input[name="member_firstname"],
input[name="member_surname"] {
       margin-top: 20px;
}
.invest-form-layer > .checkIn > label {
       float: left;
       width: 100%;
}
.invest-form-layer > .checkIn > input[type="checkbox"] {
       float: left;
       width: 5%;
}
.invest-form-layer > .checkIn > p {
       float: left;
       width: 94%;
}
.checkIn {
       margin-top: -10px;
}
.labelIn2 {
       margin-bottom: -10px;
}
.CPay {
       margin-top: 70px;
}
.CPay > .FPInner > input[type="text"],
.CPay > .FPInner > input[type="file"] {
       margin: 20px 0 0 0;
}




/* start investor new */
/* start investor new banner */
.investorNewBanner {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 70px 0 0 0;
       background: url('../imagesNew/investBackground.jpg') no-repeat;
       background-size: cover;
}
.INInner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 96%;
}
.INContent1,
.INContent2 {
       display: inline-block;
       position: relative;
       height: auto;
       padding: 0;
       margin: 0;
       float: left;
}
.INContent1 {
       width: 60%;
}
.INContent2 {
       width: 40%;
}
.INTitle {
       color: #325f8c;
       font-size: 30px;
       margin: 478px 0 0 0;
}
.INText {
       color: #325f8c;
       font-size: 24px;
}
.INC2Item {
       display: inline-block;
       position: relative;
       height: auto;
       width: 355px;
       padding: 0 12px 12px 12px;
       margin: 34px 0 34px 0;
       background: rgba(0,174,253,0.5);
}
.INFormTitle {
       color: white;
       font-weight: bold;
       text-align: left;
       font-size: 20px;
       margin: 21px 5px 21px 5px;
}
.INInput {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 14px 0;
       margin: 0;
       background: white;
       border-radius: 5px;
}
select[name="invest_new_select_1"],
input[name="invest_new_first_name"],
input[name="invest_new_last_name"],
select[name="invest_new_national"],
input[name="invest_new_username"],
input[name="invest_new_email_address"],
input[name="invest_new_password"],
input[name="invest_new_confirm_password"],
button[name="invest_new_button"] {
       display: inline-block;
       position: relative;
       height: 38px;
       width: 90%;
       padding: 0 10px;
       border-radius: 30px;
       margin: 15px 0;
       border: 1px solid #cccccc;
       text-align: center;
       font-size: 16px;
}
select[name="invest_new_select_1"],
select[name="invest_new_national"] {
       text-align-last: center;
}
.INFull {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
}
select[name="invest_new_national"] {
       border-radius: 5px;
}
select[name="invest_new_select_1"] {
       width: 22%;
       float: left;
       clear: both;
       border-radius: 5px;
       margin: 0 14px 14px 16px;
       padding: 0 5px;
}
input[name="invest_new_first_name"],
input[name="invest_new_last_name"],
input[name="invest_new_password"],
input[name="invest_new_confirm_password"] {
       width: 44%;
}
button[name="invest_new_button"] {
       height: 46px;
       width: 70%;
       border: 0 solid;
       background: #00b1f9;
       border-radius: 5px;
       font-size: 16px;
       color: white;
}
/* end investor new banner */



/* start investor new section 1 */
.investorNewSection1 {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 0;
}
.INS1Inner1,
.INS1Inner2 {
       display: inline-block;
       position: relative;
       height: auto;
       padding: 0;
       margin: 0;
       float: left;
}
.INS1Inner1 {
       width: 60%;
       background: #325f8c;
}
.INS1Inner2 {
       width: 40%;
}
.INS1Title {
       font-size: 25px;
       color: white;
       margin: 60px 0 45px 0;
}
.howUlNew {
       display: inline-block;
       position: relative;
       height: auto;
       width: auto;
       padding: 0;
       margin: 0 0 29px 0;
       list-style: none;
}
.howUlNew > li {
       display: inline-block;
       position: relative;
       height: auto;
       width: auto;
       padding: 0;
       margin: 0 23px;
       list-style: none;
}
.howUlNew > li > p {
       font-size: 18px;
       color: white;
       font-weight: bold;
}
.INS1Text {
       font-size: 16px;
       color: white;
}
.INS1Inner1 > a {
       text-decoration: none;
}
.INS1Button {
       height: 43px;
       width: 250px;
       background: #00b0f9;
       border-radius: 5px;
       font-size: 16px;
       color: white;
       padding: 10px 0 0 0;
       text-decoration: none;
       margin: 29px 0 61px 0;
}
.INS1Title2,
.INS1Ul {
       text-align: left;
}
.INS1Title2 {
       color: #325f8c;
       font-size: 25px;
       margin: 63px 41px 49px 41px;
}
.INS1Ul {
       margin: 0 41px 0 58px;
       padding: 0;
}
.INS1Ul > li {
       font-size: 16px;
       margin: 5px 0;
}
.INS1Img {
       position: absolute;
       right: 44px;
       bottom: 53px;
}
/* end investor new section 1 */



/* start investor new section 3 */
.investorNewSection3 {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 0;
}
.INS3Inner1,
.INS3Inner2 {
       display: inline-block;
       position: relative;
       height: auto;
       float: left;
       padding: 0;
       margin: 0;
}
.INS3Inner1 {
       width: 55%;
}
.INS3Inner2 {
       width: 45%;
}
.INS3Inner1::before {
       content: '';
       display: inline-block;
       position: absolute;
       top: 10%;
       right: 0.5px;
       bottom: 10%;
       height: 80%;
       width: 1px;
       background: #cccccc;
       z-index: 1;
}
.INS3Title,
.INS3Title2 {
       font-size: 24px;
       color: #919191;
       font-weight: bold;
       margin: 64px 0 30px 0;
}
.INS3Ul,
.INS3Ul2 {
       display: inline-block;
       position: relative;
       height: auto;
       padding: 0;
       margin: 0;
       list-style: none;
}
.INS3Ul {
       width: 100%;
}
.INS3Ul > li,
.INS3Ul2 > li {
       display: inline-block;
       position: relative;
       height: auto;
       padding: 0;
       margin: 0;
       list-style: none;
}
.INS3Ul > li {
       height: 113px;
       width: 180px;
       margin: 0 50px 0 50px;
       overflow: hidden;
}
.INS3Ul > li > a > img {
       height: auto;
       width: 100%;
       filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
       /* Firefox 10+, Firefox on Android */
       -webkit-filter: grayscale(100%);
       filter: grayscale(100%);
       filter: gray;
       /* IE 6-9 */
       -moz-transition: all 0.2s ease-in;
       -o-transition: all 0.2s ease-in;
       -webkit-transition: all 0.2s ease-in;
       transition: all 0.2s ease-in;
}
.INS3Ul > li > a > img:hover {
       filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
       -webkit-filter: none;
       filter: none;
}
.INS3Ul2 > li {
       height: auto;
       width: 100%;
}
.INS3Ul2 > li > p {
       color: #919191;
       font-size: 16px;
}
.INS3Bottom {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 22px 0;
       margin: 0;
       background: #325f8c;
}
.INS3Bottom > p {
       font-size: 20px;
       color: white;
       font-weight: bold;
}
/* end investir new section 3 */



/* start investor new section 4 */
.investorNewSecton4 {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 0;
       background: #484848;
}
.INS4Inner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 72.5%;
       padding: 48px 0;
       margin: 0;
}
.INS4Item1,
.INS4Item2 {
       display: inline-block;
       position: relative;
       height: auto;
       padding: 0;
       margin: 0;
       float: left;
}
.INS4Item1 {
       width: 40%;
}
.INS4Item2 {
       width: 60%;
}
.INS4Img {
       margin: 0 0 0 0;
       height: auto;
       width: auto;
}
.INS4Title {
       color: #00b0f9;
       font-size: 30px;
       margin: 144px 0 23px 0;
}
.INS4Text {
       color: white;
       font-size: 16px;
}
.INS4Download {
       font-size: 24px;
       color: #00b0f9;
       margin: 41px 0 26px 0;
}
.INS4DownloadUl,
.INS4DownloadUl > li {
       display: inline-block;
       position: relative;
       height: auto;
       width: auto;
       list-style: none;
       padding: 0;
       margin: 0;
}
.INS4DownloadUl > li:first-child {
       margin: 0 10px 0 0;
}
.INS4DownloadUl > li:last-child {
       margin: 0 0 0 10px;
}
/* end investor new section 4 */
/* end investor new */



/* new */
.login-private {
       margin: 30px 0 15px 0;
       text-align: center;
       color: black;
       font-size: 16px;
       font-weight: normal;
       line-height: 1.5;
}
.login-private > a {
       font-weight: bold;
       color: #0e638c;
}
/* /new */

.roundloader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #2283c3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin:auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media only screen and (max-width: 5000px) { /* Large Screen */



}

@media only screen and (max-width: 1199px) { /* Normal Laptop Screen */



}
@media only screen and (max-width: 991px) { /* Tablet Screen */



}
@media only screen and (max-width: 767px) { /* Phone Screen */
       #default-1-inner-s {
              height: auto;
              width:100%;
              margin:0;
              text-align:center;
              padding: 10px 0 0 0;
       }
       #get-fund-main{
              margin:auto;
              padding:0
       }
       .TYInner{
       margin:6% 10px
       }
       input[type="text"], input[type="password"],input[type="email"] {
              width:95%;padding:7px 2% 7px 2%;background:#FFF;font-size:20px;line-height:23px;
              border-radius:10px;outline:none;margin:10px 0;
       }

       #oa-main {
              margin:100px 0 0 0;
       }

       .oa-each {
              width:100%;
              float:none;
              height:auto;
              margin:0 0 70px 0;
       }

       .oa-each:nth-child(2n) {
              margin:0 0 70px 0;
       }

       .oa-each-img {
              height:auto;
       }

       .oa-img {
              position:static;
       }

       .oa-each-desc {
              height:auto;
       }
}
