#event-1 {
   height: auto;
	width:100%;
    background-color:#F2F2F2;
    color:#000;
    position:relative;
    padding: 40px 0 40px 0;
}

#event-1-back {
    height: auto; 
	width:100%;
    position: relative;
    top:0;
    left:0;
}

#event-1-inner {
	width:900px;
    margin:0 auto;
    text-align:center;
    padding: 0 0 0 0;
}

#event-1-h1 {
	color:#000;
    padding:0;
    width: 80%;
    margin: 0 10% 30px 10%;
}

#event-1-para-1 {
	width:90%;
    padding:0 5% 0 5%;
    margin: 0 0 20px 0;
}

#event-reg {
    display:block;
    text-decoration:none;
	border:1px solid #FFF;
    width:250px;
    text-align:center;
    color:#FFF;
    padding:10px 0 10px 0;
    background:none;
    font-size:24px;
    line-height:29px;
    cursor:pointer;
    border-radius:5px;
    margin:0 auto;
}

#event-reg:hover {
    color:#0e638c;
    background:#FFF;
}

#event-list {
    height: auto;
    width:100%;
	zoom:1;
}

#event-list:before,
#event-list:after {
    content:"";
    display:table;
}

#event-list:after {
    clear:both;
}

.events-each {
    float: left;
    height: auto; 
    width: 100%;
    padding: 25px 25px 25px 25px;
    margin: 20px 0;
    background: white;
}
.events-info h3 a {
    display: inline-block;
    float: none;
    background: none;
    box-sizing: none;
    text-transform: uppercase;
    width: auto;
    padding: none;
    font-weight: bold;
    font-size: none;
    line-height: none;
    cursor:pointer;
    text-align: left;
    margin-top: -10px;
    color: black;
    text-decoration: none;
}
.events-img {
    float: left;
    display: inline-block;
    width:45%;
    height: 230px;
    overflow: hidden;
    text-align:left;
}

.events-img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.events-info {
    float: left;
    display: inline-block;
    width: 54%;
    padding: 5px 0 5px 20px;
    cursor: pointer;
    text-align:left;
}

.events-info h3 {
    margin-top: -10px;
    margin-bottom: 15px;
    margin-left: -7px;
    height: 45px;
}
.events-info h3 a {
    color: black;
    text-decoration: none;
}
.events-info p,
.events-info-sm p {
    font-size: 16px;
}
.events-info a {
    display:inline-block;
    float:right;
    background:#1eb2f6;
    box-sizing: border-box;
    text-transform: uppercase;
    width:250px;
    padding:10px;
    font-weight:bold;
    font-size:16px;
    line-height:20px;
    cursor:pointer;
    color: #FFF;
    text-decoration: none;
    text-align:center;
    float: left;
    margin-top: 20px;
}

.events-info a:hover {
    color: #335e8b;
}
.events-each-sm {
    float: left;
    height: auto; 
    width: 100%;
    padding: 25px 0 0 0;
    margin: 20px 0;
    background: white;
}

.events-img-sm {
    float: left;
    display: inline-block;
    width:0;
    height: 230px;
    overflow: hidden;
    text-align:left;
}

.events-img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.events-info-sm {
    float: left;
    display: inline-block;
    width: 97%;
    padding: 15px 15px 0 35px;
    cursor: pointer;
    text-align:left;
}

.events-info-sm h3 {
    margin-top: -10px;
    margin-left: -10px;
    height: 45px;
}
.events-info-sm h3 a {
    display: inline-block;
    float: none;
    background: none;
    box-sizing: none;
    text-transform: uppercase;
    width: auto;
    padding: none;
    font-weight: bold;
    font-size: none;
    line-height: none;
    cursor:pointer;
    text-align: left;
    margin-top: -10px;
    color: black;
    text-decoration: none;
}
.events-info-sm a {
    display:inline-block;
    float:right;
    background:#1eb2f6;
    box-sizing: border-box;
    text-transform: uppercase;
    width:250px;
    padding:10px;
    font-weight:bold;
    font-size:16px;
    line-height:20px;
    cursor:pointer;
    color: #FFF;
    text-decoration: none;
    text-align:center;
    float: left;
    margin-top: 20px;
}

.events-info-sm a:hover {
    color: #335e8b;
}
/*
.events-each:nth-child(3n+2) {
    margin: 0 30px 50px 30px;
}
*/

#event-ind {
	width:100%;
    margin:50px 0 0 0;
	zoom:1;
    padding:0 0 80px 0;
}

#event-ind:before,
#event-ind:after {
    content:"";
    display:table;
}

#event-ind:after {
    clear:both;
}

#event-ind-left {
	float:left;
    width:45%;
}

#event-ind-right {
	float:right;
    width:50%;
    text-align:left;
}

#event-ind-right img{
    width:100%;
}

#event-ind-right p {
	margin:0 0 10px 0;
}

#event-ind-img img{
	width:100%;
    height:auto;
}

#event-ind-thumb {
	text-align:left;
}

#event-ind-thumb img {
	width:90px;
    height:auto;
    margin:0 5px 0 0;
    cursor:pointer;
}

@media screen and (max-width: 910px) {

    #event-1-inner {
        width:94%;
        padding:150px 3% 0 3%;
    }
    #events-info {
         width: 100%;
    }
    #events-img {
         width: 100%;
    }
    
    
}
@media only screen and (max-width:780px) {
.events-each {
    float: left;
    margin: 20px 0;
}

.events-img {
    float: none;
    display: block;
    width: 100%;
    height: auto;
}

.events-img img {
    width: 90%;
    height: auto;
    cursor: pointer;
}

.events-info {
    float: none;
    display: block;
    width: 100%;
    padding: 0 10px;
}

.events-info h3 {
    margin-top: 3px;
    height: auto;
}

.events-info a {
    display:inline-block;
    float:right;
    background:#1eb2f6;
    box-sizing: border-box;
    text-transform: uppercase;
    width:250px;
    padding:10px;
    font-weight:bold;
    font-size:16px;
    line-height:20px;
    cursor:pointer;
    color: #FFF;
    text-decoration: none;
    text-align:center;
    float: left;
    margin-top: 20px;
}

.events-info a:hover {
    color: #335e8b;
}
}
@media screen and (min-width: 641px)  and (max-width: 910px) {

    .events-each:nth-child(3n+2) {
    	/* margin: 0 0 50px 0; */
	}
    
    .events-each:nth-child(2n+2) {
    	/* margin: 0 0 50px 60px; */
	}
    
}

@media screen and (max-width: 640px) {

/*
    .events-each {
        width:100%;
    	margin: 0 0 50px 0;
	}
    
    .events-each:nth-child(3n+2) {
    	margin: 0 0 50px 0;
	}
*/
    
}

@media screen and (max-width: 600px) {

    #event-ind-left,#event-ind-right {
		float:none;
        width:100%;
        margin:10px 0 10px 0;
	}
    
    
}
