#media-1 {
    height: auto;
	width:100%;
    background-color: white;
    color:#000;
    position:relative;
    padding: 50px 0 30px 0;
    margin: 48px 0 0 0;
}

#media-1-back {
    height: auto;
	width:100%;
    position: relative;
    top:0;
    left:0;
}

#media-1-inner {
    height: auto;
	width:900px;
    margin: 0 auto;
    padding: 0 0 0 0;
    text-align:center;
}

#media-1-h1 {
	color:#000;
    padding:0;
    width: 80%;
    margin: 0 10% 30px 10%;
}

#media-1-para-1 {
	width:90%;
    padding:0 5% 0 5%;
    margin: 0 0 50px 0;
}
.mediaImage {
    border: 0px solid;
    height: 30%;
    width: 30%;
}

#media-reg {
    display:block;
    text-decoration:none;
	border:1px solid #FFF;
    width:250px;
    text-align:center;
    color:#FFF;
    padding:10px 0 10px 0;
    background:none;
    font-size:24px;
    line-height:29px;
    cursor:pointer;
    border-radius:5px;
    margin:0 auto;
}

#media-reg:hover {
    color:#0e638c;
    background:#FFF;
}

#media-list {
	margin:120px 0 0 0;
    width:100%;
	zoom:1;
    padding:0 0 20px 0;
}

#media-list:before,
#media-list:after {
    content:"";
    display:table;
}

#media-list:after {
    clear:both;
}

.media-each {
    float: left;
    width: 46%;
    margin: 0 0 50px 0;
}

.media-img {
    width:100%;
    height: 300px;
    overflow: hidden;
    text-align:left;
}

.media-img img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    cursor: pointer;
}

.media-info {
    width: 100%;
    padding: 10px 0 5px 0;
    cursor: pointer;
    text-align:left;
}

.media-info h3 {
    margin-top: 0;
}

.media-info a {
    color: #FFF;
    text-decoration:underline;
}

.media-info a:hover {
    color: #999;
}

.media-each:nth-child(2n+1) {
    margin: 0 6% 50px 0;
}

#media-ind {
	width:100%;
    margin:50px 0 0 0;
	zoom:1;
    padding:0 0 80px 0;
}

#media-ind:before,
#media-ind:after {
    content:"";
    display:table;
}

#media-ind:after {
    clear:both;
}

#media-ind-left {
	float:left;
    width:45%;
}

#media-ind-right {
	float:right;
    width:50%;
    text-align:left;
}

#media-ind-right p {
	margin:0 0 10px 0;
}

#media-ind-img img{
	width:100%;
    height:auto;
}

#media-ind-thumb {
	text-align:left;
}

#media-ind-thumb img {
	width:90px;
    height:auto;
    margin:0 5px 0 0;
    cursor:pointer;
}
.mediaImageLoop {
    height: auto;
    width: 100%;
    padding: 10px 0 0 0;
}
.mediaImageUl {
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
}
.mediaImageUl > li {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 23%;
    min-height: none;
    padding: 0 0 0 0;
    margin: 0 0 10px 0;
    list-style: none;
    float: none;
    background: white;
}

/* start manual media padding */
.mediaImageUl > li:nth-child(1) {
   padding: 4px 0 0 0;
}
.mediaImageUl > li:nth-child(2) {
   padding: 45px 0 0 0;
}
.mediaImageUl > li:nth-child(3) {
   padding: 80px 0 0 0;
}
.mediaImageUl > li:nth-child(4) {
   padding: 78px 0 0 0;
}
.mediaImageUl > li:nth-child(5) {
   padding: 47px 0 0 0;
}
.mediaImageUl > li:nth-child(6) {
   padding: 62px 0 0 0;
}
.mediaImageUl > li:nth-child(7) {
   padding: 47px 0 0 0;
}
.mediaImageUl > li:nth-child(8) {
   padding: 83px 0 0 0;
}
.mediaImageUl > li:nth-child(9) {
   padding: 45px 0 0 0;
}
.mediaImageUl > li:nth-child(10) {
   padding: 77px 0 0 0;
}
.mediaImageUl > li:nth-child(11) {
   padding: 19px 0 0 0;
}
.mediaImageUl > li:nth-child(12) {
   padding: 14px 0 0 0;
}
/* start manual media padding */

.mediaImageUl > li:nth-child(4n+2),
.mediaImageUl > li:nth-child(4n+3) {
    margin: 0 7px;
}
.mediaImageUl > li > a {
    position: relative;
    text-decoration: none;
    height: auto;
    width: 100%;
    text-align: center;
}
.mediaImageUl > li > a > img {
    position: relative;
    height: auto;
    width: 90%;
}
@media only screen and (max-width:780px) {
#media-1 {
    padding: 35px 0 35px 0;
    margin: 40px 0 0 0;
}

#media-1-back {
	width:100%;
}

#media-1-inner {
	width:95%;
}
.mediaImageUl > li {
    display: block;
    height: auto;
    min-height: 40px;
    width: 90%;
    margin: 15px 0 15px 0;
    list-style: none;
    float: none;
}
.mediaImageUl > li:nth-child(4n+2),
.mediaImageUl > li:nth-child(4n+3) {
    margin: 0 0 0 0;
}
.mediaImageUl > li > a > img {
    height: auto;
    width: 80%;
}
}
@media screen and (max-width: 910px) {
    
}

@media screen and (max-width: 640px) {

    .media-each {
        width:100%;
    	margin: 0 0 80px 0;
	}
    
    .media-each:nth-child(3n+2) {
    	margin: 0 0 80px 0;
	}
    
}

@media screen and (max-width: 600px) {

    #media-ind-left,#media-ind-right {
		float:none;
        width:100%;
        margin:10px 0 10px 0;
	}
    
    
}
