#register-1 {
	width:100%;
    background-color:#FFF;
    color:#000;
    position:relative;
    min-height:900px;
}

#register-1-back {
	width:100%;
    position:absolute;
    top:0;
    left:0;
    min-height:900px;
}

#register-1-inner {
	width:900px;
    margin:0 auto;
    text-align:center;
    padding:150px 0 0 0;
}

#register-1-h1 {
	color:#000;
    padding:0;
    width: 80%;
    margin: 0 10% 30px 10%;
}

#register-1-para-1 {
	width:90%;
    padding:0 5% 0 5%;
    margin: 0 0 50px 0;
}

#process-view {
    display:block;
    text-decoration:none;
	border:1px solid #00650c;
    width:250px;
    text-align:center;
    color:#00650c;
    padding:10px 0 10px 0;
    background:none;
    font-size:24px;
    line-height:29px;
    cursor:pointer;
    border-radius:5px;
    margin:0 auto;
}

#process-view:hover {
    color:#FFF;
    background:#00650c;
}

#register-form {
	width:80%;
    margin:50px 10% 50px 10%;
    text-align:left;
}

#register-form h2{
	width:100%;
    text-align:left;
}

.webform {
	width:100%;
}

table.webform td{
    padding:0 0 30px 0;
    text-align:left;
}

.webform label {
	font-size: 20px;
}

#register-form p {
	margin: 0 0 20px 0;
    font-size:22px;
    line-height:24px;
}

input[type="text"], input[type="password"] {
	border:1px solid #000;
    width:96%;
    color:#000;
    padding:7px 2% 7px 2%;
    background:#FFF;
    font-size:20px;
    line-height:23px;
    border-radius:2px;
    outline:none;
    box-shadow: 10px 10px 5px #888888;
}

select {
	border:1px solid #000;
    width:100%;
    color:#000;
    padding:7px 2% 7px 2%;
    background:#FFF;
    font-size:20px;
    line-height:23px;
    border-radius:2px;
    outline:none;
    height:35px;
}

textarea {
	border:1px solid #533b15;
    width:96%;
    color:#533b15;
    padding:7px 2% 7px 2%;
    background:#FFF;
    font-size:20px;
    line-height:23px;
    border-radius:2px;
    outline:none;
    height:200px;
    resize:none;
}

p#submit-para {
    margin:50px 0 50px 0;
}

input[type="submit"],
#register-submit{
    display:block;
    text-decoration:none;
	border:1px solid #000;
    width:250px;
    text-align:center;
    color:#000;
    padding:10px 0 10px 0;
    background:none;
    font-size:24px;
    line-height:29px;
    cursor:pointer;
    border-radius:5px;
    margin:0 auto;
}

input[type="submit"]:hover,
#register-submit:hover{
    color:#FFF;
    background:#0e638c;
    border:1px solid #0e638c;
}

.req {
	color:red;
}

@media screen and (max-width: 910px) {

    #register-1-inner {
        width:94%;
        padding:150px 3% 0 3%;
    }
    
    #register-form {
        width:100%;
        margin:50px 0 50px 0;
        text-align:left;
    }
    
}

