.cat_dropdown{
       width:100% !important; height:45px !important;
}
.form-group{
       padding:0 10px !important;
}
.form-control{
       height:45px !important;margin:5px 0 30px !important;
}
.unameicons{
       display:none;width:35px;position:absolute;top:150px;left:85%
}

@media only screen and (max-width: 1199px) { /* Normal Laptop Screen */



}
@media only screen and (max-width: 991px) { /* Tablet Screen */

     

}
@media only screen and (max-width: 767px) { /* Phone Screen */
       .form-group{
              padding: 0 !important;
       }
       .about-1-inner{
              padding:0 !important;
       }
       .unameicons{
              left:75%;
       }
}