.filter_search {
       display:inline-block;float:left;
       background:#1eb2f6;box-sizing: border-box;
       width:250px;padding:10px;
       font-weight:bold;font-size:16px;
       line-height:20px;cursor:pointer;
       color: #FFF;border: 0px solid;
}
.filter_search:hover {
       background: #335e8b;
}



#campaigns {
       width: 100%;
       background-color: #F2F2F2;
       padding: 25px 0;
       color: #374456;
}
#campaigns-inner {
       width: 100%;
       padding: 0 5.5%;
       margin: 0 auto;
}

.page-h1 {
       font-size:28px;
       line-height:35px;
}

.invest-btn{
       margin: 20px auto;
}



.campaigns-list-middle {
       display: inline-block;
       box-sizing: border-box;
       width:100%;
       padding: 10px 20px 0px 15px;
       min-height: 160px;
}

.campaigns-title {
       font-size:16px;
       line-height:20px;
       font-weight:bold;
       padding:0;
       margin:0;
       min-height:30px;
}

.campaigns-company {
       font-size:14px;
       line-height:20px;
       color:#666;
       margin-bottom: 10px;
       min-height: 20px;
}

.campaigns-desc {
       font-size:14px;
       line-height:20px;
       margin:0;
       height: 60px;
       overflow:hidden;
}

.campaigns-desc span{
       font-size:14px !important;
       line-height:20px !important;
}

.campaigns-read-more {
       display: inline-block;
       float: left;
       font-size:14px;
       line-height:20px;
       margin:10px 0;
       font-weight: 600;
}

.campaigns-read-more-underline {
       color:#1eb2f6;
       font-size:14px;
       line-height:20px;
       text-decoration: none;
       cursor:pointer;
       font-weight:none;
}

.campaigns-list-bottom {
       padding: 0px 10px 10px 10px;
}

.campaigns-list-bottom-1 {
       padding:5px 0 0 0;
       height: 50px;
       width:100%;

}

.campaigns-list-bottom-1:before,
.campaigns-list-bottom-1:after {
       content:"";
       display:table;
}

.campaigns-list-bottom-1:after {
       clear:both;
}

.campaigns-country {
       width:48%;

       overflow-x:hidden;
       margin:8px 0;
       float:left;
}

.campaigns-country:before,
.campaigns-country:after {
       content:"";
       display:table;
}

.campaigns-country:after {
       clear:both;
}

.campaigns-industry {
       width:52%;

       overflow-x:hidden;
       margin-bottom:20px;
       float:left;
       margin-top:5px;
}

.campaigns-industry:before,
.campaigns-industry:after {
       content:"";
       display:table;
}

.campaigns-industry:after {
       clear:both;
}

.campaigns-marker {
       vertical-align:sub;
       float:left;
}

.campaigns-country .campaigns-marker {
       margin:0 5px;
}

.campaigns-country-name {
       width:83%;
       float:left;
       font-size:12px;
       line-height:20px;
       color:#666;
       margin:0;
       box-sizing: border-box;
       padding-left: 3px;
}
.campaigns-industry-name {
       width:85%;
       float:left;
       font-size:11px;
       line-height:20px;
       color:#666;
       margin:0;
       box-sizing: border-box;
       padding-left: 3px;
}
/*.campaigns-bar {
       margin:3px 0;
       width:100%;
       height:14px;
       background: #6b7f8b;
       /* background:#9eb8c7; *//*
   }
   .campaigns-risk {
       margin:3px 0;
       width:100%;
       height:14px;
   }
   .campaigns-riskP {
       text-align: center;
       font-size: 14px;
   }

   .campaigns-bar-inner {
       height:100%;
       background: #00b1f9;
       /* background: #33d675; *//*
}*/

.campaigns-data {
       list-style:none;
       padding:10px 0;
       width:100%;

}
.cam-li-each:(3n+1){
       clear:both;
}

.campaigns-data:before,
.campaigns-data:after {
       content:"";
       display:table;
}

.campaigns-data:after {
       clear:both;
}

.campaigns-data li {
       float:left !important;
       width:50% !important;
       margin:0 !important;
       padding:0 !important;
       color:#666 !important;
       height:50px !important;
       text-align: center;
       border-right: 1px solid #f6f6f6;
       border-bottom: 1px solid #f6f6f6;
       background: white;
}
.campaigns-data li:nth-child(2), .campaigns-data li:nth-child(4) {
       border-right: 0px solid;
}
.campaigns-data li:nth-child(5) {
       border-bottom: 0px solid;
}
.campaigns-data li:nth-child(6) {
       border-right: 0px solid;
       border-bottom: 0px solid;
}
.campaigns-data li p{
       font-size:13px;
       margin:0;
       height:25px;
       overflow:hidden;
}
.pagination {
       position: relative;
       display: inline-block;
       height: auto;
       width: 100%;
}
.pagination > ul {
       position: relative;
       display: inline-block;
       height: auto;
       width: auto;
       float: right;
}
.campaigns-data-bold {
       color:#000;
       font-weight:bold;
       font-size:16px !important;
}






#campaigns-detail {
       width: 100%;
       background-color: #FFF;
       color: #374456;
       min-height:100vh;
}


#campaigns-detail-1 {
       width:100%;
       max-height: 600px;
       padding-top: 48px;
       background-size: cover;
       background-position: center;
}

#campaigns-detail-1-inner {
       width:990px;
       max-width:90%;
       margin:0 auto;
       padding: 100px 0 200px 0;
       min-height:220px;

}

#campaigns-detail-1-inner:before,
#campaigns-detail-1-inner:after {
       content:"";
       display:table;
}

#campaigns-detail-1-inner:after {
       clear:both;
}

#campaigns-detail-1-inner-left {
       float:left;
       width:25%;
       height:220px;
}

#campaigns-detail-1-inner-left img{
       max-width:100%;
       max-height:100%;
}

#campaigns-detail-1-inner-right {
       float:left;
       width:65%;
       padding-left: 10px;
}


.detail-1-para-middle {
       margin:25px 0;
}

.campaigns-detail-h1,.campaigns-detail-h1 a{
       color:#2b2a28;
       text-align:left;
       font-size:34px;
       line-height:40px;
       text-decoration:none;
       font-weight: bold;
}

.cam-country {
       width:25%;
       float:left;

       overflow-x:hidden;
}

.cam-country:before,
.cam-country:after {
       content:"";
       display:table;
}

.cam-country:after {
       clear:both;
}

.cam-industry {
       width:30%;
       float:left;

       overflow-x:hidden;
}

.cam-industry:before,
.cam-industry:after {
       content:"";
       display:table;
}

.cam-industry:after {
       clear:both;
}

.cam-marker {
       margin-top:2px;
       vertical-align:sub;
       float:left;
}

.cam-country-name,.cam-industry-name {
       margin:0;
       margin-left:30px;
}

.invest-button, .enquiry-button,.cat_button {
       display: none;
       font-family: 'Open Sans';
       font-size: 18px;
       outline:none;
       border:none;
       width: 200px;
       color: #FFF;
       text-transform: uppercase;
       text-align: center;
       background-color: #2eacfa;
       padding: 8px 0;
       border-radius:5px;
       cursor:pointer;
       margin:0 auto;
}


.enquiry-button,.cat_button {
       display:inline-block;
}







#campaigns-detail-2 {
       width:100%;
       background:#FFFFFF;
}

#campaigns-detail-2-inner {
       width:990px;
       max-width:94%;
       margin:0 auto;
       padding:100px 0 0 0;

}

#campaigns-detail-2-inner:before,
#campaigns-detail-2-inner:after {
       content:"";
       display:table;
}

#campaigns-detail-2-inner:after {
       clear:both;
}

#campaigns-detail-2-inner-left {
       float:left;
       width:60%;
       text-align: justify;
}
#campaigns-detail-2-inner-left > h3 {
       text-align: center;
}
#campaigns-detail-2-inner-right ,#campaigns-detail-2-inner-right-1{
       float:right;
       width:35%;
}

#campaigns-detail2-inner-right-in {}

#stats-box {
       width:100%;
       box-sizing: border-box;
       min-height:100px;
       box-shadow: 0px 1px 10px #888888;
       margin-bottom:20px;
       padding:20px 10px;
       border-radius:5px;
}
#closed{
       display: block; position: fixed;top: 0;left: 0;height: 100%;width: 100%;padding: 0 0 50px 0;margin: 0;
       background: white;z-index: 101;
}
.campaigns-detail-h2 {
       color: #325e8b;
       font-size: 27px;
       line-height: 40px;
       font-weight: bold;
       text-transform: none;
       letter-spacing: 1.2px;
       margin: 15px auto;

}

.invest-now-btn-div{
       text-align: left;
}
.invest-now-btn{
       margin-left:20px
}

#stats-list {
       padding:0;
       margin:0;
       list-style:none;
       width:100%;
}

#stats-list li {
       width:100%;
       padding:10px 0;
       border-bottom:1px solid #dcdcdc;
       font-size:15px;
       line-height:18px;
       color:#626262;

}

#stats-list li:before,
#stats-list li:after {
       content:"";
       display:table;
}

#stats-list li:after {
       clear:both;
}

#stats-list li:last-child {
       border-bottom:none;
}

.stats-title {
       float:left;
       margin:0;
}

.stats-num {
       float:right;
       margin:0;
       font-weight:bold;
}

/*.campaigns-bar {
       margin: 3px 0;
       width: 100%;
       height: 14px;
       background: #6b7f8b;
       /* background: #9eb8c7; *//*
}

.ind-campaigns-bar-inner {
       height: 100%;
       background: #00b1f9;
       /* background: #33d675; *//*
}*/

#invest-box {
       text-align:center;
}

#enquiry-box {
       text-align:center;
       margin:10px 0 50px 0;
}

#kb-enquiry-form {
       width:96%;
       height:0;
       margin:0 auto;
       overflow:hidden;
}

#close-enquiry {
       cursor:pointer;
}

.enq-form-para {
       text-align:right;
}

.cat_listbox {
       width:98%;
       height:300px;
       border:1px solid #325e8b;
       resize:none;
       font-size: 15px;
       line-height: 18px;
       color: #626262;
       box-sizing: border-box;
       padding:5px;
}

#gallery-box {
       width:100%;
       padding:10px 0;
}

#gallery-list {
       padding:0;
       margin:0;
       list-style:none;
       width:100%;

}

#gallery-list:before,
#gallery-list:after {
       content:"";
       display:table;
}

#gallery-list:after {
       clear:both;
}

#gallery-list li {
       width:32%;
       float:left;
       margin-bottom:10px;
       box-sizing: border-box;
       border:2px solid #cccccc;
       height: 100px;
       background-size: cover;
       background-position: center;
       cursor: pointer;


}

#gallery-list li:nth-child(3n+2) {
       margin:0 2% 10px 2%;
}











.home-para-center {
       text-align:center;
}

.kb-blue-buttons {
       display:inline-block;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       padding:10px 20px;
       font-weight:bold;
       font-size:16px;
       line-height:20px;
       max-width:100%;
       color: #FFF;
}


#real-lightbox {
       position:fixed;
       z-index: 8050;
       background: rgba(0,0,0,0.7);
       top:0;
       left:0;
       overflow: hidden;
       overflow-y: auto;
       height:100%;
       width:100%;
       display:none;
}

#real-lightbox-inner {
       position: relative;
       width: 800px;
       padding: 20px 40px 40px 40px;
       margin: 80px auto;
       color:#FFF;
       max-width:96%;
       background: white;
       border: 3px solid #cccccc;
       border-radius:10px;
}

#real-lightbox-inner-top {
       width:100%;
       margin:0 0 40px 0;
       text-align: right;
}
#real-lightbox-inner-Title {
       position: absolute;
       top: 19px;
       left: 22px;
       font-size: 20px;
       color: #0e638c;
       font-weight: bold;
       margin: 0 0 5px 0;
       z-index: 10;
}
#real-close-box {
       position: absolute;
       top: 10px;
       right: 10px;
       width: auto;
       margin:0 0 40px 0;
       text-align: right;
       cursor: pointer;
       font-size: 18px;
       color:#0e638c;
       text-decoration:none;
       padding : 10px 10px 0 0;
}

#real-lightbox-inner-middle {
       margin:0 0 10px 0;
       text-align: center;
}

#invest-lightbox {
       position:fixed;
       z-index: 8050;
       background: rgba(51,61,80,0.95);
       top:0;
       left:0;
       overflow: hidden;
       overflow-y: auto;
       height:100%;
       width:100%;
       display:none;
}

#invest-lightbox-inner {
       width:500px;
       position: absolute;
       left: 50%;
       margin: 20px 0 0 -250px;
       color:#FFF;
}

#invest-lightbox-inner-top {
       width:100%;
       margin:0 0 40px 0;
       text-align: right;
}

#invest-close-box {
       cursor: pointer;
       font-size: 28px;
       line-height:35px;
       color:#FFF;
       text-decoration:none;
}

#invest-lightbox-inner-middle {
       margin:0 0 10px 0;
       text-align: center;
}

#CAT_Custom_19979302 {
       background:none;
       outline:none;
       border:none;
       border-bottom:1px solid #FFF;
       padding:5px;
       width:400px;
       margin:40px 0 50px 0;
       font-size:24px;
       line-height:29px;
       color:#FFF;
}

#catwebformbutton-invest {
       border:1px solid #FFF;
       width:250px;
       text-align:center;
       color:#FFF;
       padding:10px 0 10px 0;
       background:none;
       font-size:24px;
       line-height:29px;
       cursor:pointer;
       border-radius:5px;
       margin:0 auto;
}

#invest-con-1, #invest-con-2 {
       padding:20px 0;
       display:none;
}

#invest-con-1 p{
       margin-bottom: 50px;
}
.modalTitle {
       text-align: center;
       font-size: 36px;
}
.invest-form-layer {
       text-align:left;
       /*
           width:80%;
       */
       width:100%;
       /*
           padding:0 10%;
       */
       padding: 0 0;
       margin-bottom: 10px;
}
.invest-form-layer_c {
       float: left;
       width: 32%;
}
.invest-form-layer_c:nth-child(2) {
       width: 24%;
       margin: 0 1px;
}
.invest-form-layer_c:nth-child(3) {
       width: 40%;
}
.invest-form-layer:nth-child(1),
.invest-form-layer:nth-child(2),
.invest-form-layer:nth-child(3) {
       padding: 25px 0;
}


.invest-form-layer > label,
.invest-form-layer > select,
.invest-form-layer > input {
       display: inline-block;
       float: left;
       height: auto;
}
.invest-form-layer > label {
       float: left;
       width: 20%;
       margin: 10px 0 0 0;
}

.invest-form-layer > label {
       float: left;
       width: 20%;
       margin: 10px 0 0 0;
}
.invest-form-layer:nth-child(2) > label {
       margin: 27px 0 0 0;
}
.invest-form-layer:nth-child(3) > label {
       margin: 21px 0 0 0;
}
.invest-form-layer > select,
.invest-form-layer > input {
       float: right;
       width: 75%;
}
.invest-form-layer > input {
       margin: 0;
}
.invest-form-layer > label[class="labelIn2"] {
       width: 100%;
}
.invest-form-layer > label[class="labelIn3"] {
       width: 95%;
}
.invest-form-layer > input[value="yes"] {
       float: left;
       width: 5%;
       margin: 15px 0 0 0;
}
.checkIn {
       margin: 10px 0;
       width: 100%;
}
.checkIn > input {
       width: 25px;
}

.invest-form-submit-layer {
       text-align:left;
       /*
           width:80%;
       */
       width:100%;
       padding:0 10%;
       margin: 15px 0 25px 0;
}
.invest-form-submit-layer > input[type="submit"] {
       margin-top: 15px;
}
.invest-form-submit-layer > center > input[id="catwebformbutton"] {
       margin: 25px 0 0 0;
}
#invest-con-1 input[type="text"] {
       background: none;
       outline: none;
       border: none;
       border-bottom: 1px solid #FFF;
       padding: 5px;
       width: 100%;
       margin: 0 0 20px 0;
       font-size: 20px;
       line-height: 29px;
       color: #FFF;
}

#invest-con-1 textarea {
       background: none;
       outline: none;
       border: 1px solid #FFF;
       padding: 5px;
       width: 100%;
       margin: 0 0 20px 0;
       font-size: 20px;
       line-height: 29px;
       color: #FFF;
}









#CAT_Custom_20047261_157746_3 {
       display:none;
       margin-bottom:20px;
}


.bluebtn{
       display:inline-block;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       padding:10px 50px 10px 50px;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
}
.bluebtn:hover {
       text-decoration: none;
}
.greenbtn{
       display:inline-block;
       background-color:#f2cb64;
       box-sizing: border-box;
       text-transform: uppercase;
       padding:10px 50px 10px 50px;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
}
.greenbtn:hover {
       text-decoration: none;
       color: white;
       background-color: #f0c142;
}

.silverbtn {
       display:inline-block;
       background:#CAC9C9;
       border-color :#ACABAB;
       box-sizing: border-box;
       text-transform: uppercase;
       padding:10px 50px 10px 50px;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #ACABAB;
}
.silverbtn:hover {
       text-decoration: none;
       color: #ACABAB;
}

.cblue{
       color:#325f8c;
       font-size: 28px;
}

.text-center{
       text-align:center;
}

.text-right{
       text-align:right;
}




@media only screen and (max-width: 1199px) { /* Normal Laptop Screen */



}
@media only screen and (max-width: 991px) { /* Tablet Screen */

       #campaigns-inner {
              width: 100%;
              padding: 0 10px;
              margin: 0 auto;
       }

       #campaigns-detail-2-inner-left {
              width:50%;
       }

       #campaigns-detail-2-inner-right ,#campaigns-detail-2-inner-right-1{
              width:40%;
       }



       #campaigns-detail-1 {
              max-height: 526px;
              padding-top: 40px;
       }

       #campaigns-detail-1-inner {
              margin-top: 0;
              /* padding: 80px 0; */
              padding: 10px 0;
       }

       #campaigns-detail-2-inner-left, #campaigns-detail-2-inner-right,#campaigns-detail-2-inner-right-1 {
              float:none;
              margin:0 auto;
              height: auto;
              width:100%;
       }

       #campaigns-detail-2-inner-right,#campaigns-detail-2-inner-right-1 {
              width:350px;
              max-width:100%;
       }


       .cam-country, .cam-industry {
              float:none;
              width:100%;
              margin-bottom:10px;
       }

}
@media only screen and (max-width: 767px) { /* Phone Screen */

       .filter_search{
              padding: 7px; font-size: 14px;
              width: 29%;  float: right;
              margin : 3px auto 0 auto;
       }


       #campaigns-detail-1-inner-left.jalilah {
              height: auto;
              width: 250px;
       }
       .campaigns-detail-1-para.jalilah {
              margin: 0;
       }
       .invest-form-layer_c,
       .invest-form-layer_c:nth-child(2),
       .invest-form-layer_c:nth-child(3) {
              float: none;
              width: 95%;
       }
       .investBody > form > .invest-form-submit-layer > center > #catwebformbutton {
              margin: 90px 0 0 0;
              width: 95%;
       }
       input[name="minimVal"] {
              margin: 25px 0 0 0;
              width: 95%;
       }
       #campaigns-detail-1-inner-left, #campaigns-detail-1-inner-right {
              float:none;
              margin-bottom:20px;
              width:100%;
       }
       #campaigns-detail-1-inner-left {
              height: 175px;
              text-align: center;
       }
       #campaigns-detail-1-inner-left img {
              max-height: 100%;
              max-width: 100%;
              text-align: center;
       }
       #campaigns-detail-1-inner-right {
              height: 220px;
       }
       .invest-now-btn-div{
              text-align: center;
              margin-top:80px;
       }
       .invest-now-btn{
              margin: 0px;
       }

       #project_type {
              float: left;
              width : 70%;
              margin-top: 3px;
       }

       .invest-form-layer_c {
              float: none;
              width: 95%;
       }
       #campaigns-inner {
              width: 100%;
              padding: 0 10px;
              margin: 0 auto;
       }


       .pagination > ul {
              float: none;
       }



}

#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal .content-loading {
  margin-top: 250px;
}
#modal .content-loading h1,
#modal .content-loading h3 {
  color: #fff;
  text-align: center;
}
#modal .content-loading h3 {
  margin-top: 10px;
  font-size: 24px;
}
#modal .content-loading img {
  margin-top: -30px;
  height: 100px;
}

#modal {
    display: none;
    position: fixed;
    top: 8%;
    left: 45%;
    width: 200px;
    height: 200px;
    z-index: 10002;
    text-align:center;
    overflow: auto;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.7);
}

#results {
    font-size:1.25em;
    color:red
}
