.inputAlign {
       text-align: center;
}

.watchVideo {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       background: rgba(0,0,0,0.7);
       z-index: 10000;
}
.VWClose {
       display: inline-block;
       position: absolute;
       top: 25px;
       right: 25px;
       cursor: pointer;
}
.VWClose > span {
       position: absolute;
       top: -20px;
       right: -20px;
       width: auto;
       margin:0 0 40px 0;
       text-align: right;
       cursor: pointer;
       font-size: 18px;
       color:#0e638c;
       text-decoration:none;
       padding : 10px 10px 0 0;
       z-index: 10;
}
.WVInner {
       display: inline-block;
       position: relative;
       height: 480px;
       width: 600px;
       background: white;
       padding: 40px;
       margin: 100px 0 0 0;
       border: 3px solid #cccccc;
       border-radius:10px;
}
.WVYouTube {
       display: inline-block;
       position: relative;
       height: 100%;
       width: 100%;
}
.WVYouTube > iframe {
       display: inline-block;
       position: relative;
       height: 100%;
       width: 100%;
}
.homeBanner1,
.homeBanner2,
.homeBanner3 {
       display: inline-block;
       position: relative;
       width: 100%;
       height: 650px;
}
.homeBanner1 {
       background-image:url('../images/Slide1.jpg');
       background-size:cover;
}
.homeBanner2 {
       background-image:url('../images/Slide2.jpg');
       background-size:cover;
}
.homeBanner3 {
       background-image:url('../images/Slide3.jpg');
       background-size:cover;
}
.homeBannerTextWadah1,
.homeBannerTextWadah2,
.homeBannerTextWadah3 {
       position: absolute;
       display: inline-block;
}
.homeBannerTextWadah1 {
       bottom: 150px;
       left: 250px;
}
.homeBannerTextWadah2 {
       bottom: 75px;
       left: 200px;
}
.homeBannerTextWadah3 {
       right: 180px;
       bottom: 200px;
}
.homeBannerText1,
.homeBannerText2,
.homeBannerText3 {
       color: white;
       text-shadow: 2px 2px 4px black;
}
.homeBannerText1:first-child {
       font-size: 36px;
       font-weight: bold;
}
.homeBannerText1:last-child {
       font-size: 28px;
}
.homeBannerText2 {
       font-size: 34px;
       font-weight: bold;
}
.homeBannerText3:first-child {
       font-size: 44px;
       font-weight: bold;
}
.homeBannerText3:last-child {
       font-size: 24px;
}

#home-gallery {
       position: fixed;
       top:0;
       left:0;
       width:100%;
       min-height:100%;
       background:#CCC;
}

.home-gallery-each {
       background-size:cover;
       background-position: center;
       position: absolute;
       top: 0;
       left: 0;
       display: none;
       width:100%;
       min-height:100%;
}

#home-gallery-canvas {
       top: 0;
       left: 0;
       position: absolute;
       width:100%;
       min-height:100%;
}

#home-1 {
       width:100%;
}
#home-1-inner {
       height: auto;
       width:100%;
       margin: 48px auto 0 auto;
       /* padding:150px 0; */
       text-align:center;
       position:relative;
       /* min-height:90vh; */
       /* min-height: 550px; */
       box-sizing: border-box;
       /* max-width:96%; */
}
#home-1-inner > div > img {
       height: auto;
       width: 100%;
}
.kapHeaderSliderHome {
       display: inline-block;
       position: absolute;
       height: 300px;
       width: 100%;
       left: 0;
}
.kapHeaderSlider {
       display: none;
       position: absolute;
       height: 85%;
       width: 100%;
       bottom: 0;
}
#kap-header {
       color:#FFF;
       font-size:40px;
       line-height:50px;
       font-weight:bold;
       max-width:100%;
       margin:0 auto;
       right: 3%;
       left: 3%;
}
#kap-header-s-2 {
       color:#FFF;
       font-size:40px;
       line-height:50px;
       font-weight:bold;
       max-width:100%;
       margin:50px auto 0 auto;
       right: 3%;
       left: 3%;
}
#kap-header-s-3 {
       color:#FFF;
       font-size:40px;
       line-height:50px;
       font-weight:bold;
       max-width:100%;
       margin:50px auto 0 auto;
       right: 3%;
       left: 3%;
}
#kap-header-2 {
       color:#FFF;
       font-size:33px;
       line-height:36px;
       width:100%;
       margin: 70px 0;
       right: 3%;
       left: 3%;
}

#kap-header-3 {
       margin:0 auto;
       width:45%;
       zoom:1;
}

#kap-header-3:before,
#kap-header-3:after {
       content:"";
       display:table;
}

#kap-header-3:after {
       clear:both;
}

#kap-header-button-1 {
       display:inline-block;
       float:left;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       width:250px;
       padding:10px;
       font-weight:bold;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
}
#kap-header-button-1:hover {
       background: #335e8b;
}
#kap-header-button-2 {
       display:inline-block;
       float:right;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       width:250px;
       padding:10px;
       font-weight:bold;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
       text-decoration: none;
       text-align:center;
}
#kap-header-button-2:hover {
       background: #335e8b;
}
#kap-header-arr {
       width:60px;
       position:absolute;
       bottom:0;
       padding-bottom:20px;
       left:50%;
       margin-left:-30px;
       cursor:pointer;
}

#kap-header-arr img{
       width:60px;
}

.home-con {
       width:100%;
       background-color:#FFF;
       padding:40px 0 0 0;
       color:#2c3339;
}
.home-conTes {
       width:100%;
       background-color:#FFF;
       color:#2c3339;
}
.con-h2,
.con-h2-custom {
       color: #333333;
       font-size:28px;
       line-height:38px;
       margin-bottom: 0;
       padding:0;
}
.con-h2 {
       color: #2f628a;
}
#home-2 {
       background: #f2f2f2;position:relative;
       height: auto;
       width: 100%;
}
#home-2-inner {
       margin:0 auto;

}
#home-6{
       padding-top: 50px;text-align: center;padding-bottom: 10px;position:relative;
}
.home-6-img{
       width:23%;display:inline-block;margin:30px auto;
}


.bluebtn{
       display:inline-block;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       padding:10px;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
       margin: 10px 0 0 0;
}

#campaigns {
       width: 100%;
       background-color: #FFF;
       padding: 150px 0;
       color: #374456;
       min-height:100vh;
}

#campaigns-inner {
       width: 900px;
       max-width: 96%;
       margin: 0 auto;
}

.page-h1 {
       font-size:28px;
       line-height:35px;
}

.page-blurb {
       text-align:center;
       margin:30px 0 80px 0;
}


#campaigns-list {
       list-style:none;
       padding:0;
       margin:40px 0 0 0;
       width:100%;

}

#campaigns-list:before,
#campaigns-list:after {
       content:"";
       display:table;
}

#campaigns-list:after {
       clear:both;
}

#campaigns-list li{
       display: inline-block;
       position: relative;
       height: auto;
       box-sizing: border-box;
       color:#000000;
       font-size:14px;
       padding: 0;
       margin:0 0 50px 0;
}

.campaigns-list-con {
       margin: auto;background-color:white;
       box-shadow: 1px 2px 15px #999;margin: 0 20px;
}
.campaigns-list-top {
       height: 180px;
       background-size: cover;
       background-position: center;
       /* border-radius: 7px 7px 0 0; */
}

.campaigns-list-middle {
       box-sizing: border-box;
       width:100%;
       padding: 10px 20px 0px 15px;
       min-height: 160px;
       background: white;
}

.campaigns-title {
       font-size:16px;
       line-height:20px;
       font-weight:bold;
       padding:0;
       margin:0;
       min-height:30px;
}

.campaigns-company {
       font-size:14px;
       line-height:20px;
       color:#666;
       margin-bottom:10px;
       min-height: 20px;
}

.campaigns-desc {
       font-size:14px;
       line-height:20px;
       margin:0;
       height: 60px;
       overflow:hidden;
}

.campaigns-desc span{
       font-size:14px !important;
       line-height:20px !important;
}

.campaigns-read-more {
       display: inline-block;
       float: left;
       font-size:14px;
       line-height:20px;
       margin:0 0;
       font-weight: 600;
}

.campaigns-read-more-underline {
       color:#1eb2f6;
       font-size:14px;
       line-height:20px;
       font-weight: none;
       text-decoration: none;
       cursor:pointer;
}

.campaigns-list-bottom {
       padding: 0px 10px 10px 10px;
       background: white;
}

.campaigns-list-bottom-1 {
       padding:5px 0 0 0;
       width:100%;
       height: 50px;
       zoom:1;
}

.campaigns-list-bottom-1:before,
.campaigns-list-bottom-1:after {
       content:"";
       display:table;
}

.campaigns-list-bottom-1:after {
       clear:both;
}

.campaigns-country {
       width:48%;
       zoom:1;
       overflow-x:hidden;
       margin:8px 0;
       float:left;
}

.campaigns-country:before,
.campaigns-country:after {
       content:"";
       display:table;
}

.campaigns-country:after {
       clear:both;
}

.campaigns-industry {
       /* width:100%; */
       zoom:1;
       overflow-x:hidden;
       margin-bottom:20px;
       float:left;
       margin-top:5px;
}

.blog-tag {
       width:100%;
       zoom:1;
       overflow-x:hidden;
       margin-bottom:20px;
       float:left;
       margin-top:5px;
}

.campaigns-industry:before,
.campaigns-industry:after {
       content:"";
       display:table;
}

.campaigns-industry:after {
       clear:both;
}
.blog-tag:before,
.blog-tag:after {
       content:"";
       display:table;
}

.blog-tag:after {
       clear:both;
}

.campaigns-marker {
       vertical-align:sub;
       float:left;
}

.campaigns-country .campaigns-marker {
       margin:0 5px;
}

.campaigns-country-name {
       width:83%;
       float:left;
       font-size:12px;
       line-height:20px;
       color:#666;
       margin:0;
       box-sizing: border-box;
       padding-left: 3px;
}
.campaigns-industry-name {
       /* width:100%; */
       float:left;
       font-size:12px;
       line-height:20px;
       color:#666;
       margin-left:4px;
       box-sizing: border-box;
       padding: 2px;

}

.blog-tag-name {
    /* width:100%; */
    float:left;
    font-size:12px;
    line-height:20px;
    color:#666;
    margin-left:0px;
    box-sizing: border-box;
    padding: 2px 0;

}

.campaigns-bar {
       display: inline-block;
       position: relative;
       margin:3px 0;
       height:14px;
       width:100%;
       background-color: #6b7f8b;
       /* background: #9eb8c7; */
}

.campaigns-bar-inner, .campaigns-bar-inner-green {
       display: inline-block;
       position: absolute;
       top: 0;
       left: 0;
       height:100%;
       margin: 0;
       background-color: #00b1f9;
       /* background: #33d675; */
}
.campaigns-bar-inner-green{
       background-color: #f2cb64 !important
}

.campaigns-data {
       list-style:none;
       padding:10px 0;
       width:100%;
       zoom:1;
}

.campaigns-data:before,
.campaigns-data:after {
       content:"";
       display:table;
}

.campaigns-data:after {
       clear:both;
}

.campaigns-data li {
       float:left !important;
       width:50% !important;
       margin:0 !important;
       padding:0 !important;
       color:#666 !important;
       height:50px !important;
       text-align: center;
       border-right: 1px solid #f6f6f6;
       border-bottom: 1px solid #f6f6f6;
       background: white;
}

.campaigns-data li:nth-child(2), .campaigns-data li:nth-child(4) {
       border-right: 0px solid;
}
.campaigns-data li:nth-child(5) {
       border-bottom: 0px solid;
}
.campaigns-data li:nth-child(6) {
       border-right: 0px solid;
       border-bottom: 0px solid;
}

.campaigns-data li p{
       font-size:13px;
       margin:0;
       height:25px;
       overflow:hidden;
}

.campaigns-data-bold {
       color:#000;
       font-weight:bold;
       font-size:16px !important;
}
.campaigns-data-bold-id{
       color: #000000;font-weight: bold;font-size:12px !important;
}
.campaigns-data > li > div > .label.label-danger,
.campaigns-data > li > div > .label.label-warning,
.campaigns-data > li > div > .label.label-success {
       background: none;
       font-size: 14px;
       font-weight: bold;
}
.campaigns-data > li > div > .label.label-danger {
       color: #d9534f;
}
.campaigns-data > li > div > .label.label-warning {
       color: #f0ad4e;
}
.campaigns-data > li > div > .label.label-success {
       color: #5cb85c;
}
.text-center{
       text-align:center;
}

.text-right{
       text-align:right;
}



#campaigns-detail {
       width: 100%;
       background-color: #FFF;
       color: #374456;
       min-height:100vh;
}



/*campaign detail*/



#campaigns-detail-1 {
       width:100%;
       max-height:526px;
       padding-top:70px;
       background-size: cover;
       background-position: center;
}

#campaigns-detail-1-inner {
       width:990px;
       max-width:90%;
       margin:0 auto;
       padding:200px 0;
       min-height:220px;
       zoom:1;
}

#campaigns-detail-1-inner:before,
#campaigns-detail-1-inner:after {
       content:"";
       display:table;
}

#campaigns-detail-1-inner:after {
       clear:both;
}

#campaigns-detail-1-inner-left {
       float:left;
       width:25%;
       height:220px;
}

#campaigns-detail-1-inner-left img{
       max-width:100%;
       max-height:100%;
}

#campaigns-detail-1-inner-right {
       float:left;
       width:65%;
}

.campaigns-detail-1-para {
       width:100%;
       margin:0 0 20px 0;
       zoom:1;
}

.detail-1-para-middle {
       margin:25px 0;
}

.campaigns-detail-1-para:before,
.campaigns-detail-1-para:after {
       content:"";
       display:table;
}

.campaigns-detail-1-para:after {
       clear:both;
}

.campaigns-detail-h1,.campaigns-detail-h1 a{
       color:#2b2a28;
       text-align:left;
       font-size:34px;
       line-height:40px;
       text-decoration:none;
}

.cam-country {
       width:44%;
       float:left;
       zoom:1;
       overflow-x:hidden;
}

.cam-country:before,
.cam-country:after {
       content:"";
       display:table;
}

.cam-country:after {
       clear:both;
}

.cam-industry {
       width:30%;
       float:left;
       zoom:1;
       overflow-x:hidden;
}

.cam-industry:before,
.cam-industry:after {
       content:"";
       display:table;
}

.cam-industry:after {
       clear:both;
}

.cam-marker {
       margin-top:2px;
       vertical-align:sub;
       float:left;
}

.cam-country-name,.cam-industry-name {
       margin:0;
       margin-left:30px;
}

.invest-button, .enquiry-button,.cat_button {
       display: none;
       font-family: 'Open Sans';
       font-size: 18px;
       outline:none;
       border:none;
       width: 200px;
       color: #FFF;
       text-transform: uppercase;
       text-align: center;
       background-color: #2eacfa;
       padding: 8px 0;
       border-radius:5px;
       cursor:pointer;
       margin:0 auto;
}



.enquiry-button,.cat_button {
       display:inline-block;
}
#campaigns-detail-2 {
       width:100%;
       background:#FFFFFF;
}

#campaigns-detail-2-inner {
       width:990px;
       max-width:94%;
       margin:0 auto;
       padding:100px 0 30px 0;
       zoom:1;
}

#campaigns-detail-2-inner:before,
#campaigns-detail-2-inner:after {
       content:"";
       display:table;
}

#campaigns-detail-2-inner:after {
       clear:both;
}

#campaigns-detail-2-inner-left {
       float:left;
       width:60%;
}

#campaigns-detail-2-inner-right {
       float:right;
       width:35%;
}

#campaigns-detail2-inner-right-in {}

#stats-box {
       width:100%;
       box-sizing: border-box;
       min-height:100px;
       box-shadow: 0px 1px 10px #888888;
       margin-bottom:20px;
       padding:20px 10px;
       border-radius:5px;
}

.campaigns-detail-h2 {
       color: #325e8b;
       font-size: 28px;
       line-height: 40px;
       font-weight: 100;
       text-transform: uppercase;
       letter-spacing: 1.2px;
       margin-bottom:20px;
}

#stats-list {
       padding:0;
       margin:0;
       list-style:none;
       width:100%;
}

#stats-list li {
       width:100%;
       padding:10px 0;
       border-bottom:1px solid #dcdcdc;
       font-size:15px;
       line-height:18px;
       color:#626262;
       zoom:1;
}

#stats-list li:before,
#stats-list li:after {
       content:"";
       display:table;
}

#stats-list li:after {
       clear:both;
}

#stats-list li:last-child {
       border-bottom:none;
}

.stats-title {
       float:left;
       margin:0;
}

.stats-num {
       float:right;
       margin:0;
       font-weight:bold;
}

.campaigns-bar {
       margin: 3px 0;
       width: 100%;
       height: 14px;
       background-color: #6b7f8b;
       /* background: #9eb8c7; */
}

.ind-campaigns-bar-inner {
       height: 100%;
       background-color: #00b1f9;
       /* background: #33d675; */
}

#invest-box {
       text-align:center;
}

#enquiry-box {
       text-align:center;
       margin:10px 0 50px 0;
}

#kb-enquiry-form {
       width:96%;
       height:0;
       margin:0 auto;
       overflow:hidden;
}

#close-enquiry {
       cursor:pointer;
}

.enq-form-para {
       text-align:right;
}

.cat_listbox {
       width:98%;
       height:300px;
       border:1px solid #325e8b;
       resize:none;
       font-size: 15px;
       line-height: 18px;
       color: #626262;
       box-sizing: border-box;
       padding:5px;
}

#gallery-box {
       width:100%;
       padding:10px 0;
}

#gallery-list {
       padding:0;
       margin:0;
       list-style:none;
       width:100%;
       zoom:1;
}

#gallery-list:before,
#gallery-list:after {
       content:"";
       display:table;
}

#gallery-list:after {
       clear:both;
}

#gallery-list li {
       width:32%;
       float:left;
       margin-bottom:10px;
       box-sizing: border-box;
       border:2px solid #626262;
       height: 100px;
       background-size: cover;
       background-position: center;
       cursor: pointer;


}

#gallery-list li:nth-child(3n+2) {
       margin:0 2% 10px 2%;
}

#campaigns-detail-3 {
       width:100%;
       AAAbackground:#e5e5e5;
       background: #f2f2f2;
}

#campaigns-detail-3-inner {
       width: 96%;
       max-width: 96%;
       margin:0 auto;
       padding: 30px 5.5%;
       zoom:1;
}



.campaigns-list-top {
       height: 180px;
       background-size: cover;
       background-position: center;
       /* border-radius: 7px 7px 0 0; */
}

.campaigns-list-middle {
       box-sizing: border-box;
       width:100%;
       padding: 10px 20px 0px 15px;
       min-height: 160px;
       background: white;
}

.campaigns-title {
       font-size:16px;
       line-height:20px;
       font-weight:bold;
       padding:0;
       margin:0;
}

.campaigns-company {
       font-size:14px;
       line-height:20px;
       color:#666;
       margin-bottom:20px;
}

.campaigns-desc {
       font-size:14px;
       line-height:20px;
       margin:0;
}

.campaigns-read-more {
       display: inline-block;
       float: left;
       font-size:14px;
       line-height:20px;
       margin: 10px 0 0 0;
	   font-weight: 600;
}

.campaigns-read-more-underline {
       color:#1eb2f6;
       font-size:14px;
       line-height:20px;
       text-decoration: none;
       cursor:pointer;
       font-weight: none;
}

.campaigns-list-bottom {
       padding: 0px 10px 10px 10px;
       background: white;
}

.campaigns-bar {
       margin:3px 0;
       width:100%;
       height:14px;
       background-color: #6b7f8b;
       /* background: #9eb8c7; */
}

.campaigns-bar-inner,.campaigns-bar-inner-green {
       height:100%;
       background-color: #00b1f9;
       /* background: #33d675; */
}
.campaigns-bar-inner-green{
       background-color: #f2cb64 !important
}

.campaigns-data {
       list-style:none;
       padding:10px 0;
       width:100%;
       zoom:1;
}

.campaigns-data:before,
.campaigns-data:after {
       content:"";
       display:table;
}

.campaigns-data:after {
       clear:both;
}

.campaigns-data li {
       float:left !important;
       width:50% !important;
       margin:0 !important;
       padding:0 !important;
       AAAcolor:#666 !important;
       height:50px !important;
       display:block !important;
}

.campaigns-data li p{
       font-size:13px;
       margin:0;
}
#member_gender{
       margin:0;width:100%
}
.campaigns-data-bold {
       color:#000;
       font-weight:bold;
       font-size:16px !important;
}

.home-para-center {
       text-align:center;
       margin: 0 0 25px 0;
}

.kb-blue-buttons {
       display:inline-block;
       box-sizing: border-box;
       text-transform: uppercase;
       padding:10px 20px;
       font-weight:bold;
       font-size:16px;
       line-height:20px;
       max-width:100%;
       color: #FFF;
       text-decoration:none;
       width: 245px;
       background-color:#323d50;
       color:#fff;

}
.kb-blue-buttons:hover {
       text-decoration: none;
       cursor: pointer;
       background: #0e638c;
       color:#fff;
}
#home-3 {
       background-size:cover;position:relative;
       background-position:center;
       background-image:url('../images/whatwedo.jpg');
}

#home-3-inner {
       width:500px;
       max-width:96%;
       margin:0 auto;
       padding: 0 0 50px 0;
}

#home-3-what-we-do {
       color:#fff;
       font-size:16px;
       line-height:26px;
       margin:50px 0 30px 0;
}

#home-3-what-we-do p{
       margin:0 0 20px 0;
       text-align:center;
}

#home-4 {
       background-size:cover;position:relative;
       background-position:center;
       background-image:url('../images/bricks.jpg');
       margin: 0;padding:40px 0;
}

.home-4-divs{
       text-align:center;margin: 20px 0px;padding:0 10px;
}

.home-4-list-top{
       width:50%;margin:auto
}

ol, ul {
       margin-bottom: 0;
}


#home-5 {
       background-color: #325f8c;position:relative;
       background-size: auto 100%;
       background-image: url('../images/bg-arr-blue.png');
       background-repeat: no-repeat;
}

#home-5-inner {
       width:500px;
       max-width:96%;
       margin:0 auto;
       padding: 40px 0 0 0;
}

.home-5-testimonial {
       position: relative;
       color:#fff;
       font-size:16px;
       line-height:26px;
       margin: 50px 0;
       text-align:center;
}
.testi-person {
       font-weight:bold;
}


.recogUl {
       width: 100%;
       padding: 0 5.5%;
       margin:0 1%;
}

.center{
       text-align: center
}
.recongTextsh{
       text-align: center;
       line-height: 20px;
       margin-top:10px
}
.recongTexts{
       text-align: center;
       line-height: 20px;
       margin-top:3px
}
.recongDivs{
       width: 30%;display:inline-block;margin: 10px auto;
}




#h3e-2 {
       margin:0 45px 0 45px;
}

.h3e-pic {
       width:100%;
       height:170px;
       margin:0 0 20px 0;
       text-align:center;
}

.h3e-desc {
       width:100%;
       color:#333d50;
       text-align:left;
       font-size:18px;
       line-height:30px;
}

.h3e-desc a {
       color:#333d50;
       text-decoration:none;
}

#home-3-bottom {
       width:100%;
       text-align:center;
       margin:0 0
}

#cta_work {
       border:1px solid #333d50;
       color:#333d50;
       display:block;
       text-decoration:none;
       width:250px;
       text-align:center;
       padding:10px 0 10px 0;
       background:none;
       font-size:24px;
       line-height:29px;
       cursor:pointer;
       border-radius:5px;
       margin:0 auto;


}

#cta_work:hover {
       background:#333d50;
       color:#FFF;
}

#iframe-video-div {
       width:100%;
       text-align:center;
       padding:50px 0 20px 0;
}

#iframe-video {
       width:900px;
       height:280px;
}

#reg-lightbox {
       position:fixed;
       z-index: 8050;
       background: rgba(0,0,0,0.7);
       top:0;
       left:0;
       overflow: hidden;
       overflow-y: auto;
       height:100%;
       width:100%;
       display:none;
}

#rega-lightbox {
       position:fixed;
       z-index: 8050;
       background: rgba(0,0,0,0.7);
       top:0;
       left:0;
       overflow: hidden;
       overflow-y: auto;
       height:100%;
       width:100%;
       display:none;
}


#rega-close {
    cursor: pointer;
    font-size: 18px;
    color: #0e638c;
    text-decoration: none;
    padding: 10px 10px 0 0;
}


#reg-lightbox-inner {
       position: relative;
       max-width:96%;
       width:900px;
       color:#0e638c;
       margin: 0 auto;
       padding-top: 50px;
}

#reg-lightbox-close {
       position: absolute;
       top: 10px;
       right: 10px;
       width: auto;
       margin:0 0 40px 0;
       text-align: right;
}
.regt,
.regtP{
       float: left;
       text-align: left;
       font-size : 20px;
       font-weight: bold;
       width: 60%;
       padding-left: 15px;
       margin: 0 0 20px 0;
}
.regt {
       float: none;
       text-align: center;
       width: 88.5%;
}
.regtP {
       margin: 0 0 0 10px;
}
.regr{
       text-align: right;
       font-size : 12px;
       font-weight: normal;
}

#reg-close {
       cursor: pointer;
       font-size: 18px;
       color:#0e638c;
       text-decoration:none;
       padding : 10px 10px 0 0;
}

#reg-lightbox-main {
       position: relative;margin:0 auto; text-align: center;background-color: #f2f2f2;width: 500px;
       border: 3px solid #cccccc;border-radius:10px;padding: 35px 50px;
}
.member-login-field-wrapper{
       margin: 0 auto;
       width: 96%;

}
.member-login-btn-wrapper{
       margin: 0 auto;
}
#login_form{
       text-align: center;
       width: 960px;
}

#reg-video {
       margin:0 auto;
       width: 900px;
       height: 506px;
}


#home-7{
       background-color: #f2f2f2;position:relative;
       /* background-color:#f8f8f8; */
       padding: 50px 0;
}

#home-8{
       background-color: white;position:relative;
       padding: 50px 10%;
       display:inline-block;text-align:center;
}
#home-8-inner{
       display:inline-block;width: 100%;
}
#home-8Img{
       text-align: right;padding:15px;padding-right:40px;
}
#home-8Text{
       text-align:left;font-size:16px; padding:28px;
}

/*reg form*/
#registerform{
       max-width:500px;
       margin:0 auto;
       width:100%;
}

/* start placeholder */
/* start regis*/
form[name="registerform"] > div > div > input::-webkit-input-placeholder {
       color: #9f9f9f;
}
form[name="registerform"] > div > div > input:-moz-input-placeholder {
       color: #9f9f9f;
}
form[name="registerform"] > div > div > input:-ms-input-placeholder {
       color: #9f9f9f;
}
/* end regis */

/* start manage profile */
form[class="dasCampaign"] > div > div > input::-webkit-input-placeholder {
       color: #9f9f9f;
}
form[class="dasCampaign"] > div > div > input:-moz-input-placeholder {
       color: #9f9f9f;
}
form[class="dasCampaign"] > div > div > input:-ms-input-placeholder {
       color: #9f9f9f;
}
/* end manage profile */

/* start get funded */
form[id="getfundedform"] > div > input::-webkit-input-placeholder {
       color: #9f9f9f;
}
form[id="getfundedform"] > div > input:-moz-input-placeholder {
       color: #9f9f9f;
}
form[id="getfundedform"] > div > input:-ms-input-placeholder {
       color: #9f9f9f;
}
/* end get funded */

/* start login */
form[name="loginform"] > div > div > input::-webkit-input-placeholder {
       color: #9f9f9f;
}
form[name="loginform"] > div > div > input:-moz-input-placeholder {
       color: #9f9f9f;
}
form[name="loginform"] > div > div > input:-ms-input-placeholder {
       color: #9f9f9f;
}
/* end login */
/* end placeholder */

.form-row{
       width: 100%;
}
.column-one{
       float: left;
       position: relative;
       padding: 0;
       width:18%;
       margin-top:10px;
}

.column-three{
       position: relative;padding: 0;width:80%;float:right;
}
.member_country{
       width: 100%;margin:10px auto;
}
.member_country option{
       width:100%;
}
.column-half, .column-full{
       float: left;
       position: relative;
       padding: 0;
       width:100%;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box
}
.clearfix:after {
       content: "";
       display: table;
       clear: both;
}
.reg-title{
       padding: 0;margin-bottom: 0px;float: left;
}
.reg_textbox{
       padding: 0;
}
.reg_dropdown{
       padding: 0;
}
select[name="member_gender"] {
       margin: 12px 0 20px 0;
}
select[name="member_country"] {
       font-size: 14px;
}



@media only screen and (max-width: 991px) { /* Tablet Screen */

       #campaigns-list li{
              margin:0 0 40px 0;position: relative;
              box-sizing: border-box;
              color:#000000;
              font-size:14px;
              padding: 0;
              vertical-align: top;
       }
       #campaigns-list {
              list-style:none;
              padding: 0 0 0 0;
              margin: 40px auto;
              width: 100%;
       }
       .campaigns-list-con {
              margin: 0 5px;
       }

       #reg-lightbox-main{
              width: 80%;
              padding: 30px 0 0 0;
              height: 900px;
       }

       #vid-video {
              width: 500px;
              height: 280px;
       }
       #home-3-inner {
              width:94%;
              padding: 5px 3% 5px 3%;
       }

       #h3e-2 {
              margin:0 0 40px 0;
       }

       .home-3-each {
              margin:0 0 40px 0;
              width:100%;
       }

       .h3e-header {
              text-align:left;
       }

       .h3e-pic {
              float:left;
              width:40%;
              height:170px;
              margin:0;
       }

       .h3e-desc {
              float:left;
              width:60%;
              margin:0;
              text-align:left;
       }
       #home-2-inner {
              margin: 0 auto;
       }
       .home-2-para {
              width:100%;
              display:block;
              float:none;
              text-align:center;
       }

       #home-2-para-left {
              margin:20px 0 0 0;
              padding:0 0 20px 0;
       }


}

@media screen and (max-width: 767px) {/* Phone Screen */
		#login-logo {
			width: 250px;
		}
       #vid-video {
              width: 300px;
              height: 168px;
       }
       .home-4-divs:nth-child(2n+1){
              clear:both;
       }
       #reg-lightbox-main{
              width: 95%;
              padding: 50px 5px 5px 0px;
              height: 800px;
       }
       #home-8Img{
              text-align: center;padding:10px;
       }
       #campaigns-list li{
              margin:0 0 40px 0;display: inline-block;position: relative;width:100%;
              box-sizing: border-box;
              color:#000000;
              font-size:14px;
              padding: 0;
       }
       #campaigns-list {
              list-style:none;
              padding: 0 0 0 0;
              margin: 20px auto;
              width: 100%;
       }
       .campaigns-list-con {
              margin: 0;
       }
       .home-6-img{
              width:45%;display:inline-block;margin:10px auto;
       }
       .watchVideo {
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              background: rgba(255,255,255,0.7);
              z-index: 10000;
       }
       .VWClose {
              top: 25px;
              right: 25px;
       }
       .VWClose > span {
              font-size: 24px;
       }
       .WVInner {
              height: 350px;
              width: 80%;
              margin: 100px 0 0 0;
       }

       .VWClose {
              top: 15px;
              right: 15px;
       }
       .VWClose > span {
              font-size: 20px;
       }
       .WVInner {
              height: 350px;
              width: 80%;
              margin: 60px 0 0 0;
       }
       .homeBanner1,
       .homeBanner2,
       .homeBanner3 {
              height: 400px;
       }
       .homeBannerTextWadah1 {
              bottom: 50px;
              left: 25px;
       }
       .homeBannerTextWadah2 {
              bottom: 25px;
              left: 50px;
       }
       .homeBannerTextWadah3 {
              right: 10px;
              bottom: 75px;
       }
       .homeBannerText1:first-child {
              font-size: 24px;
              font-weight: bold;
       }
       .homeBannerText1:last-child {
              font-size: 16px;
       }
       .homeBannerText2 {
              font-size: 22px;
              font-weight: bold;
       }
       .homeBannerText3:first-child {
              font-size: 28px;
              font-weight: bold;
       }
       .homeBannerText3:last-child {
              font-size: 14px;
       }
       .column-half{
              width: 50%;
       }
       .column-three{
              width: 100%;margin:0
       }
       .column-one{
              width: 100%;
       }
       #kp-hom-con {
              width:90%;
              zoom:1;
              padding:20px 5% 20px 5%;
              margin:0 auto;
       }

       #kp-hom-con-1 {
              float:none;
              width:100%;
              padding:50px 0 10px 0;
              text-align:center;
       }

       #kp-hom-con-1 img{
              width:100px;
       }

       #kp-hom-con-2 {
              float:none;
              margin-left:0;
              width:100%;
              padding:0 0 50px 0;
       }
       .home-gallery-each {
              background-size:auto 100%;
       }
       #kap-header {
              display:none;
       }
       #home-1-1 {
              padding:120px 0 0 0;
       }

       #home-1-2 {
              width:94%;
              bottom:20px;
       }

       #cta_reg {
              float:none;
              width:100%;
       }

       #cta_pro {
              float:none;
              width:100%;
              margin:10px 0 30px 0;
       }

       #iframe-video {
              width:400px;
              height:224px;
       }

       #kap-header-3 {
              width:250px;
       }

       #kap-header-button-1 {
              width:100%;
              float:none;
              margin-bottom:20px;
       }

       #kap-header-button-2 {
              width:100%;
              float:none;
       }
       .recongDivs{
              width:100%
       }

}
@media screen and (max-width: 480px) {
       #h6fi-1 {
              /* width: 230px; */
              width: 65%;
       }

       #h6fi-2 {
              /* width:260px; */
              width: 65%;
       }

       #h6fi-3 {
              /* width:160px; */
              width: 65%;
       }

       #h6fi-4 {
              /* width:250px; */
              width: 65%;
       }
       .homeBanner1,
       .homeBanner2,
       .homeBanner3 {
              height: 350px;
              background-position: center;
       }

       #home-1-inner {
              margin: 40px auto 0 auto;
              /* padding:75px 0; */
       }

       .kapHeaderSliderHome {
              height: 250px;
       }
       .kapHeaderSlider {
              height: 100%;
       }
       #kap-header {
              font-size:20px;
              line-height:50px;
              margin:25px auto 0 auto;
       }
       #kap-header-s-2 {
              font-size:20px;
              line-height:50px;
              margin:25px auto 0 auto;
       }
       #kap-header-s-3 {
              font-size:20px;
              line-height:50px;
              margin:25px auto 0 auto;
       }
       #kap-header-2 {
              font-size:14px;
              line-height:36px;
              margin: 15px 0;
       }

       #kap-header-3 {
       }
       #kap-header-button-1 {
       }
       #kap-header-button-2 {
       }
       .home-con {
              padding: 0 0 0 0;
       }
       .con-h2 {
              font-size:20px;
              margin: 15px 0;
       }

       #home-5-inner {
              padding: 15px 0 0 0;
       }
       .testi-content {
              text-align: justify;
       }


       #home-3-inner {
              width:94%;
              padding: 15px 3% 15px 3%;
       }
       #home-3-what-we-do p{
              margin:0 0 20px 0;
              text-align: justify;
       }

       #h3e-2 {
              margin:0 0 40px 0;
       }

       .home-3-each {
              margin:0 0 40px 0;
              width:100%;
       }

       .h3e-header {
              text-align:center;
       }

       .h3e-pic {
              float:none;
              width:100%;
              height:170px;
              margin:0 0 20px 0;
       }

       .h3e-desc {
              float:none;
              width:100%;
              margin:0;
              text-align:center;
       }

       #home-img-1 {
              width:100%;
              height:auto;
       }
       #home-img-2{
              width:100%;
              height:auto;
       }
       .recongDivs{
              display:block;
       }
       .reg-title{
              width:100%;
       }

}
