@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

textarea, input, select { 
       outline: none; 
}
@font-face {
       /*font-family: ProximaNova;
       src: url('../font/ProximaNovaRgRegular.ttf');*/
}
@font-face {
       font-family: Lato;
       src: url('../font/Lato-Regular.ttf');
       /*font-family: 'Open Sans';*/
}
body {
       padding:0;
       margin:0;
       background-color:#FFF;
       color:#333;
       font-family: 'Open Sans';
       font-size: 16px;
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p{
       font-family: 'Open Sans';
}  

h1 {
       font-family: 'Open Sans';
       padding:0;
       margin:0;
       font-size: 33px;
       line-height:38px;
       text-align:center;
}

h2 {
       font-family: Lato;
       padding:0;
       margin:0;
       font-size: 20px;
       line-height:38px;
       text-align:center;
}

h3 {
       font-family: 'Open Sans';
       padding:0;
       margin:0;
       font-size: 20px;
       line-height:29px;
       text-align:left;
}
#private-lightbox-new {
       position:fixed;z-index: 49;background: rgba(255,255,255,0.95);top:0;left:0;
       overflow: hidden;overflow-y: auto;height:100%;width:100%;display:none;
}
#private-lightbox , #fbCover {
       position:fixed;z-index: 49;background: rgba(255,255,255,0.95);top:0; left:0;
       overflow: hidden;overflow-y: auto;height:100%;width:100%;display:none;
}

.h1-1 {
       color: #000;
       padding: 0;
       width: 80%;
       margin: 0 10% 30px 10%;
}
#main {
       width:100%;
       overflow-x: hidden;
       position: absolute;
       top: 0;
}

#container1 {
       width:100%;
}
#container {
       width:100%;
}


/* start new header */
.newMenu {
       display: none;
       position: absolute;
       top: 100%;
       right: 35px;
       height: auto;
       width: 250px;
       padding: 0 20px 10px 20px;
       margin: 0;
       list-style: none;
       background: #cccccc;
       z-index: 10000;
}
.newMenu > li {
       display: block;
       position: relative;
       height: auto;
       width: auto;
       padding: 5px 0;
       margin: 0;
       list-style: none;
       text-align: left;
}
.newMenu > li > a {
       text-decoration: none;
       text-align: left; 
}
#newOpen {
       display: inline-block;
}
#newClose {
       display: none;
}
/* end new header */



/* Start new css */
.confirmPopup {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       height: 100%;
       width: 100%;
       padding: 0;
       margin: 0;
}
.CPInner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 25px 0;
       margin: 50px 0 0 0;
       background-color: #fff;
       border: 3px solid #cccccc;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
}
.CPTitle {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 0;
}
.CPTitle > p {
       margin: 0;
       font-size: 20px;
       color: #0e638c;
       font-weight: bold;
}
.CPClose {
       display: inline-block;
       position: absolute;
       top: 10px;
       right: 10px;
       width: auto;
       margin: 0 0 40px 0;
       text-align: right;
}
.CPClose > span {
       cursor: pointer;
       font-size: 18px;
       color: #0e638c;
       text-decoration: none;
       padding: 10px 10px 0 0;
}

.career-page {
	padding:60px 120px !important;
}

.dasCampaign {
       margin-top: 50px;
}
.nav-tabs {
       border-bottom: 0 solid #ddd;
}
.nav-tabs > li {
       float: none;
       border: none;
}
.nav-tabs > li > a {
       color: black;
}
.nav-tabs > li.active > a {
       color: black;
}
.nav-tabs>li.active>a {
       border: none;
}
.nav-tabs>li.active>a {
       border: 0 solid;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
       border: none;
}
.label-danger,
.label-warning,
.label-success {
       font-size: 80%;
}
.label-warning {
       background-color: #ef9a22;
}
.modal-body {
       padding: 15px 35px;
}
.close {
       opacity: none;
       filter: none;
}
.close:hover {
       opacity: none;
       filter: none;
}
.modalClose {
       color: #0e638c;
       font-size: 24px;
}
.modalClose:hover {
       color: #0e638c;
}
.campaigns-risk {
       margin: 7px 0;
       width:100%;
       height:14px;
}
.campaigns-riskP {
       display: inline-block;
       float: left;
       text-align: left;
       font-size: 14px; 
       margin: 10px 0 0 0;
}
.HIYBanner {
       background-image:url('../images/howitworks.jpg');
       background-size: cover;
       height: auto;
       padding: 50px 0;
}

.ytbvideoWrapper {
	position: relative;
	height: auto;
	min-height: 360px;
}
.ytbvideoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	height: 85%;
}

.allNewTitle {
       font-size: 40px;
       color: #646c6f;
       font-weight: bold;
       font-family: Lato;
       margin: 0 0 50px 0;
}
.allNewTitle > span {
       display: none;
       color: #1eb2f6;
       cursor: pointer;
}
.allNewTitle > span:active {
       color: #0e638c;
}
.allContent {
       width:900px;
       margin:0 auto;
       padding: 25px 0;
}
/* Start campaign */

.campaignWrap {
       display: none;
       width: 910px;
       border: 3px solid #a9a9a9;
       padding: 0;
       margin-left: 0;
       border-radius: 15px;
       -o-border-radius: 15px;
       -ms-border-radius: 15px;
       -moz-border-radius: 15px;
       -webkit-border-radius: 15px;
       background: white;
}

.allBanner {
       display: inline-block;
       position: relative;
       left: 0;
       height: auto;
       width: 100%;
       padding: 0;
       margin: 70px 0 0 0;
}

.allBanner > img {
       position: relative;
       /* height: auto; */
	   max-height: 500px; 
	   object-fit: cover;
       width: 100%;
}
.allTitle {
       display: inline-block;
       position: absolute;
       height: auto;
       width: 80%;
       max-width: 95%;
}
.allTitle > p {
       font-size: 40px;
       color: white;
       font-weight: bold;
       font-family: Lato;
}

.campaignInner, .campaignInnerHp {
       height: auto;
       width: 100%;
       background: white;
       padding: 15px 50px 35px 50px;
}
.campaignInner {
       display: inline-block;
       padding: 15px 25px 20px 25px;
       border-radius: 15px;
}
.campaignInnerHp {
       display: none;
}
.campaginInner > center > select {
       opacity: 50%;
}
.campaignTitle {
       height: auto;
       width: 100%;
}
.campaignTitle > p {
       font-family: Lato;
       font-size: 40px;
       font-weight: bold;
       color: #325f8c;
       text-align: left;
}
/* End campaign */
div.tolltip-inner {
    max-width: 350px !important;
}


.partnersWrap {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
}
.partnersInner {
       display: inline-block;
       position: relative;
       height: auto;
       width: 90%;
       margin: 35px 0  35px 0;
}
.partnersInnerDas {
       display: inline-block;
       position: relative;
       height: auto;
       width: 95%;
       margin: 125px 0  35px 0;
}
.partnersInnerDas > #myTable_wrapper > #myTable > tbody > tr:hover > td {
       color: white;
       background: #00b1fa;
}
.howWrap {
       display: inline-block;
       position: relative;
       height: auto;
       width: 900px;
}
.howTitle {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       font-size: 40px;
       font-family: Lato;
       color: #325f8c;
       font-weight: bold;
}
.howUl,
.howUlHp,
.howUlFaq {
       position: relative;
       height: auto;
       width: 100%;
       padding: 0 0 0 0;
       margin: 10px 0 0 0;
       list-style: none;
       z-index: 1;
}
.howUlFaq {
       margin: 15px 0 25px 0;
}
.howUl {
       display: inline-block;
}
.howUlHp {
       display: none;
}
.howUl::before,
.howUlHp::before,
.howUlFaq::before {
       content: '';
       display: inline-block;
       position: absolute;
       height: 2px;
       width: 110%;
       top: 45px;
       left: -5%;
       background: #98b1ca;
}
.howUl > li,
.howUlHp > li,
.howUlFaq > li {
       display: inline-block;
       position: relative;
       height: 45px;
       width: 190px;
       padding: 0 0 0 0;
       margin: 0 0 0 0;
       list-style: none;
       background: #f2f2f2;
       border: 1px solid #98b1ca;
       border-bottom: 0 solid;
       border-top-right-radius: 5px;
       -o-border-top-right-radius: 5px;
       -ms-border-top-right-radius: 5px;
       -moz-border-top-right-radius: 5px;
       -webkit-border-top-right-radius: 5px;
       border-top-left-radius: 5px;
       -o-border-top-left-radius: 5px;
       -ms-border-top-left-radius: 5px;
       -moz-border-top-left-radius: 5px;
       -webkit-border-top-left-radius: 5px;
       margin: 0 15px;
}
.howUlFaq > li {
       width: 200px;margin:0 2px;
}
.howUl > li.active,
.howUlFaq > li.active {
       height: 47px;
       background: white;
}
.howUl > li > p,
.howUlHp > li > p,
.howUlFaq > li > p {
       margin: 3px 0 0 0;
       text-align: center;
}
.howUl > li > p > a,
.howUlHp > li > p > a,
.howUlFaq > li > p > a {
       font-size: 14px;
       text-align: center;
       cursor: pointer;
       color: black;
       text-decoration: none;
}
.visitWeb {
       display:inline-block;
       float:right;
       background:#1eb2f6;
       box-sizing: border-box;
       text-transform: uppercase;
       width:250px;
       padding:10px;
       font-weight:bold;
       font-size:16px;
       line-height:20px;
       cursor:pointer;
       color: #FFF;
       text-decoration: none;
       text-align:center;
       float: left;
       margin-top: 20px;
}
.visitWeb:hover {
       color: #335e8b;
}
.howUlInvest {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0 0 0 0;
       margin: 0 0 0 0;
       list-style: none;
}
.howUlInvest > li {
       display: inline-block;
       position: relative;
       height: auto;
       width: 32%;
       padding: 0 0 0 0;
       margin: 0 0 0 0;
       list-style: none;
       float: left;
}
.howUlInvest > li:nth-child(2) {
       margin: 0 10px;
}
.howUlTitle {
       height: auto;
       width: 100%;
       text-align: center;
       padding: 5px 0;
       margin: 5px 0;
       background: #f0f2f5;
}
.howUlTitle > h3 {
       text-align: center;
       height: auto;
       width: 100%;
       color:rgb(31, 73, 125);
       font-size:16px;
       font-weight: bold;
       background: #f0f2f5;
}
.howDesUl {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0 0 0 0;
       margin: 0 0 0 0;
}
.howDesUl > li {
       display: inline-block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0 0 0 25px;
       margin: 5px 0;
}
.howDesUl > li::before {
       content: '';
       display: inline-block;
       position: absolute;
       top: 10px;
       left: 7px;
       height: 3px;
       width: 3px;
       border-radius: 100%;
       -o-border-radius: 100%;
       -ms-border-radius: 100%;
       -moz-border-radius: 100%;
       -webkit-border-radius: 100%;
       background: #2c59af;
}
.howDesUl > li > p {
       text-align: left;
       color: #2c59af;
}
.allContentTitle {
       font-size: 22px;
       color: #1f497d;
}
.allContentTitleFaq {
       font-size: 24px;
       color: #1f497d;
}
.allContentText {
       font-size: 18px
}
.allContentTextEtc {
       font-size: 20px
}
.allContentTextEtc2 {
       color: #3f3f3f;
       font-size: 20px
}
.allContentTextEtc3 {
       color: #3f3f3f;
       font-size: 18px
}
.allContentTextEtc4 {
       text-indent: -18pt;
       font-size: 18px;
       color: #3f3f3f;
}
.allContentTextEtc5 {
       font-size: 22px;
       color: #3f3f3f;
}
.allContentTextEtc6 {
       font-size: 20px;
       color: #1f497d;
}
.allContentTextEtc7 {
       font-size: 28px;
       color: #3f3f3f;
}
.allContentTextEtc8 {
       color:#1f497d;
       font-size:24px;
}
.allContentTextEtc9 {
       font-size:22px;
}
.allContentTextEtc10 {
       font-size:24px;
}
.howImageContent {
       border: 0px solid;
       height: auto;
       width: 100%;
}
.howImageContent2 {
       border: 0px solid;
       height: auto;
       width: 100%;
}
.textJustify {
       text-align: left;
}
.leftRight {
       float: left;
}
.textCenter {
       text-align: center;
}
.googleMap {
       height:400px;
       width:100%;
}
.dasUl {
       display: none;
       position: absolute;
       height: auto;
       width: 100%;
       top: 70px;
       left: 0;
       background: white;
       padding: 0 0 0 0;
       margin: 0 0 0 0;
       list-style: none;
       z-index: 10;
}
.dasUl > li {
       display: inline-block;
       position: relative;
       height: auto;
       width: 32%;
       top: 100%;
       background: white;
       padding: 15px 0;
       margin: 0 0 0 0;
       list-style: none;
       text-align: center;
}
.dasUl > li > a {
       text-align: center;
       text-decoration: none;
       font-size: 18px;
       margin: 0 0 0 0;
       cursor: pointer;
       font-weight: bold;
}
#dasMenu1 {
       display: inline-block;
}
#dasMenu2 {
       display: none;
}
.dasContent {
       width: 85%;
       overflow-x: none;
}
.HIYDropMenu {
       margin: 0 0 25px 0;
       display: block;
       position: relative;
       width: 325px;
}
.HIYDropMenu p {
       font-size: 18px;
       cursor: pointer;
       display: block;
       width: auto;
}
#dropContent1 {
       display: block;
}
#dropContent2 {
       display: none;
}
.HIYDropMenuItem {
       display: none;
       position: absolute;
       top: 100%;
       left: 0;
       height: auto;
       width: 100%;
       padding: 15px 0;
       margin: 0;
       list-style: none;
       z-index: 10;
       background: white;
}
.HIYDropMenuItem li {
       display: block;
       position: relative;
       height: auto;
       width: 100%;
       padding: 0 0 0 10px;
       margin: 0;
       list-style: none;
}
.HIYDropMenuItem li p {
       text-align: left;
}
.HIYDropMenuItem li p a {
       font-size: 16px;
       text-align: left;
       color: black;
       text-decoration: none;
}
.loginRegisMenu {
       color: #4e89c6;
}
.profileUploadHeaders{
       margin-bottom: 30px;font-size: 14px;font-weight: bold;
}
.profileUploadFile{
       margin:auto;width:200px;
}
.FAQAsk {
       position: relative;
       height: auto;
       width: 100%;
       padding: 5px 0 7px 10px;
       background: #f2f5f7;
}
.FAQAsk h3 span {
       color: #35608d;
}
.FAQAsk h3 span a em {
       font-size: 16px;
}
.FAQPlus {
       position: absolute;
       top: 17px;
       right: 5px;
}
.FAQPlus p {
       color: #35608d;
       font-weight: bold;
       font-size: 18px;
       cursor: pointer;
}
#FAQStat1_1,
#FAQStat1_2,
#FAQStat1_3,
#FAQStat1_4,
#FAQStat1_5,
#FAQStat1_6,
#FAQStat1_7,
#FAQStat1_8,
#FAQStat1_9,
#FAQStat1_10,
#FAQStat1_11,
#FAQStat1_12,
#FAQStat1_13,
#FAQStat1_14,
#FAQStat1_15,
#FAQStat1_16 {
       display: block;
}
#FAQStat2_1,
#FAQStat2_2,
#FAQStat2_3,
#FAQStat2_4,
#FAQStat2_5,
#FAQStat2_6,
#FAQStat2_7,
#FAQStat2_8,
#FAQStat2_9,
#FAQStat2_10,
#FAQStat2_11,
#FAQStat2_12,
#FAQStat2_13,
#FAQStat2_14,
#FAQStat2_15,
#FAQStat2_16 {
       display: none;
}
#FAQContent_1,
#FAQContent_2,
#FAQContent_3,
#FAQContent_4,
#FAQContent_5,
#FAQContent_6,
#FAQContent_7,
#FAQContent_8,
#FAQContent_9,
#FAQContent_10,
#FAQContent_11,
#FAQContent_12,
#FAQContent_13,
#FAQContent_14,
#FAQContent_15,
#FAQContent_16 {
       display: none;
}

/* End new css */
.videoYt {
       display: inline-block;
       position: relative;
       height: 400px;
       width: 680px;
       /*
           background: white;
              padding: 15px 20px;
              margin: 0 0 0 0;
              border-top-left-radius: 25px;
              -o-border-top-left-radius: 25px;
              -ms-border-top-left-radius: 25px;
              -moz-border-top-left-radius: 25px;
              -webkit-border-top-left-radius: 25px;
              border-bottom-left-radius: 25px;
              -o-border-bottom-left-radius: 25px;
              -ms-border-bottom-left-radius: 25px;
              -moz-border-bottom-left-radius: 25px;
              -webkit-border-bottom-left-radius: 25px;
       */

}
.videoYt > iframe {
       height: 100%;
       width: 100%;
}
#menu {
       width:100%;
       height:70px;
       background-color: white;
       position: fixed;
       top:0;
       left:0;
       z-index: 100;
       /* border-top:2px solid #325f8c; */
       border-bottom:1px solid #e7e7e7;
       /* overflow:hidden; */
}

.menu-rwd-show {
       height:70px !important;
}

#menu-back {
       width:100%;
       height:100%;
       background-color: white;
       position: absolute;
       top:0;
       left: 0;
}

#menu-front {
       width:100%;
       height: 100%;
       position: absolute;
       top:0;
       left: 0;
       overflow: hidden;
}

#menu-front-inner {
       width:95%;
       margin: 0 auto;
       height: 100%;
       position:relative;
       max-width:96%;
}

#menu-logo {
       position: absolute;
       left: 0;
       top:20px;
}

#menu-logo-img {
	width: 220px;
    height: auto;
    margin-top: -3px;
    margin-left: 20px;
}

#kb-menu {
       padding: 0;
       margin:0;
       list-style: none;
       position: absolute;
       right: 0;
       top:0;
       max-width:100vw;
}
#kb-menu.custom_1 {
       left: 36.5%;
}
#kb-menu.custom_2 {
       right: 0;
}
#kb-menu li {
       float: left;
       margin:0;
       padding:0;
}

#kb-menu li a{
       color: #335f8c;
       font-family: 'Open Sans';
       text-decoration: none;
       text-transform: uppercase;
       cursor: pointer;
       display: block;
       padding: 20px 30px 0 0;
       line-height:30px;
       font-size:14px;
       /* font-weight: bold; */
}
.loginRegisMenu {
       color: #4e89c6;
}
/*
#kb-menu li:nth-child(5) a{
    padding: 0;
    margin: 17px 10px 0 35px;
}

#kb-menu li:nth-child(6) a{
    padding: 0;
    margin: 17px 0 0 0;
}


#kb-menu li:nth-child(5) a , #kb-menu li:nth-child(6) a {
    border: 1px solid #FFF;
    padding:0;
    width: 120px;
    text-align: center;
    border-radius:5px;
}
*/
#kb-menu li a:hover {
       /* background-color:#FFF; */
       color:#0087C1;
}

#rwd-menu {
       width:27px;
       position:absolute;
       right:0;
       top:10px;
       height:20px;
       cursor:pointer;
       display:none;
}

#rwd-menu-inner {
       position:relative;
       width:100%;
       height:100%;
}

.rwd-menu-each {
       position:absolute;
       width:100%;
       height:4px;
       background-color: #30bafb;
       -webkit-transition: 0.3s ease-in-out;
       -moz-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
       transition: 0.3s ease-in-out;
}

.rwd-menu-each:nth-child(1) {
       top:0;
}

.rwd-menu-each:nth-child(2) { 
       top:8px;
}

.rwd-menu-each:nth-child(3) { 
       top:16px;
}

.rwd-cross-1 {
       -ms-transform: rotate(50deg); 
       -webkit-transform: rotate(50deg);
       transform: rotate(50deg);
}

.display-none {
	display: none !important;
}
 
.display-block {
	display: block !important;
}

.rwd-cross-2 {
       top:8px !important;
       -ms-transform: rotate(-50deg); 
       -webkit-transform: rotate(-50deg);
       transform: rotate(-50deg);
}

.comingsoon{
	float: left;
    margin-left: 15px;
	background-color: #1DABB8;
	/* background-image: url(https://i.ytimg.com/vi/pbmoEk1PASE/maxresdefault.jpg); */
	background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 50px;
    margin-top: -10px;
}

.comingsoon2{
	float: left;
	width: 100%;
	background-color: #1DABB8;
    padding: 10px 50px;
	margin-bottom: 30px;
}

.comingsoon h2, .comingsoon2 h2{
	font-weight: 400 !important;
    color: #fff;
}

#cndtime {
	font-size: 40px !important;
	margin-top: 10px !important;
}

#cndtime2 {
	font-size: 40px !important;
	margin-top: 10px !important;
}

#rwd-sub {
       width:100%;
       height:1000px;
       position:absolute; 
       top:70px;
       padding:0 0 60px 0;
}

#rwd-sub-list {
       list-style:none;
       padding:0;
       margin:0;
       width:100%;
}

#rwd-sub-list li {
       width:100%;
       padding:0;
       margin:0;
}

#rwd-sub-list li a {
       display:block;
       width:94%;
       padding:10px 3% 10px 3%;
       text-align:right;
       color:#FFF;
       cursor:pointer;
       font-family: 'Open Sans';
       text-decoration: none;
       text-transform: capitalize;
       color:#00B3FF;
       font-size:22px;
       line-height:35px;
}

#rwd-sub-list li a:hover {
       background-color:#0087C1;
       color:#FFFFFF;
}

#footer {
       width:100%;z-index: 100;
       background-color:#333d50;
       padding:75px 0 0 0;
       color:#FFF;
}

#footer-inner {
       width:940px;
       margin:0 auto;
       max-width:96%;
       padding: 0 0 20px 0;
}

#footer-main {
       width:100%;
       zoom:1;
       position:relative;
}

#footer-main:before,
#footer-main:after {
       content:"";
       display:table;
}

#footer-main:after {
       clear:both;
}

.foot-header {
       color:#FFF;
       margin:0 0 35px 0;
       font-size: 20px;
       font-family: 'Open Sans';
       text-transform: uppercase;

}
.footer-body{
       color: #cccccc !important;
}

.foot-header.foot-header-2 {
       margin:0px 0 35px 0;
}

.sc-ln-icon {
       margin:0 5px;
}

#footer-main a{
       color:#FFF;
       text-decoration:none;
       font-size:13px;
}


#footer-main p{
       font-family: 'Open Sans';
       margin: 0 0 8px 0;
       line-height:35px;
}
#footer-main h3{
       font-family: 'Open Sans';
       font-size: 16px;
       text-transform: uppercase;
}

#footer-main a:hover{
       text-decoration: underline;
}

#footer-main-1 {
       float: left;
       width:20%;
}

#footer-main-1-logo {
       width:340px;
}

#footer-main-2 {
       float: left;
       width:20%;
}

#footer-main-3 {
       float: left;
       width:20%;
}
#footer-main-5 {
       float: left;
       width:20%;
}
#footer-main-4 {
       float: left;
       width:20%;
}

#footer-main-4 img {
        max-width: 30%;
        cursor: pointer;
}

#footer-disclaimer {
       width:94%;
       position:relative;
       font-size:11px;
       text-align:justify;
}

#footer-diclaimer-header {
       margin: 0 0 10px 0;
}

#disclaimer-content {
       color:#cccccc;
       margin:30px 0 0 0;
       padding: 0 0 20px 0;
}

#disclaimer_button {
       width:30px;
       height:30px;
       position:absolute;
       top:15px;
       right:0;
       font-size:28px;
       text-align:center;
       cursor:pointer;
}

#footer-copy {
       width:90%;
       font-size:11px;
       margin:75px 0 0 0;
}

#ssl-con {
       margin-top:20px;
       /* padding: 0 0 0 13.5px; */
}
.ssl_logo_new {
       margin-top:20px;
       /* padding: 0 0 0 53px; */

}
#ssl-img {
       width:100px;
       height:auto !important;
}
.campaign-filter{
       height: 80px;
       width: 100%;
}
.filter_search{
       padding: 10px; 
       width: 25% !important ;
       margin-left: 20px; 
       float: left;
}
#project_type {
       float: left;
       width : 68%;
       margin-top: 1px;
}

.addressprofftooltips{
       visibility: hidden;display:block;position:absolute;right:0px;background-color:#333333;
       border-radius:5px;padding:4px;color:white
}
.addressproof:hover + .addressprofftooltips{
       visibility: visible;display:block;

}
.ticks{
       margin: 10px 5px 10px auto !important;
}
::-webkit-input-placeholder {
       color:#DFDFDF;
}
:-moz-placeholder {
       color:#DFDFDF;
       opacity:  1;
}
::-moz-placeholder {
       color:#DFDFDF;
       opacity:  1;
}
:-ms-input-placeholder {
       color:#DFDFDF;
}









#lightbox {
       position:fixed;z-index: 500;background: rgba(255,255,255,0.95);top:0;left:0;overflow: hidden;overflow-y: auto;
       height:100%;width:100%;display:none;
}

#login-box {
       width:500px;height: 500px;position: absolute;top:50%;left: 50%;margin: -240px 0 0 -250px;color:#0e638c;
}

#login-top {
       width:100%;
       margin:0 0 10px 0; 
       text-align: right;
}

#close-box,
#close-box-new {
       cursor: pointer;
       font-size: 28px;
       line-height:35px;
       color:#0e638c;
       text-decoration:none;
}
#close-private-box{
       cursor: pointer;
       font-size: 28px;
       line-height:35px;
       color:#0e638c;
       text-decoration:none;  
}
#login-middle {
       margin:0 0 20px 0; text-align: center;
}

#login-h1 {
       color:#0e638c; margin:10px 0 20px 0;font-size:1.5em;
}

#login-logo {
       width:300px;
}

#login-email, #login-pass , #close-pass {
       border:1px solid #bfbfbf;width:100%; color:#0e638c;padding:7px 2% 7px 2%;
       font-size:22px;line-height:25px;border-radius:7px;outline:none;margin: 10px auto;
}

#close-pass {
       margin: 25px 0 0 0;
}

#log-bottom-1 {
       background-color:#60a5ee;color:white;border-radius: 5px;width:100%;
}
#loginHr{
       width:100%;margin:20px auto 10px;border-color:#404040
}
#loginform{
       padding:0 50px 30px;
}
#close-submit,#login-submit {
       text-align:center;color:white;padding:10px 0 10px 0;background-color:#60a5ee;font-size:22px;
       line-height:25px;cursor:pointer;border-radius:5px;margin:20px auto;border-radius: 5px;width:100%;
}
#loginFb{
       height:29px;
}

#close-submit:hover,#login-submit:hover {
       color:white;background-color:#004d99;border-radius: 5px;
}

#log-bottom-2 {
       padding:0;
}

#login-register {
       display:inline-block;
       color:#0e638c;
}

#login-forgot {
       color:#0e638c;
}

#login-forgot:hover {
       color:#00650c;
}

#login-process {
       display:inline-block;
       color:#0e638c;
}



/*@media screen and (max-width: 995px){  

       #kb-menu li a{
              padding: 20px 5px;
       }


       #footer-inner {
              margin:0 2% 0 2%;
       }

}




@media screen and (min-width: 900px) and (max-width: 994px){ 

       #footer-main-1 {
              padding: 52px 0 52px 0;
       }

       #footer-main-2 {
              margin: 0 0 0 3%;
       }

       #footer-main-3, #footer-main-4 {
              margin: 0 0 0 8%;
       }


}*/

@media only screen and (max-width: 1199px) { /* Normal Laptop Screen */



}
@media only screen and (max-width: 991px) { /* Tablet Screen */

       #menu {
              height:40px;
       }

       .menu-rwd-show {
              height:100vh !important;
              overflow-y:scroll !important;
       }

       #kb-menu {
              display:block;
              width:100vw;
              left:0;
       }

       #rwd-menu {
              display:block;
       }

       #menu-logo {
              top:8px;
       }

       #menu-logo-img {
              width: 150px;
       }

       #kb-menu {
              padding: 0;
              margin:0;
              list-style: none;
              position: absolute;
              left: 0;
              top:40px;
              margin-left: -2%;
       }

       #kb-menu li {
              float: none;
              width:100%;
       }

       #kb-menu li a{
              width: 100%;
              text-align: center;
              padding: 10px 2%;
              box-sizing: border-box;
              margin:0;
       }

       #kb-menu li:nth-child(5) a , #kb-menu li:nth-child(6) a {
              border:none;
              margin:0;
              width: 100%;
              text-align: center;
              padding: 10px 2%;
              box-sizing: border-box;
              border-radius:0;
       }
       #kb-menu ul{
              width: 100px;
              float: right;
              color: black;
              margin: 0;
              padding: 0;
       }

       #footer-main-1 {
              width:20%;
              margin: 0 ;
       }

       #footer-main-2 {
              margin: 0;
              border-left:none;
              width:20%;
       }

       #footer-main-3 {
              width:20%;
              margin: 0;
       }

       #footer-main-4 {
              float:left;
              margin: 0;
              width:20%;
       }

}


@media only screen and (max-width: 767px) { /* Phone Screen */
       .ssl_logo_new {
              padding: 0 0 0 0;
       }
       #ssl-con {
              padding: 0;
       }
       #kb-menu.custom_1 {
              left: 0%;
       }
       #kb-menu.custom_2 {
              top: 290px;
              right: 0;
       }
       #footer {
              width:100%;
              padding: 15px 0 0 0;
       }

       #footer-main-1, #footer-main-2, #footer-main-3, #footer-main-5 { 
              float:left;
              width:49%;
              text-align:center;
              margin:40px 0 0 0;
              padding:0;
              border:none;
              min-height:200px;
       }
       #footer-main-4 {
              text-align: center;
              width:100%;
       }
       .foot-header {
              width:100%;
              text-align:center;
              margin:0 0 30px 0;
       }

       .foot-header.foot-header-2 {
              margin:80px 0 30px 0;
       }

       #footer-main p{
              line-height:25px;
       }

       #footer-disclaimer {
              border:none;
              border-bottom: 1px solid #FFF;
       }

       #disclaimer-content {

       }

       .system-error-message {
              width:94%;
              padding: 150px 3% 80px 3%;
       }

       .sc-fb-icon {
              margin-left:10px;
       }

       #footer-end {
              height:100px;
       }
       #login-email, #login-pass{
              width:95%;
       }
       .newMenu {
              top: 335px;
              right: 35px;
              width: 225px;
              padding: 0 20px 10px 20px;
              margin: 0;
       }
       .campaignWrap {
              display:none;
              width: 80%;
              border: 3px solid #a9a9a9;
              padding: 0;
              border-radius: 15px;
              -o-border-radius: 15px;
              -ms-border-radius: 15px;
              -moz-border-radius: 15px;
              -webkit-border-radius: 15px;
              background-color: white;
       }
       .allBanner {
              margin: 40px 0 0 0;
              display: inline-block;
              position: relative;
              left: 0;
              height: auto;
              width: 100%;
              padding: 0;
       }
       .allTitle {
              display: inline-block;
              position: absolute;
              height: auto;
              width: 80%;
              max-width: 95%;
       }
       .allTitle > p {
              font-size: 24px;
       }


       .HIYBanner {
              height: 350px;
       }
       .videoYt {
              height: 320px;
              width: 40%;
       }

       .campaignInner {
              display: inline-block;
       }
       .campaignInnerHp {
              display: inline-block;
              padding: 5px;
              margin-bottom: 25px;
       }
       .campaignTitle > p {
              font-family: Lato;
              font-size: 13px;
              font-weight: bold;
              color: #325f8c;
              text-align: left;
       }
       #project_type {
              float: left;font-size:10px;
              width : 68%;
              margin-top: 1px;
       }
       .filter_search{
              font-size:11px !important;
              padding: 5px; 
              width: 29%; 
              margin-left: 20px; 
              float: left;
       }
       .partnersInner {
              width: 95%;
              margin: 35px 0  35px 0;
       }
       .howWrap {
              width: 95%;
       }
       .howTitle {
              width: 100%;
              font-size: 24px;
       }
       .howUl,
       .howUlFaq {
              display: inline-block;
       }
       .howUlHp {
              margin-top: 1px;
              display: inline-block;
       }
       .howUl,
       .howUlFaq {
              display: none;
       }
       .howUl::before,
       .howUlHp::before,
       .howUlFaq::before {
              height: 2px;
              top: -2px;
              bottom: none;
       }
       .howUl::before {
              height: 0;
       }
       .howUl > li,
       .howUlHp > li,
       .howUlFaq > li {
              height: 45px;
              width: 48%;
              padding: 0 0 0 0;
              margin: 0 0 5px 0;
              border: 2px solid #98b1ca;
              border-bottom-right-radius: 5px;
              -o-border-bottom-right-radius: 5px;
              -ms-border-bottom-right-radius: 5px;
              -moz-border-bottom-right-radius: 5px;
              -webkit-border-bottom-right-radius: 5px;
              border-bottom-left-radius: 5px;
              -o-border-bottom-left-radius: 5px;
              -ms-border-bottom-left-radius: 5px;
              -moz-border-bottom-left-radius: 5px;
              -webkit-border-bottom-left-radius: 5px;
       }
       .howUl > li > p,
       .howUlHp > li > p,
       .howUlFaq > li > p {
              margin: 7px 0 0 0;
       }
       .howUl > li > p > a,
       .howUlHp > li > p > a,
       .howUlFaq > li > p > a {
              font-size: 14px;
       }
       .howUlFaq > li > a {
              font-size: 13.7px;
       }
       .howUlInvest > li {
              display: block;
              position: relative;
              height: auto;
              width: 100%;
              padding: 0 10px;
              margin: 0 0 0 0;
              float: none;
       }
       .howUlInvest > li:nth-child(2) {
              margin: 0 0;
       }
       .howUlTitle {
              width: 100%;
              text-align: center;
              padding: 5px 0;
              margin: 5px 0;
       }
       .howUlTitle > h3 {
              text-align: center;
              height: auto;
              width: 100%;
              color:rgb(31, 73, 125);
              font-size:16px;
              font-weight: bold;
              background: #f0f2f5;
       }
       .howDesUl {
              display: inline-block;
              position: relative;
              height: auto;
              width: 100%;
              padding: 0 0 0 0;
              margin: 0 0 0 0;
       }
       .howDesUl > li {
              display: inline-block;
              position: relative;
              height: auto;
              width: 100%;
              padding: 0 0 0 25px;
              margin: 5px 0;
       }
       .howDesUl > li::before {
              content: '';
              display: inline-block;
              position: absolute;
              top: 10px;
              left: 7px;
              height: 3px;
              width: 3px;
              border-radius: 100%;
              -o-border-radius: 100%;
              -ms-border-radius: 100%;
              -moz-border-radius: 100%;
              -webkit-border-radius: 100%;
              background: #2c59af;
       }
       .howDesUl > li > p {
              text-align: left;
              color: #2c59af;
       }
       .allContentTitle {
              font-size: 18px;
       }
       .allContentTitleFaq {
              font-size: 18px;
       }
       .allContentText {
              font-size:14px
       }
       .allContentTextEtc {
              font-size: 16px
       }
       .allContentTextEtc2 {
              font-size: 16px
       }
       .allContentTextEtc3 {
              font-size: 14px
       }
       .allContentTextEtc4 {
              text-indent: -18pt;
              font-size: 14px;
       }
       .allContentTextEtc5 {
              font-size: 20px;
       }
       .allContentTextEtc6 {
              font-size: 14px;
       }
       .allContentTextEtc7 {
              font-size: 20px;
       }
       .allContentTextEtc8 {
              font-size:20px;
       }
       .allContentTextEtc9 {
              font-size:18px;
       }
       .allContentTextEtc10 {
              font-size:20px;
       }
       .howImageContent {
              height: auto;
              width: 100%;
       }
       .howImageContent2 {
              height: auto;
              margin-left: 0;
              width: 100%;
       }
       .dasUl {
              width: 100%;
              top: 410px;
              left: 0;
              background: white;
              padding: 0 0 0 0;
              margin: 0 0 0 0;
       }
       .dasUl > li {
              width: 32%;
              top: 100%;
              background: white;
              padding: 15px 0;
              margin: 0 0 0 0;
       }
       .dasUl > li > a {
              font-size: 13px;
              font-weight: bold;
              margin: 0 0 0 0;
              cursor: pointer;
       }
       #dasMenu1 {
              display: none;
       }
       #dasMenu2 {
              display: inline-block;
       }
       .dasContent {
              width: 100%;
              overflow-x: scroll;
       }
       .textJustify {
              text-align: justify;
       }
       .leftRight {
              margin-left: 25px;
              float: none;
       }
       .googleMap {
              height:200px;
       }
       .allNewTitle {
              padding: 0 4.5%;
              margin: 0 0 5px 0;
              text-align: left;
       }
       .allNewTitle > span {
              display: inline-block;
              float: right;
       }
       #loginform{
              padding:0;
       }

}



@media screen and (max-width: 550px){ 
       .videoYt {
              height: 300px;
              width: 90%;
       }
       #login-box {
              width:94%;
              height: auto;
              position: static;
              top:0;
              left:0;
              margin: 20px 3% 0 3%;
       }
	   
	   .career-page {
			padding:20px 40px !important;
		}



}

/* Localized */