{$pagetop}

{section name=about loop=$aboutA}
<h3><strong>{$aboutA[about].header}</strong></h3>
<p style="text-align: justify">{$aboutA[about].content}</p><br>

{/section}
</div></div></div></div>
{$theTeam}

<script type="text/javascript" src="assets/js/kp-about.js"></script>