{if $login}
Belum Login
{else}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="/xfers/assets/css/gaya.css">

<center>
       <div class="xfersThankYou" style="margin:70px 0 0 0;width:100%;height:640px;background-color:white">

              <center>


                     <!-- Params -->
                     {if $payment_type=="paypal"}
                     <form action="https://www.paypal.com/cgi-bin/webscr" method="POST">
                            <!-- Params FOr Paypal -->
                            <input type="hidden" name="business" value="erly@kapitalboost.com">
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="item_name" value="{$listPP[outer].campaign_name}">
                            <input type="hidden" name="return" value="https://kapitalboost.com/payment">
                            <input type="hidden" name="item_number" value="{$campaign_id1}">
                            <input type="hidden" name="credits" value="510">
                            <input type="hidden" name="tx" value="TransactionID">
                            <input type="hidden" name="at" value="ODJuzlFwX-WNtbrnJhd_EB33SXbFXYt7xkWb8AGPGQp-eqi5l0wKkTr8it0">
                            <input type="hidden" name="cpp_header_image" value="https://kapitalboost.com/assets/images/logo.png">
                            <input type="hidden" name="no_shipping" value="1">
                            <input type="hidden" name="currency_code" value="{$currency1}">
                            <input type="hidden" name="handling" value="0">
                            <input type="hidden" name="amount" value="{$amount1}">
                            <!-- value="campaign_name | $username | $member_email | $member_country | campaign_owner | token | campaign_type| closing_date" -->
                            <input type="hidden" name="custom" value="{$campaign_name1}|{$investor_name1}|{$member_email1}|{$member_country_1}|{$campaign_owner1}|{$token1}|{$campaign_type1}|{$closing_date1}|{$listPP[outer].campaign_id}">
                            <input type="hidden" name="campaign_id" value="{$campaign_id1}">

                            {elseif $payment_type=="xfers"}
                            <form action="xfers/" method="POST">

                                   <!-- Params FOr Xfers -->
                                   <input type="hidden" name="xfersphone" value="{$member_phone_1}">
                                   <input type="hidden" name="member_email" value="{$member_email1}">
                                   <input type="hidden" name="order_id" value="{$order_id1}">
                                   <input type="hidden" name="amount" value="{$amount1}">
                                   <input type="hidden" name="username" value="{$investor_name1}">
                                   <input type="hidden" name="lastname" value="{$lastname}">
                                   <input type="hidden" name="item_name" value="{$campaign_name1}">
                                   <input type="hidden" name="item_item_id_1" value="1">
                                   <input type="hidden" name="currency" value="SGD">
                                   <input type="hidden" name="item_description_1" value="Kapitalboost Campaign">
                                   <input type="hidden" name="item_quantity_1" value="1">
                                   <input type="hidden" name="project_type" value="{$campaign_type1}">
                                   <input type="hidden" name="campaign_id" value="{$campaign_id1}">
                                   <input type="hidden" name="campaign_token" value="{$token1}">
                                   {else}
                                   <form action="" method="POST">
                                          {/if}

                                          <!-- End Params -->

                                          <div class="FPInner" style="margin-top: 80px;">
                                                 <p class="FPTitle">
                                                 <div class="XBLogo">
                                                        {if $payment_type=="paypal"}      
                                                        <img src="/assets/images/paypallogo.jpg" />
                                                        {/if}
                                                        {if $payment_type=="xfers"}
                                                        <img src="/assets/images/xfersLogo.png" />
                                                        {/if}
                                                 </div>
                                                 <!--  API Payment {$payment_type} -->
                                                 </p>
                                                 <!-- <p>
                                                   $member_phone_1} | {$member_phone_1} <br>
                                                   $member_email1} | {$member_email1} <br>
                                                   $member_country_1} | {$member_country_1} <br>
                                                   $member_id1} | {$member_id1} <br>
                                                   $payment_type} | {$payment_type} <br>
                                                   $status1} | {$status1} <br>
                                                   $invest_date1} | {$invest_date1} <br>
                                                   $campaign_type1} | {$campaign_type1} <br>
                                                   $campaign_name1} | {$campaign_name1} <br>
                                                   $amount1} | {$amount1} <br>
                                                   $investor_name1} | {$investor_name1} <br>
                                                   $currency1} | {$currency1} <br>
                                                   $order_id1} | {$order_id1} <br>
                                                   $campaign_owner1} | {$campaign_owner1} <br>
                                                   $token1} | {$token1} <br>
                                                   $closing_date1} | {$closing_date1} <br>
                                                   $campaign_id1} | {$campaign_id1} <br>
                                                 </p> -->
                                                 <p>

                                                 </p>
                                                 <button type="submit" class="" style="margin-top: 20px;">
                                                        Pay Now
                                                 </button>
                                          </div>
                                   </form>
                                   </center>
                                   </div>
                                   <center>
                                          {/if}
