<div class="allBanner">
       <!-- <img src="../assets/images/contactus.jpg" /> -->
</div>
<div id="container" >

       <center>
              <div class="partnersWrap" style="background-color:#f2f2f2">
                     <div class="partnersInner">
                        
						<h1>Registration successful!</h1>
						<p>Please check your email to verify your registration. Not receiving? Check your spam folder.</p>
                        
                     </div>
              </div>
       </center>
</div>
