<div id="default">
    <div id="default-1">
        <div id="default-1-back">
            <div id="default-1-inner" style="text-align: left;">
                <h1 class="h1-1">Forgot Password</h1>
                <!-------------------------------------------- member register area wrapper -------------------------------------------->
                    <form method="post" id="login_form" name="login_form" action="member/forgot-password" autocomplete="off">
                    
                            <p>Please enter your password on the form below</p><br>
                            <div class="form-group">
                                <label for="" class="control-label member-login-label-wrapper">New Password</label>
                                <div class="member-login-field-wrapper">
                                    <input type="password" class="form-control form-field" id="email"  name="password" style="margin-bottom:8px;width:100%;height:30px;" required>
<input type="hidden" name="action" value="{$encrypt}" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="member-login-btn-wrapper">
                                <button class="btn btn-main" type="submit">Submit</button>
                            </div>
                            <br><br>
                    </form>
                
            </div>
        </div>
    </div>
</div>