/* Customize */
a {
	text-decoration: none;
}
h4.no-campaigns{
	font-size:11px;
	text-align:center;
	color:#848484;
}
/* App */
.app-description {
	font-size:10.5px;
	color:#FFF;
}
.app-padding {
	padding:0 42px;
}
.app-term {
	margin: -40px 0 25px 0;
	text-align: center;
	font-size: 12px;
	color: #818282;
}
.already-have-acc {
	margin: 40px 0 60px 0;
	color: #FFF;
	font-size: 14px;
	text-align: center;
}
.already-have-acc > a {
	color: white;
}
/* button */

.kbp-btn {
	border-radius:4px;
	font-size:12px;
}
/* Campaigns */
#kpb-campaigns {
	width:100%;
	height:auto;
	background-color:#f7f7f7;
	padding:24px 25px;
}
#kpb-campaigns > .kpb-campaigns-item {
	
	width:100%;
	background-color:white;
	border-radius:7px;
	border:1px solid #e6e6e6;
	margin-bottom:24px;
}
.kpb-campaigns-item-top {
	height:100px;
}
.kpb-campaigns-item-bottom{
	width:100%;
	padding-left:23px;
	padding-bottom:20px;
}
.kpb-camaigns-item-left{
	width:60%;
	float:left;
	padding-top:15px;
	padding-left:10px;
}
.kpb-camaigns-item-left > h3 {
	font-size:14px;
}
span.item-location{
	font-size:9px;
	font-weight:500;
}
.campaign-bar{
	width:100%;
	height:10px;
	background-color:#9EB8C7;
}
.campaign-progress{
	background-color:#33D675;
	height:10px;
}
.kpb-camaigns-item-right{
	float:right;
	width:37%;
}
.kpb-camaigns-item-right > img {
	width:100%;
	height:75px;
}
/* Form */

.kbp-form {
	margin: 0 0 150px 0;
}
.kbp-form > div > label > span{
  font-size: 14px;
}
.kbp-form > div {
  padding:0;
}
.kbp-form > div.list {
	margin-bottom: 30px;
}
.kbp-form > div > .item > input{
  font-size: 14px;
  padding: 0;
}
.kbp-form > div > label {
  border-radius: 10px;
}
.kbp-form > div > label.item-input {
	padding: 15px 0 15px 16px;
}
span.input-label{
	width: 85px;
}
a.kpb-forgot-password{
	font-size:11px;
	margin-right:12px;
	position:relative;
}

/* Header */
.kpb-header {
	width:100%;
	height: 85px;
	background-color: #1c3753;
}
.kpb-header::after{
	clear:both;
}
.kpb-header-left {
	width:80%;
	float:left;
}
.kpb-header-left > img {
	width: 60%;
	min-width: 190px;
	margin: 24px 0 0 21px;
}
.kpb-header-right {
	width: 20%;
	float:right;
}
.kpb-header-right img {
	width: 100%;
	max-width: 50px;
	margin: 18px 21px 0 0;
}
/* Home */
.home {
    background: url(../img/bg-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: local;
    width:100%;
    z-index: 2;
}

/* Floating */
.item h6.kbp-left {
	font-size: 14px;
}
.kbp-left {
	float:left;
}
.kbp-right {
	float: right;
}
/* Loading */
.kpb-loading-wrapper{
	width: 100%;
	text-align: center;
}
/* Menu */
.kpb-menu {
  width: 100%;
}
.kpb-menu > ul {
  padding: 0px;
  margin: 0px;
  	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.kpb-menu > ul > li {
	position: relative;
	height: 45px;
  width: 33.3333%;
  list-style: none;
  text-align: center;
  padding: 11px 0 0 4%;
  font-size: 12px;
  margin: 0;
  border-right: 1pt solid #EFEFEF;
  border-bottom: 1pt solid #EFEFEF;
  box-sizing: border-box;
  float: left;
}
.kpb-menu > ul > li:last-child {
	border-right: none;
}
.kpb-menu > ul > li > img,
.kpb-menu > ul > li > a > img {
	position: absolute;
	top: 50%;
	left: 7%;
	height: auto;
	width: 18px;
	margin: -9px 0 0 0;
}
.kpb-menu > ul > li > p,
.kpb-menu > ul > li > a > p {
	margin: 0 0 0 0;
	font-size: 15px;
	color: black;
}
div#menu-profile {
	width: 100%;
}
div#menu-profile > ul {
	margin:0;
	padding:0;
}
div#menu-profile > ul > li {
  background-color: #485869;
  text-align: center;
  padding: 12px 0px;
  color : #FFFFFF;
  font-size: 11px;
  margin: 0px -2px;
  display: inline-block;
}
div#menu-profile > ul > li:nth-child(1){
	width:50%;
}
div#menu-profile > ul > li:nth-child(2){
	width:50%;
	border-left: 2px solid #FFFFFF;
}


div#kpb-menu-campaigns {
  width: 100%;

  color:#FFF;
}
div#kpb-menu-campaigns > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin:0;
	padding:0;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	z-index: 100;
}

div#kpb-menu-campaigns > ul > li {
  background-color: #485869;
  text-align: center;
  padding: 12px 0px;
  font-size: 11px;
  margin: 0px -2px;
  float: left;
}
div#kpb-menu-campaigns > ul > li:nth-child(1){
	width:32%;
	border-right:2px solid white;
}
div#kpb-menu-campaigns > ul > li:nth-child(2){
	width:38%;
	border-right:2px solid white;
}
div#kpb-menu-campaigns > ul > li:nth-child(3){
	border-right:0;
	width: 31%;
}
div#kpb-menu-campaigns >  ul > li.active {
	background-color: #325f8c;
}
/* Note */
.kbp-member-note {
	margin: 0 0 55px 0;
	color:#FFF;
	font-size: 18px;
	text-align:center;
	font-weight: bold;
}
/* Profile */
.kpb-profile {
  height: 130px;
  width: 100%;
}
.kpb-profile {
  background-color: #eff7ff;
}
.kpb-profile-img {
  float: left;
}
.kpb-profile-img > img {
  margin: 22px 28px;
}
.kpb-profile-info {
  width: auto;
  height:100%;
}
.kpb-profile-info > h3 {
  padding-top: 22px;
  font-size: 18px;
  font-weight:bold;
}
.kpb-profile-info > h4 {
  font-size: 14px;
}

/* Select */

.kbp-select{
	width: 86%;
	border: 0px;
}

/* Page 2 */
.kpb-top-page2{
	width:100%;
	background-color:#eff7ff;
	text-align:center;
	padding: 10px 0;
	font-size: 14px;
	color: #657381;
}


/* Campaign Page 2  */

#sme-campaign{
	background-color:#FFFFFF;
	color:#000;
	margin-bottom: 20px;
}
/* section top */
.sme-top{
	width:100%;
}
.sme-left{
	float:left;
	width:30%;
}
.sme-left img {
	width:100%;
	height:65px;
}
.sme-right{
	float:right;
	width:68%;
}
.sme-right h3 {
	margin-top:10px;
	font-size:16px;
}

/* section bottom */
.sme-bottom{
	width:100%;
	padding:0 15px;
}
.sme-bottom p {
	font-size:9px;
	color:#909090;
}
.sme-bottom h4 {
	font-size:11px;
}
ul#sme-1{
	margin-top:5px;
}
ul#sme-1>li{
	display:inline-block;
	margin: 0 -2px;
	width:33.333%;
	padding:10px 0;
	border-right:1px solid #F0F0F0;
	text-align:center;
}
ul#sme-1>li:nth-child(3){
	border-right:0;
}
ul#sme-1>li:nth-last-child(1){
	border-right:0px;
}

/* Tab 2 */

/* Tab 3 */

.img-private {
	width:100%;
	padding-bottom:20px;
}
.img-private img {
	width:40px;
	margin-left:44%;
	margin-top:30px;
}
.img-private p {
	width:85%;
	margin:auto;
	text-align:center;
	color:#858585;
}
.input-private {
	margin:0 20px;
	padding-bottom:20px;
}
.input-private label.item{
	border:0px;
	border-radius:6px;
}
.input-private label input {
	border:0px;
}
.input-private button.button {
	margin-top:20px;
}

/* Page 3 */
.page-3-top {
	padding:10px 20px;
}
.app-padding-p3 {
	padding: 0 10%;
}
#get-funded-form{
	margin-top: 30px;
}
#get-funded-form div.list{
	margin-bottom: 20px;
}
#get-funded-form div label.item-input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 70px;
	padding: 0 20px 0 20px;
	border-radius: 10px;
	background-color: #FFF;
	border: none;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
#get-funded-form div label span.input-label{
	width: 140px;
	padding: 0;
	margin: 26px 0 0 0;
	font-size: 14px;
	color: black;
}
#get-funded-form > div > label.item-input > input,
#get-funded-form > div > label.item-input > select {
	padding: 0 15px;
	margin: 17px 0 0 0;
}
#get-funded-form div.estimated::before{
	clear:both;
}
#get-funded-form div.estimated::after{
	clear:both;
}
#get-funded-form div.estimated{
	width:100%;
	float:left;
}
#get-funded-form div.estimated label.estimated-annual{
	width:100%;
}
#get-funded-form div label.mata-uang {
	width:100%;
	margin:4px 5px;
	padding:10.5px 5px;
}
#get-funded-form > div.list.estimated > div{
	padding:0 !important;
	margin-left:-5px !important;
}
#get-funded-form > div.list.estimated > div > div.kbp-select-right{
	width:100% !important;
	margin-right:- 15px;
}
#get-funded-form > div.list.estimated > div > div.kbp-select-right > label{
	position: relative;
}
#get-funded-form > div.list.estimated > div > div.kbp-select-right > label::before{
	content:'';
    right:6px; top:0px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
#get-funded-form > div.list.estimated > div > div.kbp-select-right > label::after{
	content:'<>';
	-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:25%;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
#get-funded-form > div.list.estimated > div > div.kbp-select-right > label > select{
	padding:3px;
    margin: 0;
    width:100%;
    font-size:10px;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
/* 
	Kpb Select
 */
div.row{
	margin-left:-10px !important;
	
}
#kpb-select{
	width:105% !important;
	margin: -10px 0 -5px 0 !important;
}
#get-funded-form > div > div > div.col.col-50.kpb-col-2{
	margin-left:10px;
	margin-right:-2px;
}
.kpb-col {

}
.kpb-col.point_1 {
	width: 70%;
	max-width: 100%;
	float: left;
}
.kpb-col.point_2 {
	width: 23%;
	max-width: 100%;
	margin: 0 5px 0 0;
	float: right;
}
.kpb-col.point_3 {
	width: 46%;
	max-width: 100%;
	float: left;
}
.kpb-col.point_4 {
	width: 46%;
	max-width: 100%;
	margin: 0 5px 0 0;
	float: right;
}
.kpb-col-2 #kpb-select > div > label {
	margin-left:10px !important;
}

#kpb-select > label{
	position: relative;
	padding: 5px 10px;
	font-size:12px;
}
#kpb-select > label::before{
	content:'';
    right:6px; top:0px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
#kpb-select > label::after{
	content:'<>';
	-webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px;
    top:25%;
    padding:0 0 2px;
    margin: 6px 0 0 0;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
#kpb-select > label > select{
    width:100%;
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 25px 0 0 0;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Kpdb Finance */
.kpb-finance{
	width:100%;
}
.kpb-finance > h6 {
	width: 70%;
	float: left;
	text-align:center;
	font-size: 12px;
	color: black;
}
/* Kpb File Input */
.custom-file-input {
  color: transparent;
  width: 30%;
  padding: 0 0 0 0;
  float: right;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose File';
  color: black;
  display: inline-block;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10px;
  background-color:#657380;
  padding:0 5px;
  margin-left:40%;
  line-height:24px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

/* Details Page */
#detail {
	padding: 0;
	background-color:#F7F7F7;
}
#details-card{
	margin:10px 20px 20px;
	background-color:#FFF;
	padding:15px;
}
#details-card > .row > .details-img {
	width:100%;
}
#details-card > .row > .details-img > img {
	width:100%;
}
#details-desciption p h3 ,
#details-desciption p h3 strong{
	font-size:1rem;
}
#invest:before{
	clear:both;
}
#invest{
	width:100%;
	padding:2px 0;
	background-color: #335F8C;
}
#invest h3 {
	margin:5px 0;
	text-align:center;
	color:#FFF;
}
.kpb-back-btn {
	position: absolute;
	height:42px;
	background-color: transparent;
	border:0;
	color:#FAFAFA;
}
#payment-button img{
	max-width:100%;
	height:64px;
}
.full-height {
	height: 100%;
}
.card-table {
	width: 100%;
}
.card-payment {
	padding:15px;
}
.paynow {
	padding: 0;
	border: 1px;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: gray;
    width: 100%;
    cursor: pointer;
    margin: 3px 0 3px 0;
}
.payblue {
	background-color: #1eb2f6;
}
.label {
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    width: 100%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-waiting {
	background-color: gray;
}
.label-ok {
	background-color: #5cb85c;
}
.invest-wrapper {
	width: 100%;
	text-align: center;
}
.invest-no {
	border: none;
	display: inline-block;
    background: #CAC9C9;
    border-color: #ACABAB;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: #ACABAB;
}
.invest-ok {
	border: none;
	display: inline-block;
    background: #1eb2f6;
    border-color: #1eb2f6;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: #FFFFFF;
}
.center-text {
	text-align: center;
}
.select-payment {
	width: 100%;
	font-size: 13px;
	margin-bottom: 10px;
}
.inputamount{
	border: 1px solid #efefef;
    width: 90%;
    color: #333D50;
    padding: 7px 20px 7px 20px;
    background: #FFF;
    font-size: 18px;
    line-height: 22px;
    border-radius: 30px;
    outline: none;
    margin: 20px 0 20px 0;
}
.paynow-table {
	font-size: 14px;
}
.paynow-table tr td:nth-child(1){
	width: 50%;
}
.kap-button-blue {
	background-color: #1eb2f6;
	color : #FFFFFF;
}
.kap-button-blue:hover,
.kap-button-blue:focus {
	color : #FFFFFF;
}
.kap-button-primary {
	background-color: #335F8C;
	color : #FFFFFF;
}
.kap-button-primary:hover,
.kap-button-primary:focus {
	color : #FFFFFF;	
}