/* custom */
.button.button-positive.join_now {
	height: 66px;
	margin: 0 0 0 0;
	text-align: center;
	font-size: 18px;
	color: white;
	font-weight: bold;
}
.button.button-positive.join_now.point_1 {
	margin: 0 0 20px 0;
}
.button-clear > .ion-close-round {
	color: white;
}
/* custom */



/* default */
.default {
	position: relative;
	height: auto;
	width: 100%;
	width: -webkit-calc((100% - 15px*0) / 1);
  	width: calc((100% - 15px*0) / 1);
	padding: 0;
	margin: 0;
}
.grid_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-lines: multiple;
	-moz-box-lines: multiple;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
/* /default */



/* login */
.login_logo {
	margin: 150px 0 20px 0;
}
.login_logo > img {
	height: auto;
	width: 100%;
}
.login_title {
	margin: 0 0 545px 0;
	text-align: center;
	font-size: 18px;
	color: white;
	font-weight: bold;
}
/* login */



/* sign up */
.my_logo {
	height: 36px;
	margin: 70px 0 50px 0;
}
.my_logo > img {
	position: absolute;
	top: 0;
	left: 50%;
	height: auto;
	width: 345px;
	margin: 0 0 0 -172.5px;
}
/* sign up */



/* dashboard */
.my_g_f_button {
	height: 45px;
    width: 100%;
    padding: 13px 0 0 0;
    background: #485868;
    text-align: center;
    font-size: 14px;
    color: white;
}
.my_g_f_button:active,
.my_g_f_button:hover,
.my_g_f_button.active {
	background: #335f8c;
}
.my_campaign {
	padding: 30px 0;
	background: #f7f7f7;
}
.my_c_list {
	width: 85%;
	margin: 0 7.5%;
}
.my_c_list > li {
	position: relative;
	width: 100%;
	padding: 25px 25px;
	margin: 0 0 25px 0;
	background: white;
	border: 2px solid #e6e6e6;
	overflow: hidden;
	border-radius: 10px;
}
.my_c_list > li:last-child {
	margin: 0;
}
.my_c_l_title,
.my_c_l_des,
.my_c_l_progress {
	width: 75%;
}
.my_c_l_title {
	margin: 0 0 15px 0;
	font-size: 20px;
	color: black;
	font-weight: bold;
}
.my_c_l_des > .country,
.my_c_l_des > .industry {
	float: left;
	width: 48%;
}
.my_c_l_des > .country > span,
.my_c_l_des > .industry > span {
	font-size: 14px;
	color: #838383;
}
.my_c_l_des > .country {
	margin: 0 4% 0 0;
}
.my_c_l_progress {
	height: 15px;
	margin: 15px 0 0 0;
	background: #335f8c;
}
.my_c_l_progress > .my_progress {
	height: 100%;
	background: #24d771;
}
.my_c_l_img {
	position: absolute;
	top: -2px;
	right: -2px;
	height: 120px;
	width: 22%;
	overflow: hidden;
}
.my_c_l_img > img {
	height: auto;
	width: 100%;
}
.m_c_l_view {
	width: 100%;
	margin: 15px 0 0 0;
}
.m_c_l_view > a {
	font-size: 16px;
	color: #305f8d;
	font-weight: bold;
}
/* dashboard */