html {
       font-family: sans-serif;
       -webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
}
body {
       margin: 0;
}
html {
       font-size: 10px;
}
body {
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-size: 14px;
       line-height: 1.42857143;
       color: #fff;
       height: 100%;
       margin: 0;
       background: #e9e5dc; /* Old browsers */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47759e', endColorstr='#081F33',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
       background-repeat: no-repeat;
       background-attachment: fixed;
}
#box {
       width: 380px;
       height: 450px;
       background-color: #231f20;
       margin: 0 auto;
       position: absolute;
       left: 50%;
       top: 50%;
       margin-top: -260px;
       margin-left: -190px;
       -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
       -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
       box-shadow: 1px 2px 10px rgba(0, 0, 0, 1);

}
#top_header {
       width: 100%;
       margin: 0;
       padding-top: 25px;
}
#top_header a{
       display: block;
       text-align: center;
}
#top_header img.logo {
       /*
              max-width: 130px;
       */
}

#top_header > h5 {
       text-align: center;
       font-size: 12px;
       color: #424242;
       line-height: 1.6;
       margin: 0;
       font-weight: 400;
       padding: 15px 0;
       color: #aaa;
}

#inputs {
       width: 100%;
       height: 100%;
       margin: 0 auto;
       position: relative;
}

input[type=text], input[type=password] {
       width: 90%;
       height: 48px;
       position: relative;
       margin: 0 auto;
       display: block;
       margin-bottom: 10px;
       padding: 15px;
       box-sizing: border-box;
       font-size: 13px;
       background: #fef3c8;
}
input[type=submit] {
       width: 140px;
       height: 40px;
       position: relative;
       margin: 0 auto;
       display: block;
       margin-bottom: 10px;
       padding: 15px;
       box-sizing: border-box;
       font-size: 13px;

}

input[type=text], input[type=password] {
       border: thin solid #ddd;
       color: #4f4f4f;
       font-size: 13px;
}

input[type=text]:hover, input[type=password]:hover {
       border: thin solid #47759e;
}

input[type=text]:focus, input[type=password]:focus {
       border: thin solid #ddd;
       -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
       -o-transition: all .4s ease;
       transition: all .4s ease;
       border: thin solid #ffcc00;
       background: #fff;
       outline: none;
}

input[type=submit] {
       color: #000;
       font-size: 16px;
       background-color: #fff;
       background-color: #ffcc00;
       border: 0;
       transition: all .2s ease;
       cursor: pointer;
       font-weight: 100;
       padding: 10px;
       vertical-align: middle;
}

input[type=submit]:hover {
       background-color: #ffe991;
       color: #221f1f;
}
input[type=submit]:focus {
       outline: none;
       border: 0;
}

#bottom {
       width: 90%;
       margin: 50px auto;
       padding: 0 0;
       margin-top: -10px;
       vertical-align: middle;

}

.squared-check {
       position: relative;
       margin: 10px auto;

       float: right;
}
.squared-check label {
       width: 19px;
       height: 19px;
       cursor: pointer;
       position: absolute;
       left: 2px;
       top: 2px;
       background: white;
       border: 1px solid #999;
       display: inline-block; }

.cb-label {
       color: #fff;
       display: inline-block;
       margin: 3px 30px 0px 10px;
       font-size: 13px;
}

.squared-check label:after {
       content: '';
       width: 9px;
       height: 5px;
       position: absolute;
       top: 5px;
       left: 4px;
       border: 2px solid #666;
       border-top: none;
       border-right: none;
       background: transparent;
       opacity: 0;
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       transform: rotate(-45deg); }

.squared-check label:hover::after {
       opacity: 0.3; }

.squared-check input[type=checkbox] {
       visibility: hidden; }

.squared-check input[type=checkbox]:checked + label:after {
       opacity: 1; }

a {
       text-decoration: none;
       color: #999;
       font-size: 13px;
       transition: color .3s ease;
       outline: none;
}
a:hover{
       color: #333;
}

.right_a {
       float: right;
       margin: 5px 0 0 0;
}
.form-controlC {
       display: block;
       width: 100%;
       position: relative;
}
.loginBottom {
       display: block;
       width: 100%;
       position: relative;  
}
.form-control {
       display: block;
       width: 100%;
       position: relative;
}
.form-control i{
       position: absolute;
       right: 40px;
       top: 12px;
       color: #555;
       font-size: 24px;
}
.top {
       margin: 10px auto;
       width: 93%;
}
.texttop{
       text-align: center;
       font-size: 12px;
       font-weight: 600;
       color: #fff;
}